---
import Deathstalker from "../../assets/guide/hero_tree/deathstalker.webp";
---

<span class="inline-block text-sub">
  <img
    src={Deathstalker.src}
    alt="Ловчий смерти"
    class="w-[18px] h-[18px] mr-[5px] inline"
  />Ловчий смерти [DS]
</span>
