---
import Fatebound from "../../assets/guide/hero_tree/fatebound.webp";
---

<span class="inline-block text-orange-400">
  <img
    src={Fatebound.src}
    alt="Служитель судьбы"
    class="w-[18px] h-[18px] mr-[5px] inline"
  />Служитель судьбы [FB]
</span>
