---
import Trickster from "../../assets/guide/hero_tree/trickster.webp";
---

<span class="inline-block text-hover">
  <img
    src={Trickster.src}
    alt="Ловкач"
    class="w-[18px] h-[18px] mr-[5px] inline top-[5px]"
  /><span>Ловкач [Trickster]</span>
</span>
