---
import Trickster from "../../assets/guide/hero_tree/trickster.webp";
---

<div class="inline-block">
  <img
    src={Trickster.src}
    alt="Ловкач"
    class="w-[18px] h-[18px] mr-[5px] inline top-[5px]"
  /><span class="text-blue-400">Ловкач [Trickster]</span>
</div>
