---
import WH from "../WH.astro";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span>Комплект:</span>
    <li>
      <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=1808&ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Дымовой покров внезапного затмения"
        href="https://www.wowhead.com/ru/item=237662/дымовой-покров-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Штаны внезапного затмения"
        href="https://www.wowhead.com/ru/item=237663/штаны-внезапного-затмения?ilvl=723"
      />
    </li>
    <span
      >Вы можете носить как все 5 вещей из комплекта, так и заменить вообще
      любой слот, так как у ликвидации всё очень близко</span
    >
    <span>Вещи из катализатора (оффсеты):</span>
    <li>
      <WH
        text="Поручи внезапного затмения"
        href="https://www.wowhead.com/ru/item=237660/поручи-внезапного-затмения?bonus=1808&ilvl=723"
      /> - в большинстве случаев не подходит, так как в запястья крафт
    </li>
    <li>
      <WH
        text="Ремешок внезапного затмения"
        href="https://www.wowhead.com/ru/item=237661/ремешок-внезапного-затмения?ilvl=723"
      /> - возможный вариант, но в большинстве случаев не нужен. Скорость набирается
      другими слотами.
    </li>
    <li>
      <WH
        text="Сапоги с лезвиями внезапного затмения"
        href="https://www.wowhead.com/ru/item=237666/сапоги-с-лезвиями-внезапного-затмения?ilvl=723"
      /> - не подходят, в этом слоте редкие ботинки на усиление плаща
    </li>
    <li>
      <WH
        text="Накидка внезапного затмения"
        href="https://www.wowhead.com/ru/item=237659/накидка-внезапного-затмения?ilvl=723"
      /> - да, они его добавили, но как его получить из катилизатора (а главное зачем?)
      непонятно
    </li>
    <span class="py-[20px]">
      2 части (11.5% <FB />): <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> наносит на 10% больше урона и действует на 4 сек. дольше. Когда срабатывает
      <WH
        text="Крайний случай"
        href="https://www.wowhead.com/ru/spell=453457/крайний-случай"
      />, вы подбрасываете дополнительную <WH
        text="Счастливую монетку"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      />. <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> теперь вызывает срабатывание <WH
        text="Крайниего случая"
        href="https://www.wowhead.com/ru/spell=453457/крайний-случай"
      />.
    </span>
    <span class="pb-[20px]">
      2 части (6.6% <DS />): Пока действует <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      />, эффективность наносящих урон эффектов и прибавок к урону <DS /> повышается
      на 60%.
    </span>
    <span class="pb-[20px]">
      4 части (20.6% <FB />): Пока на вас действует
      <WH
        text="Счастливая монетка"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      />, время восстановления <WH
        text="Знака смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      /> сокращается на 30 сек, а <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> – на 15 сек.
    </span>
    <span class="pb-[20px]">
      4 части (12% <DS />): <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> действует на 3 сек. дольше. При активации способность поглощает эффект действующей
      <WH
        text="Метки ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457160/метка-ловчего-смерти"
      />.
    </span>
    <Comment>
      Единственный сет за очень долгое время который кардинально меняет геймплей
      (ну не сам геймплей, а кд бурстов). Очень сильный сет для <FB />.
      Гарантирует прок <WH
        text="Счастливой монетки"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      /> с пулла и делает его 1.5 минутным. Так же позволяет ему хотя бы теоретически играть
      в ключах. Для <DS /> сет абсолютно проходной и пассивный. Довольно сильный
      в ключах, но на геймплей никак не влияет, кроме того, что заставляет играть
      с двумя <WH
        text="Отравляющими уколами"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      />
    </Comment>
  </ul>
</div>
