---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <span
    >Эта ротация подойдет для низких ключей или если вам не нравится, что всякие
    дх и ханты "стирают пак" пока вы вешаете доты. Она не сильно отличается от
    обычной, но ее суть в том, чтобы как можно быстрее зайти в бурст окно,
    игнорируя обновление кровотечений (так как пак все равно умрет очень
    быстро).
  </span>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
     x2-x3 в одну цель (в зависимости от количества целей, х2 - если 4-5 целей,
    х3 - если больше 5 целей). Если у вас нету проблем с развешиванием на разные
    цели, то можете повесить на разные.
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
  </li>
  <li>
    <WH
      text="Мясорубка"
      href="https://www.wowhead.com/ru/spell=315496/мясорубка"
    />
  </li>
  <li>
    <WH
      text="Знак смерти"
      href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
    />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    />
  </li>

  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> (макрос)
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> через 2 сек после <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />
  </li>
  <li>
    <WH
      text="Прах души угля"
      href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=489&spec=259"
    /> через 3 сек после <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />, чтобы получить 20% ловкости
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Кровавый вихрь"
      href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
    />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    /> сразу после окончания предыдущего
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> после окончания предыдущего (главное чтобы последние тики от <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> были под баффом)
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> за 3 секунды до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф от <WH
      text="Мастера-убийцы"
      href="https://www.wowhead.com/ru/spell=256735/мастер-убийца"
    /> попал на последний тик
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" /> х2
    - х3 в основную цель (если жива, что вряд-ли), либо в живые цели.
  </li>
  <iframe
    src="https://www.youtube.com/embed/ztip9Jw_owg"
    class="mt-[20px] self-center w-[320px] h-[180px] lg:w-[480px] lg:h-[270px] 2xl:w-[640px] 2xl:h-[360px]"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</ul>
