---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
---

<section
  id={assaMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      В первом сезоне, на удивление, у ликвидации довольно мало
      "зафиксированных" вещей. Почти все вещи (даже редкие) можно заменить
      аналогами с потерей очень незначительного урона (или вообще без потерь).
      По итогу, обязательны лишь 4 вещи из комплекта, 2 крафта, редкое кольцо и
      аксессуар. Все остальные вещи в разных комбинациях можно сделать "бис
      гиром", что увеличивает вариативность. Для своего персонажа всегда
      пользуйтесь <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80"
        target="_blank">Raidbots - Top Gear</a
      >.
    </p>
    <div class="flex flex-wrap max-w-[1024px] text-secondary text-left">
      <input
        type="radio"
        id="tab_one_1"
        name="mytabs_equip"
        checked="checked"
        class="peer/tab_one_1 hidden p-[20px]"
      />
      <label
        for="tab_one_1"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one_1:text-assa peer-checked/tab_one_1:neon-assa"
        >Комплект</label
      >
      <div class="peer-checked/tab_one_1:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <span class="pt-[16px]">
            2 части (~0.9% урона, ~91% аптайм): Когда ваши эффекты кровотечения
            наносят урон, они могут на 8 sec. дать вам эффект <WH
              text="Болезнетворная настойка"
              href="https://www.wowhead.com/ru/spell=458475/болезнетворная-настойка"
            />, увеличивающий урон от яда на 1.0%. Суммируется до 10 раз.
            (Вероятность срабатывания: 15%)
          </span>
          <span class="pt-[16px]">
            4 части (~2.5% урона, ~66% аптайм): Пока у вас не меньше 5 эффектов <WH
              text="Болезнетворной настойки"
              href="https://www.wowhead.com/ru/spell=458475/болезнетворная-настойка"
            />, <WH
              text="Гаррота"
              href="https://www.wowhead.com/ru/spell=703/гаррота"
            />, <WH
              text="Рваная рана"
              href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
            /> и <WH
              text="Кровавый вихрь"
              href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
            /> наносят на 10% больше урона.
          </span>
          <span class="pt-[16px]">
            Комплект очень слабый, полностью пассивный и не требует никакого
            отслеживания.
          </span>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_two_2"
        name="mytabs_equip"
        class="peer/tab_two_2 hidden p-[20px]"
      />
      <label
        for="tab_two_2"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two_2:text-assa peer-checked/tab_two_2:neon-assa"
        >Украшения</label
      >
      <div class="peer-checked/tab_two_2:block w-full order-1 hidden">
        <div
          class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
        >
          <ul class="list-inside list-decimal gap-[20px] flex flex-col">
            <span>
              Я могу крафтить всё, что требуется разбойникам. Вы можете
              ознакомиться с необходимыми реагентами и ценами в моих темах в
              дискорде крафтеров. Сначала вступите в него: <a
                href="https://discord.gg/H4hPwk5uvg"
                class="text-hover hover:opacity-80"
                target="_blank">Дискорд</a
              >. А затем перейти в мои темы: <a
                href="https://discord.com/channels/1048451177194459196/1281197039350448149"
                class="text-hover hover:opacity-80"
                target="_blank">Кузнечное дело</a
              > и <a
                href="https://discord.com/channels/1048451177194459196/1281201672001028096"
                class="text-hover hover:opacity-80"
                target="_blank">Кожевничество</a
              >
            </span>
            <li>
              <WH
                text="Выкованный навеки пронзатель"
                href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=636&spec=259"
              /> + <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> и <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Извивающаяся окантовка доспеха"
                href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
              /> выглядят как самые лучшие первые крафты. Во первых, сначала вы носите
              кинжал в основной руке (мх), что уже дает самую большую прибавку среди
              всех вещей. Затем, когда вы получите кинжал с хранилища или с эпохального
              рейда, вы просто переставляете его во вторую руку (ох), тем самым ничего
              не теряя (это все равно бис крафты). Во вторых, пластину можно сделать
              низкого уровня из героического герба (который вам дадут за задание
              на убийство последнего босса рейда, подойдет даже обычный уровень сложности).
              Пластина не зависит от уровня предмета и всегда даёт +100% к эффекту.
              Тем самым вам не придется тратить 90 эпохальных гребней на второй крафт
              на старте и вы сможете потратить эти 90 гребней на ап других вещей,
              которые дадут намного больший прирост нежели запяться с 619 до 636.
              В основном это будет касаться кинжала с хранилища / эпохального рейда
              или аксессуаров.
            </li>
            <span>Вы можете использовать <WH
              text="Символ Новолуния Симбиоз"
              href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
            /> если планируете играть так же в скрытности / головорезе. Это потеря ~0.3% дпса для ликвидации, но плюс для других специализаций</span>
            <li>
              <WH
                text="Выкованный навеки пронзатель"
                href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=636&spec=259"
              /> + <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> х2. Два кинжала немного лучше на самом старте, но сильно дорого
              по гербам (требуется 2 эпохальных гребня, что будет доступно не сразу).
              Не рекомендую эти крафты, особенно если у вас в планах играть на других
              специализациях.
            </li>
            <li>
              <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              />. Это скорее возможный вариант для ключей. Так же придется
              делать 2 крафта максимального уровня, что потребует много
              эпохальных гербов. На данный момент, в одну цель, симится как 1ый
              вариант при 100% аптайме. В ключах при 80% аптайме. Это очень
              высокий аптайм, который вряд ли удастся хоть где-то поддерживать,
              поэтому смысла в этих крафтах так же не вижу, по крайне мере как
              первые крафты.
            </li>
          </ul>
        </div>
      </div>

      <input
        type="radio"
        id="tab_three_3"
        name="mytabs_equip"
        class="peer/tab_three_3 hidden p-[20px]"
      />
      <label
        for="tab_three_3"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three_3:text-assa peer-checked/tab_three_3:neon-assa text-center"
        >Что фармить?</label
      >
      <div class="peer-checked/tab_three_3:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Проклятый скардинский жилет"
              href="https://www.wowhead.com/ru/item=133284/проклятый-скардинский-жилет?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
            /> [Грим Батол], лучший вариант на замену вещи из комплекта
          </li>
          <li>
            <WH
              text="Связка ключей Аварийное отключение"
              href="https://www.wowhead.com/ru/item=221077/связка-ключей-аварийное-отключение?bonus=8781&ilvl=639&spec=259"
            /> [Каменный Свод], лучшая шея на замену редкой с рейда
          </li>
          <li>
            <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=4786:9948:10299:523&class=4&ilvl=639&spec=259"
            /> [Туманы Тирна Скитта], отличный пояс, пока не получите любой 639 для
            катализатора (или с рейда)
          </li>
          <li>
            <WH
              text="Эхо шагов шептателя"
              href="https://www.wowhead.com/ru/item=221169/эхо-шагов-шептателя?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Город Нитей], отличная замена рейдовым ступням
          </li>
          <li>
            <WH
              text="Накидка покрова кузни"
              href="https://www.wowhead.com/ru/item=221088/накидка-покрова-кузни?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Каменный Свод], даже лучшего рейдового плаща
          </li>
          <li>
            <WH
              text="Перстень Умбрисса"
              href="https://www.wowhead.com/ru/item=133286/перстень-умбрисса?bonus=4786:11342:10299:8781&ilvl=639&spec=259"
            /> [Грим Батол] | <WH
              text="Печать городской стражи"
              href="https://www.wowhead.com/ru/item=162542/печать-городской-стражи?bonus=4786:10047:10299:8781&ilvl=639&spec=259"
            /> [Осада Боралуса], просто хорошие кольца, пока не получите рейдовые
          </li>
          <li>
            <WH
              text="Милость Скардина"
              href="https://www.wowhead.com/ru/item=133282/милость-скардина?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
            /> [Грим Батол]. Учитывая его простоту по сравнению с отыгрышем рейдового
            - лучший аксессуар (если выпадет из хранилища)
          </li>
          <li>
            <WH
              text="Несовершенная сыворотка вознесения"
              href="https://www.wowhead.com/ru/item=225654/несовершенная-сыворотка-вознесения?bonus=10274:10266:3155"
            /> [Вылазки], неплохой аксессуар на старт, но лучше пофармить Грим Батол
          </li>
          <li>
            <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            /> [Ара-Кара] (лучший аксессуар) |
            <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Сияющий Рассвет] | <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            /> [Осада Боралуса], лучшие варианты для 2-го аксессуара
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_four_4"
        name="mytabs_equip"
        class="peer/tab_four_4 hidden p-[20px]"
      />
      <label
        for="tab_four_4"
        class="p-[20px] w-[100%] sm:w-[50%] 2xl:w-[20%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_4:text-hover peer-checked/tab_four_4:neon-hover"
        >BiS</label
      >
      <div class="peer-checked/tab_four_4:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Знак отличия суреки-ревнителя"
              href="https://www.wowhead.com/ru/item=225577/знак-отличия-суреки-ревнителя?bonus=10356:1540"
            /> или <WH
              text="Связка ключей Аварийное отключение"
              href="https://www.wowhead.com/ru/item=221077/связка-ключей-аварийное-отключение?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Проклятый скардинский жилет"
              href="https://www.wowhead.com/ru/item=133284/проклятый-скардинский-жилет?class=4&ilvl=639&spec=259"
            /> или <WH
              text="Ядовитый камуфляж всеядного"
              href="https://www.wowhead.com/ru/item=212433/ядовитый-камуфляж-всеядного?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Пояс: <WH
              text="Натянутые внутренности пожирателя"
              href="https://www.wowhead.com/ru/item=212425/натянутые-внутренности-пожирателя?bonus=523&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Ноги: <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Ступни: <WH
              text="Сапоги с хитиновыми шипами"
              href="https://www.wowhead.com/ru/item=212445/сапоги-с-хитиновыми-шипами?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&crafted-stats=36:49&ilvl=636&spec=259"
            /> + <WH
              text="Извивающаяся окантовка доспеха"
              href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Извивающаяся трихофития"
              href="https://www.wowhead.com/ru/item=225576/извивающаяся-трихофития?bonus=8781&ilvl=639&spec=259"
            /> или <WH
              text="Печать городской стражи"
              href="https://www.wowhead.com/ru/item=162542/печать-городской-стражи?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Вероломный передатчик"
              href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            /> или <WH
              text="Королевская эмблема Неруб'ара."
              href="https://www.wowhead.com/ru/item=212446/королевская-эмблема-нерубара?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Оружие МХ: <WH
              text="Скальпель Трупошва"
              href="https://www.wowhead.com/ru/item=178743/скальпель-трупошва?ilvl=639"
            /> или <WH
              text="Цареубийство"
              href="https://www.wowhead.com/ru/item=225636/цареубийство?bonus=10256"
            />
          </li>
          <li>
            Оружие ОХ: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=636&spec=259"
            /> + <WH
              text="Символ Новолуния Вознесение"
              href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
            />
          </li>
        </ul>
      </div>
      <input
        type="radio"
        id="tab_four_5"
        name="mytabs_equip"
        class="peer/tab_four_5 hidden p-[20px]"
      />
      <label
        for="tab_four_5"
        class="p-[20px] w-[100%] sm:w-[50%] 2xl:w-[20%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_5:text-hover peer-checked/tab_four_5:neon-hover text-center"
        >BiS (ключи)</label
      >
      <div class="peer-checked/tab_four_5:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <span class="my-[20px]"
            >Так как характеристики очень близки, а так же больше нету
            разделения на тираническую или укрепленную неделю, вы можете играть
            полностью в рейдовом гире. Однако, я все таки рекомендую поменять <WH
              text="Вероломный передатчик"
              href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
            /> так как он очень неудобен.</span
          >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Знак отличия суреки-ревнителя"
              href="https://www.wowhead.com/ru/item=225577/знак-отличия-суреки-ревнителя?bonus=10356:1540"
            /> или <WH
              text="Связка ключей Аварийное отключение"
              href="https://www.wowhead.com/ru/item=221077/связка-ключей-аварийное-отключение?bonus=8781&ilvl=639&spec=259"
            /> или <WH
              text="Подвеска следоплета"
              href="https://www.wowhead.com/ru/item=178707/подвеска-следоплета?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Проклятый скардинский жилет"
              href="https://www.wowhead.com/ru/item=133284/проклятый-скардинский-жилет?class=4&ilvl=639&spec=259"
            /> или <WH
              text="Ядовитый камуфляж всеядного"
              href="https://www.wowhead.com/ru/item=212433/ядовитый-камуфляж-всеядного?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Пояс: <WH
              text="Натянутые внутренности пожирателя"
              href="https://www.wowhead.com/ru/item=212425/натянутые-внутренности-пожирателя?bonus=523&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Ноги: <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Ступни: <WH
              text="Сапоги с хитиновыми шипами"
              href="https://www.wowhead.com/ru/item=212445/сапоги-с-хитиновыми-шипами?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&crafted-stats=36:49&ilvl=636&spec=259"
            /> + <WH
              text="Извивающаяся окантовка доспеха"
              href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Извивающаяся трихофития"
              href="https://www.wowhead.com/ru/item=225576/извивающаяся-трихофития?bonus=8781&ilvl=639&spec=259"
            /> или <WH
              text="Печать городской стражи"
              href="https://www.wowhead.com/ru/item=162542/печать-городской-стражи?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Милость Скардина"
              href="https://www.wowhead.com/ru/item=133282/милость-скардина?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            /> или <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> или <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            /> или <WH
              text="Королевская эмблема Неруб'ара."
              href="https://www.wowhead.com/ru/item=212446/королевская-эмблема-нерубара?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Оружие МХ: <WH
              text="Скальпель Трупошва"
              href="https://www.wowhead.com/ru/item=178743/скальпель-трупошва?ilvl=639"
            /> или <WH
              text="Цареубийство"
              href="https://www.wowhead.com/ru/item=225636/цареубийство?bonus=10256"
            />
          </li>
          <li>
            Оружие ОХ: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=636&spec=259"
            /> + <WH
              text="Символ Новолуния Вознесение"
              href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
