---
import WH from "../WH.astro";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_four_5:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Голова: <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=523&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Грудь: <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Плечи: <WH
        text="Дымовой покров внезапного затмения"
        href="https://www.wowhead.com/ru/item=237662/дымовой-покров-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Кисти: <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Ноги: <WH
        text="Штаны внезапного затмения"
        href="https://www.wowhead.com/ru/item=237663/штаны-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Плащ: <WH
        text="Повязки реши"
        href="https://www.wowhead.com/ru/item=235499/повязки-реши?bonus=12399:9893:12256&class=4&hero=52&ilvl=730&spec=259"
      />
    </li>
    <li>
      Крафт 1: <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:8795:11109:8960:523&class=4&hero=52&ilvl=720&spec=259"
      />
    </li>
    <li>
      Ступни: <WH
        text="Укрепленные сандалии захватчика"
        href="https://www.wowhead.com/ru/item=243306/укрепленные-сандалии-захватчика?bonus=13504&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Лилия вечного плетения"
        href="https://www.wowhead.com/ru/item=242494/лилия-вечного-плетения?class=4&hero=52&ilvl=723&spec=259"
      /> (<FB />) | <WH
        text="Ритуальный горн Араза"
        href="https://www.wowhead.com/ru/item=242402/ритуальный-горн-араза?bonus=40:10356:12361:1533:10255&hero=53&ilvl=723&spec=2599"
      /> (<DS />) или <WH
        text="Незыблемая призма Пустоты"
        href="https://www.wowhead.com/ru/item=242396/незыблемая-призма-пустоты?hero=51&spec=261&ilvl=723"
      /> для всех (дает больше оверолла, но меньше урона в боссов)
    </li>
    <li>
      Аксессуар 2: <WH
        text="Астральный усик"
        href="https://www.wowhead.com/ru/item=242395/астральный-усик?class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      МХ (Основное оружие): <WH
        text="Мстительный шип Пустоты"
        href="https://www.wowhead.com/ru/item=237740/мстительный-шип-пустоты?class=4&hero=52&ilvl=723&spec=259"
      /> или ЛЮБОЙ 723 кинжал
    </li>
    <li>
      ОХ (Крафт 2):
      <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&class=4&hero=52&ilvl=720&spec=259"
      />
    </li>
    <span class="text-sub py-3">Вариативные вещи:</span>
    <li>
      Вы можете поменять ЛЮБУЮ вещь из сета и это все равно будет "бис гир", и в
      рейде, и в ключах есть достаточно вариантов для замены, но это не
      обязательно.
    </li>
    <li>
      <WH
        text="Пояс теневого прихожанина"
        href="https://www.wowhead.com/ru/item=221134/пояс-теневого-прихожанина?bonus=523&class=4&hero=52&ilvl=723&spec=259"
      /> [Сияющий Рассвет] | <WH
        text="Жуткий пояс жнеца"
        href="https://www.wowhead.com/ru/item=237557/жуткий-пояс-жнеца?bonus=4800:4786:1533:12361:523&class=4&ilvl=723&spec=259"
      /> | <WH
        text="Шнурованный ремень из трофейной шкуры ползуна"
        href="https://www.wowhead.com/ru/item=238027/шнурованный-ремень-из-трофейной-шкуры-ползуна?bonus=4800:4786:1533:12361:523&class=4&crafted-stats=49:40&ilvl=723&spec=259"
      /> | <WH
        text="Атомный фазовый пояс"
        href="https://www.wowhead.com/ru/item=237533/атомный-фазовый-пояс?bonus=4800:4786:1533:12361:523&class=4&ilvl=723&spec=259"
      /> - подойдет любой.
    </li>
    <li>
      Шея:
      <WH
        text="Усилитель с изысканной резьбой"
        href="https://www.wowhead.com/ru/item=185842/усилитель-с-изысканной-резьбой?bonus=8781&hero=52&ilvl=723&spec=259"
      /> - как основа (но не обязательно), так как подойдут любые шеи, желательно
      без перевеса в универсальность от остальных вещей
    </li>
    <li>
      Кольца:
      <WH
        text="Логическая схема 'Альфа'"
        href="https://www.wowhead.com/ru/item=237567/логическая-схема-альфа?bonus=1533:8781&hero=53&spec=259"
      /> - как основа (но не обязательно), так как подойдут любые кольца, желательно
      без перевеса в универсальность
    </li>
    <Comment
      >Всё это многократно просимлено, но если вы невероятно хотите уменьшить
      скорость, потому что "кто то там так играет" - дело ваше, можно срезать
      для KB билдов 2-3%. Это уменьшит ваш ст и увеличит аое. Однако, для Bleed
      билда - скорость очень важна, и там вы наоборот можете развлекаться
      увеличивая её (что лучше в симе) до 20%. Это увеличивает и оверолл и ст,
      но уменьшает аое (да, оверолл это не только аое). Естественно вы можете
      играть и с 5% скорости, это даже не будет сильно отличаться в оверолле, но
      будет очень сильно заметно по ощущениям и дпсу в одну цель. Выбор всегда
      за вами :)
    </Comment>
  </ul>
</div>
