---
import WH from "../WH.astro";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
---

<div class="peer-checked/tab_three_3:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >Так как почти любой слот вы можете заменить крафтом, я не буду писать
      вещи для базовых крафт слотов. Ниже я напишу приоритет фарма / того что
      брать в волте с ключей</span
    >
    <li>
      Если вы НЕ КРАФТИТЕ кинжал, то фармите любой кинжал с 10+ ключей или
      любого возможного для вас уровня. Но лучше просто скрафтите и пропустите
      этот пункт
    </li>
    <li>
      <WH
        text="Перстень приората"
        href="https://www.wowhead.com/ru/item=219308/перстень-приората?ilvl=723"
      /> для <DS /> | <WH
        text="Лилия вечного плетения"
        href="https://www.wowhead.com/ru/item=242494/лилия-вечного-плетения?ilvl=723"
      /> для <FB />
    </li>
    <li>
      <WH
        text="Усиливающий кристалл Ануб'иккаджа"
        href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3215:12361&class=4&ilvl=723&spec=259"
      /> как универсальный вариант для ключей. Или <WH
        text="Кокон выводка Ара-Кары"
        href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?bonus=4786:3215:12361&ilvl=723&spec=259"
      />. <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1559:12361&class=4&ilvl=723&spec=259"
      /> немного понерфили, плюс он совершенно не подходит для <FB />, так что
      лучше рассмотреть тринкеты выше.
    </li>
    <li>
      Всё остальное просто берите наивысшего уровня предметов, потому что
      характеристики можно подогнать
    </li>
  </ul>
</div>
