---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_four_5:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >Для bleed билда характеристики почти не отличаются от рейда (как и вещи),
      для KB билда нужно чуть поменьше скорости, поэтому либо нужно сделать
      рекрафт, либо заменить какие то вещи со скоростью.</span
    >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Плечи: <WH
        text="Оплечье с лезвиями призрачного игрока"
        href="https://www.wowhead.com/ru/item=229287/оплечье-с-лезвиями-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Кисти: <WH
        text="Перчатки призрачного игрока"
        href="https://www.wowhead.com/ru/item=229290/перчатки-призрачного-игрока?bonus=11959:12179"
      />
    </li>
    <li>
      Ноги: <WH
        text="Кюлоты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229288/кюлоты-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Кольцо 1: <WH
        text="Бриллиант 'Джастор'"
        href="https://www.wowhead.com/ru/item=231265/бриллиант-джастор?bonus=8781&ilvl=684&spec=261"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик?class=4&ilvl=684&spec=261"
      /> | <WH
        text="Перстень приората"
        href="https://www.wowhead.com/ru/item=219308/перстень-приората?bonus=4786:3170:11996&ilvl=684&spec=259"
      />
    </li>
    <li>
      Аксессуар 2: <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1514:11996&ilvl=684&spec=261"
      />
    </li>
    <li>
      МХ (Основное оружие): <WH
        text="Перфоратор случайных чисел"
        href="https://www.wowhead.com/ru/item=231266/перфоратор-случайных-чисел?bonus=1527:11996:11964&ilvl=684&spec=259"
      /> или ЛЮБОЙ 684 кинжал
    </li>
    <span class="text-sub py-3">Вариативные вещи:</span>
    <li>
      Вы можете носить все 5 вещей из комплекта (<WH
        text="Проклятый лик призрачного игрока"
        href="https://www.wowhead.com/ru/item=229289/проклятый-лик-призрачного-игрока?bonus=1808&ilvl=684"
      /> + <WH
        text="Жилет призрачного игрока"
        href="https://www.wowhead.com/ru/item=229292/жилет-призрачного-игрока?ilvl=684"
      />) или заменить одну из этих вещей на <WH
        text="Шлем праведного рыцаря"
        href="https://www.wowhead.com/ru/item=221125/шлем-праведного-рыцаря?bonus=4786:3170:11996:523&ilvl=684&spec=259"
      /> | <WH
        text="Маска-фильтр с водокачки"
        href="https://www.wowhead.com/ru/item=234498/маска-фильтр-с-водокачки?bonus=4786:1527:11996:523&ilvl=684&spec=259"
      /> или <WH
        text="Жилет представителя Торговой компании"
        href="https://www.wowhead.com/ru/item=235417/жилет-представителя-торговой-компании?bonus=4786:3170:11996&ilvl=684&spec=259"
      /> | <WH
        text="Жилет сокрытых тайн"
        href="https://www.wowhead.com/ru/item=178795/жилет-сокрытых-тайн?bonus=4786:9987:11996&ilvl=684&spec=259"
      />
    </li>
    <li>
      <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=681&spec=259"
      /> | <WH
        text="Освященный плащ"
        href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:11109:8960:8791&ilvl=681&spec=259"
      /> | <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=681&spec=259"
      />. Либо x2 <WH
        text="Рассветная подкладка"
        href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
      />, либо 1 <WH
        text="Рассветная подкладка"
        href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
      /> + <WH
        text="Рукоять благословенного оружия"
        href="https://www.wowhead.com/ru/item=219497/рукоять-благословенного-оружия"
      />. Украшения дают ОЧЕНЬ маленькую прибавку, поэтому вы можете играть
      вообще с любыми, разница не достигает и 0.5%. На замену не крафт вещам
      любые 684: крит + искусность для KB, скорость + искусность для Bleed
      (подробнее смотреть в разделе характеристик)
    </li>
    <li>
      <WH
        text="Ботинки-спиноломы"
        href="https://www.wowhead.com/ru/item=221071/ботинки-спиноломы?bonus=4786:3170:11996&ilvl=684&spec=259"
      /> [Искроварня] | <WH
        text="Драгоценные ботфорты машиниста"
        href="https://www.wowhead.com/ru/item=168975/драгоценные-ботфорты-машиниста?bonus=4786:10067:11996&ilvl=684&spec=259"
      /> [Операция "Мехагон"] | <WH
        text="Сапоги стойкого стража"
        href="https://www.wowhead.com/ru/item=221120/сапоги-стойкого-стража?bonus=4786:3170:11996&ilvl=684&spec=259"
      /> [Приорат Священного Пламени] | <WH
        text="Башмаки поверженного узурпатора"
        href="https://www.wowhead.com/ru/item=178797/башмаки-поверженного-узурпатора?bonus=4786:9987:11996&ilvl=684&spec=259"
      /> [Театр Боли]. С любыми из этих ботинок можно сделать "BiS" гир.
    </li>
    <li>
      <WH
        text="Пояс беспринципного геолога"
        href="https://www.wowhead.com/ru/item=159725/пояс-беспринципного-геолога?bonus=4786:11359:11996:523&ilvl=684&spec=259"
      /> [Золотая жила] | <WH
        text="Кулачный щит хранителя света"
        href="https://www.wowhead.com/ru/item=221107/кулачный-щит-хранителя-света?bonus=4786:3170:11996:523&ilvl=684&spec=259"
      /> [Расселина Темного Пламени] | <WH
        text="Чемпионский пояс анжинера"
        href="https://www.wowhead.com/ru/item=168957/чемпионский-пояс-анжинера?bonus=4786:10067:11996:523&ilvl=684&spec=259"
      /> [Операция "Мехагон"] - подойдет любой.
    </li>
    <li>
      Шея подойдет любая 684, либо крафтовая 681, характеристики зависят от
      остальных вещей
    </li>
    <li>Любое кольцо 684 с критом, желательно крит + искусность</li>
  </ul>
</div>
