---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
---

<div class="p-4 border border-border rounded-md">
  <label
    for="commentsKB"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="commentsKB"
      name="commentsKB"
      class="peer hidden checkbox-3"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-hover peer-checked:border-gray-700"
    ></span>
    <span class="text-left"> Показать комментарии*</span></label
  >

  <ul
    class="peer-checked:hidden list-inside list-decimal flex flex-col items-start p-[20px] text-left gap-[10px]"
  >
    <Comment class="hidden visible-comment"
      >Основная "сложность" АоЕ ротации заключается в том, что вам нужно каждые
      10 секунд использовать <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      /> (для активации <WH
        text="Едких капель"
        href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
      />) и это вас привязывает к цели. То есть, при смене цели вы первым делом
      (или после того, как повесите кровотечения, если необходимо), должны
      использовать <WH
        text="Расправу"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />. ОСОБЕННО ВАЖНО: никогда не использовать <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> в цель без <WH
        text="Едких капель"
        href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
      />, это ваш основной урон. Так же необходимо, чтобы в каждом паке, на
      ком-то был дебафф от <WH
        text="Метки ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
      />, чтобы работала сама метка и талант <WH
        text="Исключительная концентрация"
        href="https://www.wowhead.com/ru/spell=457055/исключительная-концентрация"
      /></Comment
    >
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      />
    </li>
    <Comment class="hidden visible-comment"
      >Обязательно начинать с него, чтобы повесить <WH
        text="Метку ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
      />. Если на вас есть бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      />, то лучше начинать с <WH
        text="Гарроты"
        href="https://www.wowhead.com/ru/spell=703/гаррота"
      /></Comment
    >
    <li>
      <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />*
    </li>
    <Comment class="hidden visible-comment"
      >Кп для второй <WH
        text="Рваной раны"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> у вас появятся благодаря <WH
        text="Зазубренному костяному шипу"
        href="https://www.wowhead.com/ru/spell=455352/зазубренные-костяные-шипы"
      /></Comment
    >
    <li>
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />*
    </li>
    <Comment class="hidden visible-comment"
      >Чтобы повесить <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
      /></Comment
    >
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      />
    </li>
    <li>
      <WH
        text="Кровавый вихрь"
        href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
      />
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> [5+ кп]
    </li>
    <li>
      <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />
    </li>
    <li>
      <WH
        text="Знак смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      /> +
      <WH
        text="Перстень приората"
        href="https://www.wowhead.com/ru/item=219308/перстень-приората?bonus=4786:3170:11996&ilvl=678&spec=259"
      /> (или любой другой 2м аксессуар)
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> [5+ кп]
    </li>
    <li>
      <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> + <WH
        text="Лилия вечного плетения"
        href="https://www.wowhead.com/ru/item=242494/лилия-вечного-плетения?class=4&hero=52&ilvl=723&spec=259"
      /> (или любой другой 1.5м аксессуар)
    </li>
    <li>
      <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> [5+ кп] /
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />*
      <Comment class="hidden visible-comment"
        >Чтобы повесить <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
        /></Comment
      >
    </li>
    <li>
      <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />
    </li>
    <li>
      <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> за 8 сек до окончания <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> [5+ кп] /
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />*
      <Comment class="hidden visible-comment"
        >Чтобы повесить <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
        /></Comment
      >
      <li>
        <WH
          text="Скорополоховый чай"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        /> за 6 секунд до конца <WH
          text="Погибель королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        />
      </li>
      <Comment class="hidden visible-comment"
        >Чтобы бафф от <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        /> попал под последние тики <WH
          text="Погибели королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        />. Вы можете пить чай более агрессивно, например выпить за 12 сек до
        конца и за 6 сек, как в одну цель.</Comment
      >
      <li>
        <WH
          text="Отравление"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        />
      </li>
      <Comment class="hidden visible-comment"
        >Во время <WH
          text="Тотальной бойни"
          href="https://www.wowhead.com/ru/spell=381802/тотальная-бойня"
        /> нужно использовать 2 раза <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> (чтобы получить 20% бафф ловкости). Остальные <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> нужно раскидывать после <WH
          text="Погибели королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        /> (или до, если вы уверены, что сможете потом отыграть на фулл <WH
          text="Погибель королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        />)</Comment
      >
    </li>
  </ul>
</div>
