---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      У ликвидации на данный момент 2 варианта рейдового билда с небольшими
      изменениями под клив / аое. В ключах тоже два основных билда:
    </p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. DTB (Dragon-Tempered Blades) билд <WH
          text="Закалка в огне драконов"
          href="https://www.wowhead.com/ru/spell=381801/закалка-в-огне-драконов"
        />
      </li>
      <li>
        2. AP (Arterial Precision) билд <WH
          text="Укол в артерию"
          href="https://www.wowhead.com/ru/spell=400783/укол-в-артерию"
        />
      </li>
      <li>
        3. SBS (Serrated Bone Spike) билд <WH
          text="Зазубренный костяной шипю"
          href="https://www.wowhead.com/ru/spell=385424/зазубренный-костяной-шип"
        />
      </li>
    </ul>
    <p>
      В большинстве случаев лучше играть в DTB билде (<WH
        text="Закалка в огне драконов"
        href="https://www.wowhead.com/ru/spell=381801/закалка-в-огне-драконов"
      />), так как в AP билде (<WH
        text="Укол в артерию"
        href="https://www.wowhead.com/ru/spell=400783/укол-в-артерию"
      />) меньше урона в одну цель, а разница между ними в целом очень мала.
      Билды для ключей без <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> (например AP + DTB) я не рассматриваю, так как невозможно просимить <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      />, а в реальных ключах он дает 3%+ всегда, что делает билды с ним намного
      сильнее.
    </p>
    <Tabs />
  </div>
</section>
