---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
---

<section
  id={assaMenuItems[4].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[4].label} />
  <ul
    class="list-inside list-decimal flex flex-col items-start gap-[10px] text-clamp_text border border-border rounded-md p-[20px]"
  >
    <li>
      Шея: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2
    </li>
    <li>
      Плащ: <WH
        text="Чары для плаща – песнь крылатой грации"
        href="https://www.wowhead.com/ru/item=223731/чары-для-плаща-песнь-крылатой-грации?crafting-quality=6"
      />
    </li>
    <li>
      Грудь: <WH
        text="Чары для нагрудника – кристаллическое сияние"
        href="https://www.wowhead.com/ru/item=223692/чары-для-нагрудника-кристаллическое-сияние?crafting-quality=6"
      />
    </li>
    <li>
      Запястья: <WH
        text="Чары для наручей – песнь брони и избежания"
        href="https://www.wowhead.com/ru/item=223713/чары-для-наручей-песнь-брони-и-избежания?crafting-quality=6"
      />
    </li>
    <li>
      Ноги: <WH
        text="Усиленные штормом накладки для доспехов"
        href="https://www.wowhead.com/ru/item=219911/усиленные-штормом-накладки-для-доспехов?crafting-quality=6"
      />
    </li>
    <li>
      Ступни: <WH
        text="Чары для обуви – ход защитника"
        href="https://www.wowhead.com/ru/item=223656/чары-для-обуви-ход-защитника?crafting-quality=6"
      />
    </li>
    <li>
      Кольца: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2 + обычный энчант на 315 недостающей характеристики (не проклятый, потому
      что характеристики очень близки и невыгодно срезать одну из них). Энчант на
      кольца зависят от вашей текущей экипировки, так что проверяйте в <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80"
        target="_blank"
        >Raidbots: Top Gear
      </a>
    </li>
    <li>
      Оружие (рейд): <WH
        text="Чары для оружия – власть недр"
        href="https://www.wowhead.com/ru/item=223784/чары-для-оружия-власть-недр?crafting-quality=6"
      /> + <WH
        text="Чары для оружия – власть недр"
        href="https://www.wowhead.com/ru/item=223784/чары-для-оружия-власть-недр?crafting-quality=6"
      /> или <WH
        text="Чары для оружия – власть сияющей силы"
        href="https://www.wowhead.com/ru/item=223781/чары-для-оружия-власть-сияющей-силы?crafting-quality=6"
      />
    </li>
    <li>
      Оружие (М+): <WH
        text="Чары для оружия – власть сияющей силы"
        href="https://www.wowhead.com/ru/item=223781/чары-для-оружия-власть-сияющей-силы?crafting-quality=6"
      /> x2
    </li>
    <li>
      Камни (особый): <WH
        text="Профанит апогея"
        href="https://www.wowhead.com/ru/item=213743/профанит-апогея?crafting-quality=6"
      />
    </li>
    <li>
      Камни (обычные): <WH
        text="Рубин искусности"
        href="https://www.wowhead.com/ru/item=213458/рубин-искусности?crafting-quality=6"
      /> + <WH
        text="Изумруд искусности"
        href="https://www.wowhead.com/ru/item=213482/изумруд-искусности?crafting-quality=6"
      /> + <WH
        text="Оникс скорости"
        href="https://www.wowhead.com/ru/item=213494/оникс-скорости?crafting-quality=6"
      /> + <WH
        text="Сапфир скорости"
        href="https://www.wowhead.com/ru/item=213470/сапфир-скорости?crafting-quality=6"
      />. Эти камни нужны для усиления особого камня. Остальные камни ставятся
      на недостающую характеристику. Вы можете воспользоваться рейдботсом,
      только не забудьте поставить чекбокс под профанитом "Only 4+ Colors".
    </li>
    <li>
      Флаконы: <WH
        text="Настой алхимического хаоса"
        href="https://www.wowhead.com/ru/item=212283/настой-алхимического-хаоса?crafting-quality=6"
      />. Он является лучшим, так как у ликвидации все характеристики очень
      близки, а суммарно тут их больше чем на других флаконах.
    </li>
    <li>
      Еда: <WH
        text="Пир полуночного маскарада"
        href="https://www.wowhead.com/ru/item=222733/пир-полуночного-маскарада"
      /> |<WH
        text="Пир божественного дня"
        href="https://www.wowhead.com/ru/item=222732/пир-божественного-дня"
      /> &gt; любая еда на вторичные характеристики
    </li>
    <li>
      Зелья: <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      />
    </li>
    <li>
      Заточки / руны: <WH
        text="Пузырящийся воск"
        href="https://www.wowhead.com/ru/item=220156/пузырящийся-воск"
      /> (<a
        href="https://www.youtube.com/watch?v=o4eOrMj9Mto"
        target="_blank"
        class="text-hover hover:opacity-80">Видео</a
      >) + <WH
        text="Точильный камень из когтестали"
        href="https://www.wowhead.com/ru/item=222504/точильный-камень-из-когтестали"
      />. или 2 заточки
    </li>
    <li>
      Лечебное зелье: <WH
        text="Алгарийское лечебное зелье"
        href="https://www.wowhead.com/ru/item=211880/алгарийское-лечебное-зелье"
      />
    </li>
  </ul>
</section>
