---
import H3 from "../H3.astro";
import WH from "../WH.astro";
---

<div class="pt-[60px] flex flex-col gap-[20px] text-clamp_text">
  <H3 text="Простым языком" />
  <div>
    <ul
      class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
    >
      <span>Для одной цели:</span>
      <li>
        После опенера, описанного выше, вы должны поддерживать на цели
        кровотечения:
        <WH
          text="Гаррота"
          href="https://www.wowhead.com/ru/spell=703/гаррота"
        />
        и <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        />.
      </li>
      <li>
        Использовать <WH
          text="Внезапный удар"
          href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
        /> по проку (в противном случае <WH
          text="Расправа"
          href="https://www.wowhead.com/ru/spell=1329/расправа"
        />) до 5+ кп.
      </li>
      <li>
        Поддерживать 2 стака <WH
          text="Отравление"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        /> во время бурстов.
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> используется только под <WH
          text="Погибель королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        />. Если 2 заряда, то на все время действия, если 1 заряд, то под конец
        дебаффа.
      </li>
      <li>
        Под каждый бурст (1 минутный и 2х минутный) у вас должно быть 2 заряда <WH
          text="Отравляющего укола"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> и как минимум 1 заряд <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        /> (который используется под конец дебаффа, чтобы последний тик ударил под
        чаем).
      </li>
    </ul>
    <ul
      class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left mt-[16px]"
    >
      <span>Для нескольких целей:</span>
      <li>
        В каждом паке на ком-то должен висеть дебафф <WH
          text="Метка ловчего смерти"
          href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
        />. Для этого вы должны либо открываться с <WH
          text="Внезапный удар"
          href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
        />, либо на вас должен быть бафф <WH
          text="Непроглядная ночь"
          href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
        />
      </li>
      <li>
        Раскидывать
        <WH
          text="Гарроты"
          href="https://www.wowhead.com/ru/spell=703/гаррота"
        /> на все (или почти все) цели, пока вы под действием <WH
          text="Тотальной бойни"
          href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
        /> (имеет "smart targeting", то есть в приоритете вешается на цели около
        вас без дебаффа). Обычные гарроты в большие паки можно не вешать, лучше повесить
        дополнительные <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> для регенерации энергии.
      </li>
      <li>
        Раскидывать
        <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> на 5 целей, пока вы под действием <WH
          text="Тотальной бойни"
          href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
        />, чтобы получить максимальную пользу от таланта <WH
          text="Запах крови"
          href="https://www.wowhead.com/ptr-2/spell=381799/scent-of-blood?def=117673"
        /> (имеет "smart targeting", то есть в приоритете вешается на цели около
        вас без дебаффа).
      </li>
      <li>
        Всегда поддерживать <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
        /> на цели, которую вы бьете.
      </li>
      <li>
        Использовать
        <WH
          text="Кровавый вихрь"
          href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
        /> только как ДоТ, не нужно им спамить.
      </li>
      <li>
        Набирать кп с помощью
        <WH
          text="Веер клинков"
          href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
        /> если 3 и больше целей, в 2 цели - <WH
          text="Расправа"
          href="https://www.wowhead.com/ru/spell=1329/расправа"
        />
      </li>
      <li>
        Каждый бурст вы должны делать в самую живучую цель, чтобы она
        максимально долго прожила под <WH
          text="Погибелью королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        /> (очень желательно до конца его действия).
      </li>
      <li>
        Под каждый бурст (1 минутный и 2х минутный) у вас должен быть заряд <WH
          text="Отравляющего укола"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> и как минимум 1 заряд <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        />
      </li>
    </ul>
  </div>
  <H3 text="Приоритет способностей для набора кп (builders):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
      - всегда должна быть на цели (если она одна). На всех целях, если вы под баффом
      <WH
        text="Тотальной бойни"
        href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
      />. Так же вы должны добивать 7-ой кп <WH
        text="Гарротой"
        href="https://www.wowhead.com/ru/spell=703/гаррота"
      />, если она не усилена и активен бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      /> (не важно сколько она висит)
    </li>
    <li>
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      /> | <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> (если на цели нету <WH
        text="Едких капель"
        href="https://www.wowhead.com/ru/spell=421976/едкие-капли"
      /> и это не одна цель)
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> (если есть бафф <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      />, либо 3 и больше целей). Не нужно использовать во время бурста, даже с
      баффом.
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      />
    </li>
    <li>
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />
    </li>
  </ul>

  <H3 text="Приоритет завершающих способностей (finishers):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> - должна быть весь бой на цели (если она одна). В АоЕ должно быть как минимум
      5 <WH
        text="Рваных ран"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> (либо на всех, если целей меньше 5). В одну цель нужно обновлять по пандемику.
      Во время <WH
        text="Непроглядной ночи"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      /> обновляется только если скоро закончится (меньше одной секунды)
    </li>
    <li>
      <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      /> - в идеале всегда использовать пока действует предыдущий бафф от <WH
        text="Отравления"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />, чтобы работал талант <WH
        text="Быстрая инъекция"
        href="https://www.wowhead.com/ru/spell=455072/быстрая-инъекция"
      />. Во время бурста всегда нужно поддерживать 2 стака, вне бурстов не
      нужно гнаться за 2мя стаками спамя способности, теперь это чревато авто
      использованием чая.
    </li>
    <li>
      <WH
        text="Кровавый вихрь"
        href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
      /> - используется только если 2+ цели. Вешается как ДоТ, спамить им
      не нужно, обновлять по пандемику.
    </li>
  </ul>
  <H3 text="Приоритет кулдаунов (cooldowns):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Окровавленные клинки"
        href="https://www.wowhead.com/ru/spell=200806/окровавленные-клинки"
      /> хоть и не кулдаун, но логичнее его записать сюда. Когда вам НЕ НУЖНО следить
      за энергией:
      <ul
        class="list-inside list-disc flex flex-col gap-[5px] p-[10px] text-left"
      >
        <li>
          Активен любой бурст: <WH
            text="Знак смерти"
            href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
          /> | <WH
            text="Погибель королей"
            href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
          /> | <WH
            text="Отравляющий укол"
            href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
          />
        </li>
        <li>
          Бафф от <WH
            text="Отравление"
            href="https://www.wowhead.com/ru/spell=32645/отравление"
          /> активен и его оставшееся время 1 сек и меньше
        </li>
        <li>До конца боя 20 и меньше секунд</li>
      </ul>
    </li>
    <li>
      <WH
        text="Знак смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      /> - используется по откату в большинстве случаев. Если вы уверены, что это
      последний бурст, можете его придержать до 35% босса или зелье / бл. На второй
      минуте можно сдвинуть под усиленные гарроты с <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> (если вы не потеряете из-за этого одно использование)
    </li>
    <li>
      <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> - используется по откату. Каждое нечетное использование строго с <WH
        text="Знака смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      />. Перед использованием <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> вы обязательно должны использовать <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      /> и <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> (если 2 заряда, если 1 заряд, то под последние 8 секунд действия)
    </li>
    <li>
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> - используется для обновления усиленных <WH
        text="Гаррот"
        href="https://www.wowhead.com/ru/spell=703/гаррота"
      /> на опенере и дальше под бурсты
    </li>
    <li>
      <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> - используется только под <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />. Один заряд перед <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> (за 1-2 сек), второй сразу по спадению первого. При игре с одним зарядом
      используется за 8 сек до окончания <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />, затем по откату и затем снова под конец <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />
    </li>
    <li>
      <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=456330/хладнокровие"
      /> используется по откату
  </ul>
</div>
