---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
import Sim from "../Sim.astro";
import TalentsRaid from "../../assets/guide/assassination/sim/talents_raid.webp";
import TalentsKeys from "../../assets/guide/assassination/sim/talents_keys.webp";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      Ниже я представлю 2 варианта билдов для рейда и 2 для ключей (отличаются
      только героическими талантами). На данный момент обе ветки очень близки в
      рейде (порядка 2% в пользу служителя судьбы), однако у ловчего смерти есть
      пара багов, исправление которых сделает его сильнее и плюс в нем не нужно
      "следить за энергией", что многим не нравится. В ключах ловчий смерти
      сильнее. Варианты билдов для клива и аое практически не отличаются, о них
      я напишу в рейдовых вкладках под талантами.
    </p>
    <p class="text-blue-500">
      DS - Deathstalker - Ловчий смерти<br />
      FB - Fatebound - Служитель судьбы
    </p>
    <p>
      В ключах сейчас билд только через <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> + <WH
        text="Закалку в огне драконов"
        href="https://www.wowhead.com/ru/spell=381801/закалка-в-огне-драконов"
      />, так как из-за почти обязательных <WH
        text="Зазубренных костяных шипов"
        href="https://www.wowhead.com/ru/spell=455352/зазубренные-костяные-шипы"
      /> не хватает очков талантов для нормального билда через <WH
        text="Укол в артерию"
        href="https://www.wowhead.com/ru/spell=400783/укол-в-артерию"
      />. Так же <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> все еще не симится, поэтому нужно к симам прибавить 3-6%, которые он дает
      в реальности. Ниже я предоставлю разные билды, чтобы показать разницу.
    </p>
    <Tabs />
    <Sim title="Сим талантов в рейде">
      <img
        src={TalentsRaid.src}
        alt="Сим рас в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим талантов в ключе (15 тризна)">
      <img
        src={TalentsKeys.src}
        alt="Сим рас в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
