---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "../Tabs.astro";
import H3 from "../H3.astro";
import AssaOpenerDs from "./Assassination_opener_ds.astro";
import AssaOpenerFb from "./Assassination_opener_fb.astro";
import AssaOpenerAoeDs from "./Assassination_opener_aoe_ds.astro";
import AssaOpenerAoeFb from "./Assassination_opener_aoe_fb.astro";
import AssaOpenerApl from "./Assassination_apl.astro";
---

<section
  id={assaMenuItems[5].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-center"
>
  <H2 text={assaMenuItems[5].label} />
  <H3 text="Условия использования финишеров | трата очков серии приемов (кп)" />
  <span class="font-medium text-clamp_text text-left w-full"
    >Все завершающие приемы используются на:</span
  >
  <ul
    class="text-clamp_text pt-[10px] list-inside list-square flex flex-col items-start gap-[5px] p-[20px] border border-border rounded-md text-left self-start"
  >
    <li>
      Если активен бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      />, то только с 7-ми кп (пока не пофиксят баг с <WH
        text="Продолжительная отповедь"
        href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
      />, тогда можно будет разряжаться попадая в них)
    </li>
    <li>
      Если бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      /> неактивен, то всегда с 5+ кп
    </li>
    <li>Специально добивать 6-ой и 7-ой кп не нужно</li>
  </ul>
  <H3 text="Начало боя (опенеры)" />
  <p class="text-clamp_text pt-[10px] pb-[40px] text-left">
    Начало боя у ликвидации, как и все бурст окна строго фиксированные.
    Единственное что меняется - это <WH
      text="Расправа"
      href="https://www.wowhead.com/ru/spell=1329/расправа"
    /> на <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> при срабатывании <WH
      text="Слепой зоны"
      href="https://www.wowhead.com/ru/spell=121153/слепая-зона"
    /> (теперь это происходит автоматически, никакие макросы и аддоны больше не нужны).
  </p>
  <div
    class="flex flex-wrap max-w-[1024px] min-h-[565px] w-full text-clamp_text content-baseline"
  >
    <Tabs title="Рейд [DS]" id="opener_0" checked="checked" name="opener">
      <AssaOpenerDs />
    </Tabs>

    <Tabs title="Рейд [FB]" id="opener_2" name="opener">
      <AssaOpenerFb />
    </Tabs>

    <Tabs title="АоЕ [DS]" id="opener_1" name="opener">
      <AssaOpenerAoeDs />
    </Tabs>

    <Tabs title="АоЕ [FB]" id="opener_3" name="opener">
      <AssaOpenerAoeFb />
    </Tabs>
  </div>
  <AssaOpenerApl />
</section>
