---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <span
    >Основная "сложность" АоЕ ротации заключается в том, что вам нужно каждые 10
    секунд использовать <WH
      text="Расправа"
      href="https://www.wowhead.com/ru/spell=1329/расправа"
    /> (для активации <WH
      text="Едких капель"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />) и это вас привязывает к цели. То есть, при смене цели вы первым делом
    (или после того, как повесите кровотечения, если необходимо), должны
    использовать <WH
      text="Расправа"
      href="https://www.wowhead.com/ru/spell=1329/расправа"
    />. ОСОБЕННО ВАЖНО: никогда не использовать <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> в цель без <WH
      text="Едких капель"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />, это ваш основной урон (иногда топ1 в аое / топ3 за весь ключ).
  </span>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
     x2-x3 (в зависимости от количества целей)
  </li>
  <li>
    <WH
      text="Мясорубка"
      href="https://www.wowhead.com/ru/spell=315496/мясорубка"
    />
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Знак смерти"
      href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
    />
  </li>
  <li>
    <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    /> (или любой другой аксессуар), вам нужно собрать 2 сферы сразу и последнюю
    через 7-8 сек
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    />
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> (макрос)
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Кровавый вихрь"
      href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
    />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <span
    >&mdash; Три <WH
      text="Гарроты"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    /> используются в окно <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> для того, чтобы обновить первые три пандемик <WH
      text="Гарроты"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    />. В зависимости от количества целей, вы можете их вешать как на другие
    цели, так и в основную цель (2 раза в основную цель - если 5 врагов, 3 раза
    в основную цель - если 7 врагов. Если врагов больше, придется все 3 вешать
    на разные цели). Если вы не уверены, что цели вокруг проживут еще 20 сек, то
    можете использовать <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> вместо <WH
      text="Гарроты"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    /></span
  >
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    /> сразу после окончания предыдущего
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> за 6 секунд до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф попал на последний тик
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> за 3 секунды до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф от <WH
      text="Мастера-убийцы"
      href="https://www.wowhead.com/ru/spell=256735/мастер-убийца"
    /> попал на последний тик
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Кровавый вихрь"
      href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
    />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
</ul>

<p class="pt-[16px] text-left">
  В идеале, за время действия <WH
    text="Тотальной бойни"
    href="https://www.wowhead.com/ru/spell=381802/тотальная-бойня"
  /> развешивать <WH
    text="Рваные раны"
    href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
  /> на 5 целей (чтобы получить 20% бафф ловкости). На опенере это не
  используется, чтобы быстрее запустить кулдауны, но в целом, вы можете сначала
  всех раздотать, а потом начать бурсты с 7-го пункта. Но в таком случае вы
  можете столкнуться с проблемой, что <WH
    text="Веер клинков"
    href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
  /> будет давать вам мало кп, из-за этого опенер сильно растянется.
</p>
