---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> (только использование, не выполнение поручений). Вы можете использовать (не
    активировать) его в любой момент до бурстов
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    до 5+ кп
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Знак смерти"
      href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
    />
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> (активация) | <WH
      text="Милость Скардина"
      href="https://www.wowhead.com/ru/item=133282/милость-скардина?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
    />
  </li>
  <li>
    <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=456330/хладнокровие"
    />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    />
  </li>
  <li>
    <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    до 5+ кп
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> за 12 секунд до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />. Вы можете использовать чай немного раньше, например прямо перед
    следующим <WH
      text="Отравлением"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> + <WH
      text="Гаррота"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    /> (когда <WH
      text="Гаррота"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    /> осталось меньше 5.4 сек)
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> до 5+ кп и <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    /> сразу после окончания предыдущего
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> до 5+ кп и <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
</ul>

<p class="pt-[16px] text-left">
  На опенере вы можете выпить 2 <WH
    text="Скорополохового чая"
    href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
  /> подряд (в последние 12 сек <WH
    text="Погибели королей"
    href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
  />), затем по 1 чаю каждую минуту под <WH
    text="Погибель королей"
    href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
  />, а на экзекуте выпить так же 2 <WH
    text="Скорополохового чая"
    href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
  /> под последний бурст в бою.
</p>
<p class="pt-[16px] text-left">
  Вы можете использовать <WH
    text="Вероломный передатчик"
    href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
  /> еще раньше, главное успеть выполнить задание на старте действия <WH
    text="Знака смерти"
    href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
  /> (время на выполнения заданий - 15 сек).
</p>
