---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <span
    >Основная "сложность" АоЕ ротации заключается в том, что вам нужно каждые 10
    секунд использовать <WH
      text="Расправа"
      href="https://www.wowhead.com/ru/spell=1329/расправа"
    /> (для активации <WH
      text="Едких капель"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />) и это вас привязывает к цели. То есть, при смене цели вы первым делом
    (или после того, как повесите кровотечения, если необходимо), должны
    использовать <WH
      text="Расправа"
      href="https://www.wowhead.com/ru/spell=1329/расправа"
    />. ОСОБЕННО ВАЖНО: никогда не использовать <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> в цель без <WH
      text="Едких капель"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />, это ваш основной урон. Так же теперь необходимо, чтобы в каждом паке, на
    ком то был дебафф от <WH
      text="Метки ловчего смерти"
      href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
    />, поэтому нужно следить за этим.
  </span>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> (чтобы повесить <WH
      text="Метку ловчего смерти"
      href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
    />) или <WH
      text="Гаррота"
      href="https://www.wowhead.com/ru/spell=703/гаррота"
    /> (если на вас есть бафф <WH
      text="Непроглядная ночь"
      href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
    /> с предыдущего пака)
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> (только использование, не выполнение поручений). Вы можете использовать (не
    активировать) его в любой момент до бурстов
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> (если взят <WH
      text="Зазубренный костяной шип"
      href="https://www.wowhead.com/ru/spell=455352/зазубренные-костяные-шипы"
    />)
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" /> (если
    еще не все цели под гарротами)
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> (если не взят <WH
      text="Зазубренный костяной шип"
      href="https://www.wowhead.com/ru/spell=455352/зазубренные-костяные-шипы"
    />, иначе <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />)
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    (чтобы повесить <WH
      text="Едкие капли"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />)
  </li>
  <li>
    <WH
      text="Знак смерти"
      href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
    />
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> (активация) | <WH
      text="Милость Скардина"
      href="https://www.wowhead.com/ru/item=133282/милость-скардина?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
    />
  </li>
  <li>
    <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    /> до 5+ кп
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Веер клинков"
      href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
    /> до 5+ кп
  </li>
  <li>
    <WH
      text="Кровавый вихрь"
      href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
    />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    /> за 8 сек до окончания <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
    (чтобы повесить <WH
      text="Едкие капли"
      href="https://www.wowhead.com/ru/spell=421975/едкие-капли"
    />)
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> за 6 секунд до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф попал на последний тик
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
</ul>

<p class="pt-[16px] text-left">
  Во время <WH
    text="Тотальной бойни"
    href="https://www.wowhead.com/ru/spell=381802/тотальная-бойня"
  /> нужно использовать 2 раза <WH
    text="Рваные раны"
    href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
  /> (чтобы получить 20% бафф ловкости)
</p>
<p class="pt-[16px] text-left">
  <WH
    text="Исчезновение"
    href="https://www.wowhead.com/ru/spell=1856/исчезновение"
  /> + <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  нужно использовать только после спадения баффа <WH
    text="Мастер-убийца"
    href="https://www.wowhead.com/ru/spell=470676/мастер-убийца"
  />, так как из-за бага, бафф не обновляется и не продлевается (и если мобы
  достаточно долго проживут, 10+ сек)
</p>
