---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_two_2:block w-full order-1 hidden">
  <div
    class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
  >
    <ul class="list-inside list-decimal gap-[20px] flex flex-col">
      <span>
        Я могу крафтить всё, что требуется разбойникам. Отправляйте на Мейникс
        (Ревущий Фьорд), цена 5к. Если вы на другом сервере и вам нужен крафт
        через гильдию - пишите в игре / дискорде / на стриме.
      </span>
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=675&spec=259"
        /> + <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> и <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=675&spec=259"
        /> | <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:11109:8960:8791&ilvl=675&spec=259"
        /> + <WH
          text="Извивающаяся окантовка доспеха"
          href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
        /> лучший выбор для рейда.
      </li>
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=675&spec=259"
        /> + <WH
          text="Символ Новолуния Бодрость"
          href="https://www.wowhead.com/ru/item=226033/символ-новолуния-бодрость"
        /> | <WH
          text="Рукоять благословенного оружия"
          href="https://www.wowhead.com/ru/item=219497/рукоять-благословенного-оружия"
        /> и <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=675&spec=259"
        /> | <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:11109:8960:8791&ilvl=675&spec=259"
        /> + <WH
          text="Рассветная подкладка"
          href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
        /> отличный вариант в ключи. Вариант с <WH
          text="Рукоять благословенного оружия"
          href="https://www.wowhead.com/ru/item=219497/рукоять-благословенного-оружия"
        /> симится немного выше в ключи, но зависит от прока, подкладки более стабильны.
      </li>
      <li>
        <WH
          text="Рассветная подкладка"
          href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
        /> х2
      </li>
    </ul>
  </div>
</div>
