---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
---

<section
  id={assaMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      Как и всегда, есть несколько (10) зарезервированных слотов, которые
      определены заранее. 4 вещи из комплекта (без ног), 2 для оружия, 2 для
      аксессуаров, 2 крафта. Поэтому подбирать характеристики вы сможете лишь 6
      оставшимися вещами. Эти 6 вещей могут быть заменены крафтами, однако
      проблема заключается в том, что крафтовые вещи сейчас имеют на 3 уровня
      предметов ниже чем вещи из рейда / хранилища. Поэтому в BiS экипировке
      всего 2 крафта. Так как характеристики у ликвидации очень близки -
      вариантов наборов довольно много, поэтому вам часто придется пользоваться <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >. По другому никак.
    </p>
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207236/lucid-shadewalkers-deathmask?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207234/lucid-shadewalkers-bladed-spaulders?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207239/lucid-shadewalkers-cuirass?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207237/lucid-shadewalkers-clawgrips?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207235/lucid-shadewalkers-chausses?ilvl=489"
        />
      </li>
    </ul>
    <p>
      На данный момент 2 части комплекта сломаны в симе, поэтому все цифры
      некорректны. В целом, так как все характеристики очень близки, вам без
      разницы сет из каких 4 частей собирать, "подогнать" характеристики можно
      без любой вещи из комплекта, но в лучшем случае стоит собрать комплект без
      ног. Одну вещь можно сделать через катализатор уже на первой неделе 10.2
      (второй заряд будет на 2-ой рейдовой неделе), вторую за убийство
      последнего босса в героическом режиме (или 2000 рио). Останется получить 2
      вещи с поиска рейда / обычной / героической сложности.
    </p>
    <H3 text="Крафт" />
    <p>
      Первую искру вы получите сразу с релизом 10.2, затем по 1 искре каждые 2
      недели. Так как по началу очень мало искр, к крафту нужно подходить
      ответственно и обдумать все варианты и возможные специализации / контент,
      которым вы хотите заниматься.
    </p>
    <ul
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        Головорез 1 цель:
        <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        /> + <WH
          text="Запястья / пояс с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        />
      </li>
      <li>
        Головорез ключи:
        <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        /> + <WH
          text="Аркан стихий"
          href="https://www.wowhead.com/ru/item=193001/аркан-стихий?bonus=8782&crafted-stats=32:40&ilvl=486&spec=260"
        /> или любые ботинки / новые украшения
      </li>
      <li>
        Ликвидация 1 цель: <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        /> +
        <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        />
      </li>
      <li>
        Ликвидация ключи: <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        /> +
        <WH
          text="Запястья / пояс с подкладкой из синего шелка"
          href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
        />
      </li>
      <li>
        Скрытность 1 цель: <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        /> +
        <WH
          text="Запястья / пояс с подкладкой из синего шелка"
          href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
        />
      </li>
      <li>
        Скрытность ключи: <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        /> +
        <WH
          text="Запястья / пояс с подкладкой из синего шелка"
          href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
        />
      </li>
    </ul>
    <p>
      Резюмируя информацию выше, я бы рекомендовал первым крафтом делать <WH
        text="Пульсирующий плащ из спор"
        href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
      />, он всего на 2к урона проигрывает лучшему варианту у головореза, но
      является лучшим в ключи и для остальных специализаций, а так же является
      лучшим выбором на освоении рейда. Второй крафт зависит от ваших целей и в
      каких специализациях вы играете.
    </p>
    <Sim title="Одна цель 5 минут" />
    <Sim title="Ключи" />
    <H3 text="Лучшая экипировка (BiS list)" />
    <ul
      class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        Голова: <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207236/lucid-shadewalkers-deathmask?bonus=523&class=4&ilvl=489&spec=260"
        />
      </li>
      <li>
        Шея: <WH
          text="Око вздымающегося пламени"
          href="https://www.wowhead.com/ptr-2/item=207163/eye-of-the-rising-flame?bonus=8782&ilvl=489&spec=259"
        />
      </li>
      <li>
        Плечи: <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207234/lucid-shadewalkers-bladed-spaulders?ilvl=489"
        />
      </li>
      <li>
        Грудь: <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207239/lucid-shadewalkers-cuirass?ilvl=489"
        />
      </li>
      <li>
        Пояс: <WH
          text="Пояс из окровавленной драконьей шкуры"
          href="https://www.wowhead.com/ptr-2/item=207131/bloody-dragonhide-belt?bonus=523&class=4&ilvl=489&spec=259"
        />
      </li>
      <li>
        Ноги: <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207235/lucid-shadewalkers-chausses?ilvl=489"
        />
      </li>
      <li>
        Ступни: <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=259"
        />
      </li>
      <li>
        Запястья: Рейд - <WH
          text="Термические наручники"
          href="https://www.wowhead.com/ru/item=134461/термические-наручники?bonus=523&class=4&ilvl=489&spec=259"
        />
      </li>
      <li>
        Кисти рук: <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ptr-2/item=207237/lucid-shadewalkers-clawgrips?ilvl=489"
        />
      </li>
      <li>
        Кольцо 1: <WH
          text="Кольцо презрения"
          href="https://www.wowhead.com/ru/item=134490/кольцо-презрения?bonus=523&ilvl=489&spec=259"
        />
      </li>
      <li>
        Кольцо 2: <WH
          text="Перстень последнего старейшины"
          href="https://www.wowhead.com/ptr-2/item=207162/signet-of-the-last-elder?bonus=1808&ilvl=489"
        />
      </li>
      <li>
        Аксессуары: <WH
          text="Клеймо-печатка Катаклизма"
          href="https://www.wowhead.com/ptr-2/item=207166/cataclysmic-signet-brand?ilvl=489"
        /> + <WH
          text="Ветвь Сухокожего"
          href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
        />. Это лучшие варианты и для рейда и для ключей.
      </li>
      <span
        >Пока не получите рейдовые аксессуары, хорошим выбором будут: <WH
          text="Ускоряющие песочные часы"
          href="https://www.wowhead.com/ru/item=207566/ускоряющие-песочные-часы?class=4&ilvl=489&spec=260"
        /> или <WH
          text="Зеркало разбитого будущего"
          href="https://www.wowhead.com/ru/item=207581/зеркало-разбитого-будущего?class=4&ilvl=489&spec=260"
        />.</span
      >
      <li>
        Плащ: <WH
          text="Пульсирующий плащ из спор"
          href="https://www.wowhead.com/ru/item=205025/пульсирующий-плащ-из-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
        />
      </li>
      <li>
        Оружие (МХ): <WH
          text="Nick of Time"
          href="https://www.wowhead.com/ptr-2/item=207996/nick-of-time?ilvl=489"
        />
      </li>
      <li>
        Оружие (ОХ): <WH
          text="Nick of Time"
          href="https://www.wowhead.com/ptr-2/item=207996/nick-of-time?ilvl=489"
        />
      </li>
    </ul>
  </div>
</section>
