---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
---

<section
  id={assaMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      Как и всегда, есть несколько (10) зарезервированных слотов, которые
      определены заранее. 4 вещи из комплекта (без ног), 2 для оружия, 2 для
      аксессуаров, 2 крафта. Поэтому подбирать характеристики вы сможете лишь 6
      оставшимися вещами. Эти 6 вещей могут быть заменены крафтами, однако
      проблема заключается в том, что крафтовые вещи сейчас имеют на 3 уровня
      предметов ниже чем вещи из рейда / хранилища. Поэтому в BiS экипировке
      всего 2 крафта. Так как характеристики у ликвидации очень близки -
      вариантов наборов довольно много, поэтому вам часто придется пользоваться <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >. По другому никак.
    </p>
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
        />
      </li>
      <span class="py-[16px]">
        2 части (~5% урона): За каждые 10 ед. израсходованной энергии вы
        получаете эффект <WH
          text="Природная гниль"
          href="https://www.wowhead.com/ru/spell=426568/природная-гниль"
        />, повышающий скорость атаки на 1% и увеличивающий урон от сил природы
        на 1% на 6 sec. Эффекты <WH
          text="Природная гниль"
          href="https://www.wowhead.com/ru/spell=426568/природная-гниль"
        /> могут накладываться друг на друга до 12 раз (каждая способность накладывает
        новые стаки, поэтому время не обновляется для всего баффа, время действия
        стаков после каждой способности - своё). Проковый <WH
          text="Внезапный удар"
          href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
        /> от <WH
          text="Слепой зоны"
          href="https://www.wowhead.com/ru/spell=121153/слепая-зона"
        /> - не даёт стаки, так как не тратит энергию.
      </span>
      <span>
        4 части (~13% урона): Если вы применяете <WH
          text="Отравление"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        />, когда эффект
        <WH
          text="Отравления"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        /> уже действует, способность дополнительно усиливается и вызывает
        <WH
          text="Ядовитый взрыв"
          href="https://www.wowhead.com/ru/spell=426581/ядовитый-взрыв"
        />, который наносит (33% от силы атаки) ед. урона от сил природы
        ближайшим противникам. Цели после 5-й получают уменьшенный урон. Если <WH
          text="Ядовитый взрыв"
          href="https://www.wowhead.com/ru/spell=426581/ядовитый-взрыв"
        /> поражает одну цель, урон увеличивается на 150%.
      </span>
    </ul>
    <H3 text="Украшения" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col mt-[10px]">
        <span class="pb-[10px]">Рейд и ключи:</span>
        <li>
          <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          />. Единственный бонус этого набора в том, что вы можете играть до
          второго крафта с лоу илвл пластиной в запястьях, а ботинки сделать
          максимального илвла и ничего не потеряете, так как пластина не
          улучшается от илвла вещи. В остальном плюсов перед вторым вариантом
          нету. Подходит так же для головореза.
        </li>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2. Лучший выбор и для рейда и для ключей. Также позволяет играть в
          сабе в рейде и в ключах, но не подходит для головореза.
        </li>
      </ul>
    </div>
    <H3 text="Лучшая экипировка (BiS list)" />
    <ul
      class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        Голова: <WH
          text="Личина призрака теней"
          href="https://www.wowhead.com/ru/item=217208/личина-призрака-теней?class=4&ilvl=528&spec=261"
        />
      </li>
      <li>
        Шея: <WH
          text="Око вздымающегося пламени"
          href="https://www.wowhead.com/ru/item=207163/око-вздымающегося-пламени?bonus=8782&ilvl=528&spec=259"
        />
      </li>
      <li>
        Плечи: <WH
          text="Наплечные лезвия призрака теней"
          href="https://www.wowhead.com/ru/item=217210/наплечные-лезвия-призрака-теней?class=4&ilvl=528&spec=261"
        />
      </li>
      <li>
        Грудь: <WH
          text="Вулканический жилет вождя"
          href="https://www.wowhead.com/ru/item=202586/вулканический-жилет-вождя?class=4&ilvl=528&spec=259"
        />
      </li>
      <li>
        Пояс: <WH
          text="Пояс мстительного мечеклюва"
          href="https://www.wowhead.com/ru/item=208432/пояс-мстительного-мечеклюва?bonus=523&ilvl=528&spec=261"
        />
      </li>
      <li>
        Ноги: <WH
          text="Трико призрака теней"
          href="https://www.wowhead.com/ru/item=217209/трико-призрака-теней?class=4&ilvl=528&spec=261"
        />
      </li>
      <li>
        Ступни: <WH
          text="Высокие ботинки искаженного цветка"
          href="https://www.wowhead.com/ru/item=207126/высокие-ботинки-искаженного-цветка?class=4&ilvl=528&spec=260"
        />
      </li>
      <li>
        Запястья: <WH
          text="Зачарованные жизнью путы"
          href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8932:8960:8791:523&class=4&crafted-stats=32:40&ilvl=525&spec=259"
        />
      </li>
      <li>
        Кисти рук: <WH
          text="Боевые перчатки призрака теней"
          href="https://www.wowhead.com/ru/item=217207/боевые-перчатки-призрака-теней?class=4&ilvl=528&spec=261"
        />
      </li>
      <li>
        Кольцо 1: <WH
          text="Печать избранного Денны"
          href="https://www.wowhead.com/ru/item=195480/печать-избранного-денны?bonus=523&ilvl=528&spec=261"
        />
      </li>
      <li>
        Кольцо 2: <WH
          text="Печатка мудрости титанов"
          href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов?bonus=8932:8960:523&crafted-stats=40:36&ilvl=525&spec=259"
        />
      </li>
      <li>
        Аксессуар 1: <WH
          text="Прах души угля"
          href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=528&spec=261"
        />
      </li>
      <li>
        Аксессуар 2: <WH
          text="Клеймо-печатка Катаклизма"
          href="https://www.wowhead.com/ru/item=207166/клеймо-печатка-катаклизма?class=4&ilvl=528&spec=261"
        />
      </li>
      <li>
        Плащ: <WH
          text="Голос тихой звезды"
          href="https://www.wowhead.com/ru/item=204465/голос-тихой-звезды?class=4&ilvl=535&spec=261"
        />
      </li>
      <li>Оружие (МХ): любой 528 кинжал</li>
      <li>
        Оружие 2: <WH
          text="Последний момент"
          href="https://www.wowhead.com/ru/item=207996/последний-момент?bonus=9526&class=4&ilvl=515&spec=261"
        /> (с м0, 515 илвл)
      </li>
    </ul>
  </div>
</section>
