---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
import Sim from "../Sim.astro";
import TalentsKeys from "../../assets/guide/assassination/sim/talents_keys.png";
import TalentsRaid from "../../assets/guide/assassination/sim/talents_raid.png";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      Ниже я представлю 2 варианта билдов для рейда и 2 для ключей (хотя их на
      самом деле больше, но они являются вариациями этих двух). На данный момент
      служитель не играется ни в рейде, ни в ключах, хоть и симится получше. Он
      слишком зависит от прока и если вам не повезет на счастливую монетку в
      первом бурсте - вам СИЛЬНО не повезет. Поэтому 99.9% игроков играет в
      Ловчем смерти, но вы можете поиграть в Служителе судьбы ради разнообразия
      на рефарме.
    </p>
    <p class="text-blue-500">
      DS - Deathstalker - Ловчий смерти<br />
      FB - Fatebound - Служитель судьбы
    </p>
    <p>
      Если вы симите ключи, то помните, что <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> все еще не симится, поэтому нужно к симам прибавить еще 2-4%, которые он
      дает в реальности.
    </p>
    <p>
      Выбор билда для ключей (KB - Kingsbane или Bleed) строго индивидуальный,
      Bleed билд имеет немного больший оверолл в ключах, но имеет меньший урон
      по боссам и бурст / приоритетный урон. Вы спокойно можете играть в любом
      билде любой ключ. Блид билд проще в исполнении, так как вам не требуется
      "лайнинг" кулдаунов / правильный отыгрыш погибели королей, но в нем тоже
      есть свои нюансы, подробнее о них в разделе ротации
    </p>
    <Tabs />
    <Sim title="Сим талантов в одну цель (5 минут)">
      <img
        src={TalentsRaid.src}
        alt="Сим талантов в одну цель"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим талантов в ключе (15 гнездовье)">
      <img
        src={TalentsKeys.src}
        alt="Сим талантов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
