---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { assaMenuItems } from "../../constants/content";
import Tabs from "./Assassination_tabs.astro";
import Sim from "../Sim.astro";
import TalentsRaid from "../../assets/guide/assassination/sim/talents_raid.png";
import TalentsKeys from "../../assets/guide/assassination/sim/talents_keys.png";
---

<section
  id={assaMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      Ниже я представлю 2 варианта билдов для рейда и 2 для ключей (хотя их на
      самом деле больше). На данный момент обе ветки очень близки в рейде, но
      служитель судьбы сильно рандомен, если у вас не прокнет счастливая монетка
      в первый бурст, то будет очень печально. Поэтому абсолютное большинство
      играет в Ловчем смерти. В ключах ловчий также смерти сильнее. Варианты
      билдов для клива и аое практически не отличаются, о них я напишу в
      рейдовых вкладках под талантами.
    </p>
    <p class="text-blue-500">
      DS - Deathstalker - Ловчий смерти<br />
      FB - Fatebound - Служитель судьбы
    </p>
    <p>
      Если вы симите ключи, то помните, что <WH
        text="Внезапная гибель"
        href="https://www.wowhead.com/ru/spell=423136/внезапная-гибель"
      /> все еще не симится, поэтому нужно к симам прибавить еще 2-4%, которые он дает
      в реальности.
    </p>
    <p>
      M+ [DS] v1 более универсальный вариант, особенно при игре с рандомами.
      Он позволяет немного нивелировать отсутствие рестелса и упрощает сбор
      мобов из-за проволоки, но имеет меньший оверолл и урон по боссам, нежели
      M+ [DS] v2.
    </p>
    <Tabs />
    <Sim title="Сим талантов в рейде">
      <img
        src={TalentsRaid.src}
        alt="Сим рас в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Сим талантов в ключе (15 каменный свод)">
      <img
        src={TalentsKeys.src}
        alt="Сим рас в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
