---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_two_2:block w-full order-1 hidden">
  <div
    class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
  >
    <ul class="list-inside list-decimal gap-[20px] flex flex-col">
      <span>
        Я могу крафтить всё, что требуется разбойникам. Отправляйте на Мейникс
        (Ревущий Фьорд), цена 3к. Если вы на другом сервере и вам нужен крафт
        через гильдию - пишите в игре / дискорде / на стрим (не занимаюсь этим
        во время освоения)
      </span>
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=720&spec=259"
        /> + <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> и <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=720&spec=259"
        /> + <WH
          text="Извивающаяся окантовка доспеха"
          href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
        /> лучший выбор для рейда.
      </li>
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=720&spec=259"
        /> + <WH
          text="Символ Новолуния Бодрость"
          href="https://www.wowhead.com/ru/item=226033/символ-новолуния-бодрость"
        /> | <WH
          text="Рукоять благословенного оружия"
          href="https://www.wowhead.com/ru/item=219497/рукоять-благословенного-оружия"
        /> и <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=720&spec=259"
        /> + <WH
          text="Рассветная подкладка"
          href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
        /> отличный вариант в ключи. Вариант с <WH
          text="Рукоять благословенного оружия"
          href="https://www.wowhead.com/ru/item=219497/рукоять-благословенного-оружия"
        /> симится немного выше в ключи, но зависит от прока, подкладки более стабильны.
      </li>
      <li>
        <WH
          text="Боевой пояс с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=10421:9633:8902:12053:12050:1485:1808:11303:8960&class=4&crafted-stats=32:49&crafting-quality=8&hero=53&ilvl=720&spec=259"
        /> + <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:9627:10222:12053:12050:8791:11303:8960:523&class=4&crafted-stats=32:36&hero=53&ilvl=720&spec=259"
        /> [x2 <WH
          text="Рассветная подкладка"
          href="https://www.wowhead.com/ru/item=222870/рассветная-подкладка"
        />] - хороший вариант для ключей, но требует два 723 оружия, иначе лучше
        2 вариант
      </li>
    </ul>
  </div>
</div>
