---
import H3 from "../H3.astro";
import WH from "../WH.astro";
---

<div class="pt-[60px] flex flex-col gap-[20px] text-clamp_text">
  <H3 text="Простым языком" />
  <div>
    <ul
      class="list-inside list-decimal flex flex-col gap-[5px] p-[20px] border border-border rounded-md text-left"
    >
      <span>Для одной цели:</span>
      <li>
        Поддерживайте больше половины энергии (150+) вне бурст окон, чтобы
        работал талант
        <WH
          text="Окровавленные клинки"
          href="https://www.wowhead.com/ru/spell=200806/окровавленные-клинки"
        />. В бурсте можете не следить за энергией.
      </li>
      <li>
        После опенера, описанного выше, вы должны поддерживать на цели
        кровотечения:
        <WH
          text="Гаррота"
          href="https://www.wowhead.com/ru/spell=703/гаррота"
        />
         и <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        />.
      </li>
      <li>
        Использовать <WH
          text="Внезапный удар"
          href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
        /> по проку (в противном случае <WH
          text="Расправа"
          href="https://www.wowhead.com/ru/spell=1329/расправа"
        />) до 5+ кп.
      </li>
      <li>
        Использовать <WH
          text="Отравление"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        /> пока активен бафф от предыдущего <WH
          text="Отравления"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        />, чтобы работал комплект.
      </li>
      <li>
        Каждый 2-х минутный бурст повторяет опенер с 6-го пункта, каждый 1
        минутный бурст также повторяет опенер с 6-го пункта, только без <WH
          text="Знака смерти"
          href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
        />, <WH
          text="Исчезновения"
          href="https://www.wowhead.com/ru/spell=1856/исчезновение"
        /> и <WH
          text="Ветвь Сухокожего"
          href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
        />.
      </li>
      <li>
        <WH
          text="Отравляющий укол"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> используется только под <WH
          text="Погибель королей"
          href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
        />. Если 2 заряда, то на все время действия, если 1 заряд, то под конец
        дебаффа.
      </li>
      <li>
        Под каждый бурст (1 минутный и 2х минутный) у вас должно быть 2 заряда <WH
          text="Отравляющего укола"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> и как минимум 1 заряд <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        /> (который используется под конец дебаффа, чтобы последний тик ударил
        под чаем).
      </li>
    </ul>
    <ul
      class="list-inside list-decimal flex flex-col gap-[5px] p-[20px] border border-border rounded-md text-left mt-[16px]"
    >
      <span>Для нескольких целей:</span>
      <li>
        Раскидывать
        <WH
          text="Гарроты"
          href="https://www.wowhead.com/ru/spell=703/гаррота"
        /> на все цели, пока вы под действием <WH
          text="Тотальной бойни"
          href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
        /> (в 10.2 имеет "smart targeting", то есть в приоритете вешается на
        цели около вас без дебаффа). Обычные гарроты в большие паки можно не
        вешать, лучше повесить дополнительные <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> для регенерации энергии.
      </li>
      <li>
        Раскидывать
        <WH
          text="Рваные раны"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> на 5 целей, пока вы под действием <WH
          text="Тотальной бойни"
          href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
        />, чтобы получить максимальную пользу от таланта <WH
          text="Запах крови"
          href="https://www.wowhead.com/ptr-2/spell=381799/scent-of-blood?def=117673"
        /> (в 10.2 имеет "smart targeting", то есть в приоритете вешается на
        цели около вас без дебаффа).
      </li>
      <li>
        Всегда поддерживать <WH
          text="Едкие капли"
          href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
        /> на цели, которую вы бьете.
      </li>
      <li>
        Использовать
        <WH
          text="Кровавый вихрь"
          href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
        /> только как ДоТ, не нужно им спамить.
      </li>
      <li>
        Использовать <WH
          text="Отравление"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        /> пока активен бафф от предыдущего <WH
          text="Отравления"
          href="https://www.wowhead.com/ru/spell=32645/отравление"
        />, чтобы работал комплект
      </li>
      <li>
        Набирать кп с помощью
        <WH
          text="Веер клинков"
          href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
        /> если 3 и больше целей, в 2 цели - <WH
          text="Расправа"
          href="https://www.wowhead.com/ru/spell=1329/расправа"
        />
      </li>
      <li>
        Каждый 2-х минутный бурст повторяет опенер с 7-го пункта, каждый 1
        минутный бурст также повторяет опенер с 7-го пункта, только без <WH
          text="Знака смерти"
          href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
        />, <WH
          text="Исчезновения"
          href="https://www.wowhead.com/ru/spell=1856/исчезновение"
        /> и <WH
          text="Ветвь Сухокожего"
          href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
        />
      </li>
      <li>
        Под каждый бурст (1 минутный и 2х минутный) у вас должно быть 2 заряда <WH
          text="Отравляющего укола"
          href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
        /> и как минимум 1 заряд <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        />
      </li>
    </ul>
  </div>
  <H3 text="Приоритет способностей для набора кп (builders):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[5px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
       - всегда должна быть на цели (если она одна). На всех целях, если вы под
      баффом <WH
        text="Тотальной бойни"
        href="https://www.wowhead.com/ptr-2/spell=385747/indiscriminate-carnage"
      />
    </li>
    <li>
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      /> (если взят талант <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
      /> и это не одна цель)
    </li>
    <li>
      <WH
        text="Зазубренного костяного шипа"
        href="https://www.wowhead.com/ru/spell=385424/зазубренный-костяной-шип"
      />, если взят и нету на цели
    </li>
    <li>
      <WH
        text="Продолжительная отповедь"
        href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
      />, если взят - по откату
    </li>
    <li>
      <WH
        text="Веер клинков"
        href="https://www.wowhead.com/ru/spell=51723/веер-клинков"
      /> используется при 3 и больше целях
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> (так же работает на <WH
        text="Едкие капли"
        href="https://www.wowhead.com/ptr-2/spell=421975/caustic-spatter"
      />)
    </li>
    <li>
      <WH
        text="Расправа"
        href="https://www.wowhead.com/ru/spell=1329/расправа"
      />
    </li>
  </ul>

  <H3 text="Приоритет завершающих способностей (finishers):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[5px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Мясорубка"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      /> - используется только 1 раз на опенере, дальше обновляется сама.
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> - должна быть весь бой на цели (если она одна). В АоЕ должно быть как
      минимум 5 <WH
        text="Рваных ран"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> (либо на всех, если целей меньше 5). В одну цель нужно обновлять по
      пандемику, но НИКОГДА нельзя обновлять усиленные <WH
        text="Рваные раны"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> (те, что вы вешаете под действием <WH
        text="Ночного ловца"
        href="https://www.wowhead.com/ru/spell=14062/ночной-ловец"
      /> или ) обычными (так как на них работает механики снэпшота)
    </li>
    <li>
      <WH
        text="Кровавый вихрь"
        href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
      /> - используется только как ДоТ, поддерживать на всех целях, обновляя по
      пандемику. В одну цель не используется.
    </li>
    <li>
      <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      /> - в идеале всегда использовать пока действует предыдущий бафф от <WH
        text="Отравления"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />, чтобы работал комплект.
    </li>
  </ul>
  <H3 text="Приоритет кулдаунов (cooldowns):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[5px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Знак смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      /> - используется по откату
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> + <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> - всегда используются вместе (и всегда после <WH
        text="Знака смерти"
        href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
      />), так как работает механика снэпшота. Перед их использованием вы
      обязательно должны использовать <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      /> и <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      />, чтобы максимизировать урон <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />.
    </li>
    <li>
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> - используется по откату, за 3 сек до конца действия <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> (из-за баффа <WH
        text="Мастера-убийцы"
        href="https://www.wowhead.com/ru/spell=256735/мастер-убийца"
      />)
    </li>
    <li>
      <WH
        text="Отравляющий укол"
        href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
      /> - используется только под <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      />. Один заряд перед <WH
        text="Погибель королей"
        href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
      /> (за 1-2 сек), второй сразу по спадению первого.
    </li>
  </ul>
</div>
