---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Мясорубка"
      href="https://www.wowhead.com/ru/spell=315496/мясорубка"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
     | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> при срабатывании <WH
      text="Слепой зоны"
      href="https://www.wowhead.com/ru/spell=121153/слепая-зона"
    /> до 4+ кп
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Знак смерти"
      href="https://www.wowhead.com/ru/spell=360194/знак-смерти"
    /> + <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    />, вам нужно собрать 2 сферы сразу и последнюю через 7-8 сек
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    />
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    /> (макрос)
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
     | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> до 5+ кп
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
     | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> до 5+ кп
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Отравляющий укол"
      href="https://www.wowhead.com/ru/spell=5938/отравляющий-укол"
    /> сразу после окончания предыдущего
  </li>
  <li>
    <WH
      text="Скорополоховый чай"
      href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
    /> за 6 секунд до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф попал на последний тик
  </li>
  <li>
    <WH text="Расправа" href="https://www.wowhead.com/ru/spell=1329/расправа" />
     | <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> +
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> за 3 секунды до конца <WH
      text="Погибель королей"
      href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
    />, чтобы бафф от <WH
      text="Мастера-убийцы"
      href="https://www.wowhead.com/ru/spell=256735/мастер-убийца"
    /> попал на последний тик
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    />
  </li>
  <li>
    <WH text="Гаррота" href="https://www.wowhead.com/ru/spell=703/гаррота" />
  </li>
  <li>
    <WH
      text="Отравление"
      href="https://www.wowhead.com/ru/spell=32645/отравление"
    />
  </li>
</ul>

<p class="pt-[16px] text-left">
  На опенере вы можете выпить 2 <WH
    text="Скорополохового чая"
    href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
  /> подряд (в последние 12 сек <WH
    text="Погибели королей"
    href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
  />), затем по 1 чаю каждую минуту под <WH
    text="Погибель королей"
    href="https://www.wowhead.com/ru/spell=385627/погибель-королей"
  />, а на экзекуте выпить так же 2 <WH
    text="Скорополохового чая"
    href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
  /> под последний бурст в бою.
</p>
