---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span>Комплект:</span>
    <li>
      <WH
        text="Проклятый лик призрачного игрока"
        href="https://www.wowhead.com/ru/item=229289/проклятый-лик-призрачного-игрока?bonus=1808&ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Оплечье с лезвиями призрачного игрока"
        href="https://www.wowhead.com/ru/item=229287/оплечье-с-лезвиями-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Жилет призрачного игрока"
        href="https://www.wowhead.com/ru/item=229292/жилет-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Кюлоты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229288/кюлоты-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Перчатки призрачного игрока"
        href="https://www.wowhead.com/ru/item=229290/перчатки-призрачного-игрока?bonus=11959:12179"
      />
    </li>
    <span
      >Вы можете носить как все 5 вещей из комплекта, так и заменить голову /
      грудь на вещи без универсальности</span
    >
    <span>Вещи из катализатора (оффсеты):</span>
    <li>
      <WH
        text="Кандалы призрачного игрока"
        href="https://www.wowhead.com/ru/item=229285/кандалы-призрачного-игрока?bonus=4786:1527:11996:523&ilvl=678&spec=261"
      /> (отличный вариант, если вам выпали запястья с универсальность)
    </li>
    <li>
      <WH
        text="Козырь призрачного игрока"
        href="https://www.wowhead.com/ru/item=229286/козырь-призрачного-игрока?bonus=4786:1527:11996:523&ilvl=678&spec=261"
      /> (неплохой вариант, но переделывать стоит только пояса с высоким значением
      универсальности)
    </li>
    <li>
      <WH
        text="Ботфорты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229291/ботфорты-призрачного-игрока?bonus=4786:1527:11996&ilvl=678&spec=261"
      />
    </li>
    <li>
      <WH
        text="Шаль призрачного игрока"
        href="https://www.wowhead.com/ru/item=229284/шаль-призрачного-игрока?bonus=4786:1527:11996&ilvl=678&spec=261"
      /> (опять же, переделывать стоит только плащ с большим значением универсальности,
      или если вы играете в скрытности)
    </li>
    <span class="pt-[16px]">
      2 части (~4% урона): Ваши заклинания и способности с некоторой
      вероятностью активируют <WH
        text="Череду побед!"
        href="https://www.wowhead.com/ru/spell=1218439/череда-побед"
      />, увеличивающую урон от <WH
        text="Отравления"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />, <WH
        text="Рваной раны"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> и <WH
        text="Кровавого вихря"
        href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
      />
      на 3%. Суммируется до 10 раз. <WH
        text="Отравление"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />, <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> и <WH
        text="Кровавый вихрь"
        href="https://www.wowhead.com/ru/spell=121411/кровавый-вихрь"
      />
      с вероятностью 15% прекращают действие <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218439/череда-побед"
      />
    </span>
    <span class="pt-[16px]">
      4 части (~8% урона): Когда <WH
        text="Череда побед!"
        href="https://www.wowhead.com/ru/spell=1218439/череда-побед"
      /> должна завершиться, вы вместо этого с некоторой вероятностью получаете максимальное
      количество эффектов
      <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218439/череда-побед"
      /> на 4 сек. Эти эффекты мощнее на 50%, и их нельзя снять.
    </span>
    <span class="pt-[16px]">
      Полностью пассивный комплект, никак не обыгрывается и в целом не требует
      какого либо отслеживания. Минорно можно смотреть на прок 4 вещей, чтобы
      ударить сильным <WH
        text="Отравлением"
        href="https://www.wowhead.com/ru/spell=32645/отравление"
      />, но даже это не особо имеет смысл.
    </span>
  </ul>
</div>
