---
import H2 from "../H2.astro";
import { assaMenuItems } from "../../constants/content";
import Accordion from "../Accordion.astro";
import H3 from "../H3.astro";
import WH from "../WH.astro";
import Comment from "../Comment.astro";
import DS from "../Hero_trees/DS.astro";
import FB from "../Hero_trees/FB.astro";
---

<section
  id={assaMenuItems[2].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={assaMenuItems[2].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <Accordion title="Таблица штрафов и характеристик">
      <p>
        На вторичные характеристики распростроняется механика Diminishing
        Returns (DR), ниже приведена таблица со штрафами в зависимости от %
        характеристик. Базовые характеристики, ваши таланты и баффы не
        учитываются в расчётах, только проценты (рейтинг) полученные с вещей.
        Чтобы не считать самому, вы можете воспользоваться аддоном <a
          href="https://www.curseforge.com/wow/addons/true-stat-values"
          class="text-hover hover:opacity-80">True Stat Values</a
        >
      </p>
      <ul class="list-inside list-disc flex flex-col items-start">
        <li>от 0 до 30% — нету штрафа</li>
        <li>от 30% до 39% — 10% штраф</li>
        <li>от 39% до 47% — 20% штраф</li>
        <li>от 47% до 54% — 30% штраф</li>
        <li>от 54% до 66% — 40% штраф</li>
        <li>от 66% до 126% — 50% штраф</li>
      </ul>
      <p>В большинстве случаев характеристики не выходят за 10% штраф</p>
    </Accordion>

    <p>
      Хоть в игре и нету "капов", но есть оптимальные значения. У ликвидации,
      как и всегда, все характеристики очень близки, поэтому не получится
      собирать только 2 или 3 характеристики. Ниже будут приведены оптимальные
      значения для рейда и ключей, однако помните, что конкретно для вашего
      персонажа текущий вес характеристик может отличаться, все зависит от вашей
      текущей экипировки, расы и прочего. Всегда проверяйте своего персонажа на <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80"
        target="_blank">Raidbots - Top Gear</a
      >, указав правильные расходники. Если вам потребуется премиум Raidbots, вы
      можете получить его у меня на <a
        href="https://boosty.to/mainx"
        class="text-hover hover:opacity-80"
        target="_blank">Boosty</a
      >.
    </p>
    <H3 text="Приоритет характеристик для рейда" />
    <div class="border border-border rounded-md p-[20px]">
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов, но
        используется <WH
          text="Астральный усик"
          href="https://www.wowhead.com/ru/item=242395/астральный-усик?bonus=40:10356:12361:1533:10255&ilvl=723"
        /> (который уменьшает требования к критическому удару)</span
      >
      <ul
        class="list-inside list-decimal font-medium text-left flex flex-col gap-[20px] my-[20px]"
      >
        <FB />
        <li>Скорость 10%</li>
        <li>Критический удар 40%</li>
        <li>Дальше всё в искусность и меньше в универсальность</li>
      </ul>
      <ul
        class="list-inside list-decimal font-medium text-left flex flex-col gap-[20px] my-[20px]"
      >
        <DS />
        <li>Скорость 15%</li>
        <li>Дальше всё в критический удар (~30%) и искусность</li>
        <li>
          Универсальность по остаточному принципу. Не переживайте, это тоже
          отличная характеристика. После достижения критического удара и
          скорости, она становится чуть ли не лучшей
        </li>
      </ul>
      <span
        >Характеристики у ликвидации очень близки друг к другу, поэтому в первую
        очередь вас должен интересовать уровень предмета, а уже затем
        второстепенные характеристики.</span
      >
    </div>
    <H3 text="Приоритет характеристик для ключей" />
    <ul
      class="list-inside list-decimal font-medium border border-border rounded-md p-[20px] text-left flex flex-col gap-[20px]"
    >
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов. Для
        ключей используется <WH
          text="Импровизированный сефориевый стимулятор"
          href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?ilvl=678"
        /></span
      >
      <span class="text-green-500">KB билд:</span>
      <li>
        Скорость ~10% (можете играть и с 15% в полностью рейдовой экипировке)
      </li>
      <li>
        Дальше все в критический удар и искусность. Критического удара должно
        быть ~35% (<DS />) или 40%+ <FB />
      </li>
      <li>
        Универсальность специально не собирается, но это вполне хорошая
        характеристика
      </li>
      <span class="text-red-500">Bleed билд:</span>
      <li>Скорость ~15-18%</li>
      <Comment
        >Для ключей, в Bleed билде вы спокойно можете играть в рейдовой
        экипировке.</Comment
      >
      <li>
        Дальше все в критический удар и искусность. Критического удара должно
        быть ~30+%
      </li>
      <li>
        Универсальность специально не собирается, но это вполне хорошая
        характеристика
      </li>
      <span
        >В Bleed билде вес хасты сильно выше чем в KB, поэтому крафты можно
        делать на скорость + искусность. Или оставить крафты крит + искусность,
        но собрать скорость другими способами</span
      >
    </ul>
    <H3 text="Характеристики в BiS экипировке" />
    <ul
      class="list-inside list-disc font-medium border border-border rounded-md p-[20px] text-left flex flex-col gap-[20px]"
    >
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов. Для
        ключей используется <WH
          text="Астральный усик"
          href="https://www.wowhead.com/ru/item=242395/астральный-усик?bonus=40:10356:12361:1533:10255&ilvl=723"
        /></span
      >
      <span><FB />:</span>
      <li>Критический удар 42.19%</li>
      <li>Универсальность 11.76%</li>
      <li>Скорость 10.03%</li>
      <li>Искусность 55.53%</li>
      <span><DS />:</span>
      <li>Критический удар 34.25%</li>
      <li>Универсальность 10.34%</li>
      <li>Скорость 15.06%</li>
      <li>Искусность 63.81%</li>
      <Comment
        >В текущих реалиях характеристики для ключей почти никак не отличается
        от рейдовых, максимум вы можете совсем чуть-чуть уменьшить скорость, но
        даже это не требуется. Даже если вас будут убеждать в том, что скорость
        не нужна, это не так, и уже давно не было так. Я даже скажу больше,
        например в Bleed билд можно сделать бис гир с еще большей скоростью</Comment
      >
    </ul>
  </div>
</section>
