---
import WH from "../WH.astro";
---

<input
  type="radio"
  id="tab_one_1"
  name="mytabs_equip"
  checked="checked"
  class="peer/tab_one_1 hidden p-[20px]"
/>
<label
  for="tab_one_1"
  class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one_1:text-outlaw peer-checked/tab_one_1:neon-outlaw"
  >Комплект</label
>
<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <li>
      <WH
        text="Пустота фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
      />
    </li>
    <li>
      <WH
        text="Наплечники фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      <WH
        text="Обмотки нексуса фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      <WH
        text="Поножи фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      <WH
        text="Захваты фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
      />
    </li>
    <span class="pt-[16px]">
      2 части (1.2% урона): <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />, <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> и <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> с вероятностью 35% активируют <WH
        text="Призрачное буйство"
        href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
      />, нанося 30% дополнительного урона от темной магии. (Вероятность
      срабатывания: 20%)
    </span>
    <span class="pt-[16px]">
      4 части (5% урона): <WH
        text="Призрачное буйство"
        href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
      /> также увеличивает урон от следующей способности <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> на 15%. Эффект суммируется до 4 раз.
    </span>
  </ul>
</div>
