---
import H3 from "../H3.astro";
import WH from "../WH.astro";
---

<div class="pt-[60px] flex flex-col gap-[56px] text-clamp_text">
  <ul class="list-inside list-decimal flex flex-col gap-[10px]">
    <H3 text="Приоритет способностей для набора кп HO билд (builders):" />
    <li>
      <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> - по откату
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> - во время действия <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> | <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />, если есть 6 стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      />, на вас <WH
        text="Бортовой залп"
        href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
      /> и 0-1 кп.
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> - всегда когда есть возможность использования и п.2 не выполняется
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> под любым количеством стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      />
    </li>
    <li>
      <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />
    </li>
  </ul>
  <ul class="list-inside list-decimal flex flex-col gap-[5px]">
    <H3 text="Приоритет способностей для набора кп KiR билд (builders):" />
    <li>
      <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> - по откату
    </li>
    <li>
      <WH
        text="Продолжительная отповедь"
        href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
      /> - по откату
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> - во время действия <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> | <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />, если есть 6 стаков и 0-3 кп.
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> под любым количеством стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      />
    </li>
    <li>
      <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />
    </li>
  </ul>
  <ul class="list-inside list-decimal flex flex-col gap-[5px]">
    <H3 text="Приоритет завершающих способностей (finishers):" />
    <li>
      <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> - основной финишер, в стелс окнах не имеет перезарядки. Вне стелс окон
      используется только если откат <WH
        text="Исчезновения"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> больше 45 сек или откат <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> больше 15 сек. Требуется это для того, чтобы <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> не оказался в откате, когда будет готово <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> или <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />.
    </li>
    <li>
      <WH
        text="Мясорубка"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      /> - необходимо держать весь бой, обновлять по пандемику (ссылка)
    </li>
    <li>
      <WH
        text="Устранение"
        href="https://www.wowhead.com/ru/spell=2098/устранение"
      /> - используется только если нельзя использовать <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> из п.1.
    </li>
  </ul>
  <ul class="list-inside list-decimal flex flex-col gap-[5px]">
    <H3 text="Приоритет кулдаунов (cooldowns):" />
    <li>
      <WH
        text="Бросок костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      /> - условия реролла описаны в разделе <a
        href="#bones"
        class="text-hover hover:opacity-80">Кости</a
      >
    </li>
    <li>
      <WH
        text="Шквал клинков"
        href="https://www.wowhead.com/ru/spell=13877/шквал-клинков"
      /> - должен быть всегда и в одну цель и в AoE (из-за таланта <WH
        text="Underhanded Upper Hand"
        href="https://www.wowhead.com/ptr-2/spell=424044/underhanded-upper-hand"
      />). Используется по откату в AoE, если целей 5 и больше (из-за таланта <WH
        text="Ловкие маневры"
        href="https://www.wowhead.com/ru/spell=381878/ловкие-маневры"
      />)
    </li>
    <li>
      <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      /> - используется по откату, на 0-2 кп.
    </li>
    <li>
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> - используется только в паре с <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> (когда оно не в откате) и 5+ кп.
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> - используется только в паре с <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> (когда оно не в откате) и 5+ кп.
    </li>
    <li>
      <WH
        text="Натиск клинка"
        href="https://www.wowhead.com/ru/spell=271877/натиск-клинка"
      /> - используется если в ближайшие 4 секунды вы не уйдете в оверкап по
      энергии. Для простоты можете спокойно нажимать при энергии меньше 100. В
      АоЕ можете нажимать по откату.
    </li>
  </ul>
</div>
