---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
import Craft from "../../assets/guide/outlaw/sim/craft.png";
import Emb from "../../assets/guide/outlaw/sim/emb.png";
---

<section
  id={outlawMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
        />
      </li>
    </ul>
    <p>
      2 части (~6% урона): <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      /> срабатывает повторно с повышенной на 15% вероятностью. Это также работает
      и на <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      />, если взят талант <WH
        text="Дерзость"
        href="https://www.wowhead.com/ru/spell=381845/дерзость"
      />.
    </p>
    <p>
      4 части (~16% урона): <WH
        text="Бросок костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      /> также обновляет время действия одного из уже полученных эффектов
      <WH
        text="Броска костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      />. Это работает почти так же как и <WH
        text="Шулерские кости"
        href="https://www.wowhead.com/ru/spell=256170/шулерские-кости"
      />, только дополнительная кость выбирается из тех, которые активны на
      момент нажатия <WH
        text="Броска костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      />.
    </p>
    <H3 text="Украшения" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col mt-[10px]">
        <span class="pb-[10px]">Рейд и ключи:</span>
        <li>
          <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          />. Единственный бонус этого набора в том, что вы можете играть до
          второго крафта с лоу илвл пластиной в запястьях, а ботинки сделать
          максимального илвла и ничего не потеряете, так как пластина не
          улучшается от илвла вещи. В остальном плюсов перед вторым вариантом
          нету.
        </li>
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2. Идентичный по дпсу набор, однако вы не теряете выносливость с ботинок
          + можете играть рейд в сабе.
        </li>
      </ul>
    </div>
    <Sim title="Сим основных украшений в ключе">
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <li>25 тираническая Чаща</li>
        <li>Аптайм шёлка выставлен на 65%</li>
        <li></li>
      </ul>
      <img
        src={Emb.src}
        alt="Сим талантов и билдов в тираническом ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>

    <H3 text="Лучшая экипировка (BiS list)" />
    <div
      class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
    >
      <input
        type="radio"
        id="gear_tab_one"
        name="gear_tabs"
        checked="checked"
        class="peer/gear_tab_one hidden p-[20px]"
      />
      <label
        for="gear_tab_one"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_one:text-outlaw peer-checked/gear_tab_one:neon-outlaw"
        >Рейд</label
      >
      <div class="peer-checked/gear_tab_one:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <li>
            Голова: <WH
              text="Личина призрака теней"
              href="https://www.wowhead.com/ru/item=217208/личина-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Шея: <WH
              text="Ожерелье Уробороса"
              href="https://www.wowhead.com/ru/item=210214/ожерелье-уробороса?bonus=8782&ilvl=528&spec=261"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечные лезвия призрака теней"
              href="https://www.wowhead.com/ru/item=217210/наплечные-лезвия-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Грудь: <WH
              text="Панцирь призрака теней"
              href="https://www.wowhead.com/ru/item=217206/панцирь-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Пояс: <WH
              text="Боевой пояс из кожи трогга"
              href="https://www.wowhead.com/ru/item=193668/боевой-пояс-из-кожи-трогга?bonus=523&ilvl=528&spec=260"
            /> | <WH
              text="Пояс из окровавленной драконьей шкуры"
              href="https://www.wowhead.com/ru/item=207131/пояс-из-окровавленной-драконьей-шкуры?bonus=1808&ilvl=528&spec=260"
            /> | <WH
              text="Вулканические путы старейшины"
              href="https://www.wowhead.com/ru/item=202655/вулканические-путы-старейшины?bonus=1808&ilvl=528&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Проколотые поножи Анноры"
              href="https://www.wowhead.com/ru/item=193811/проколотые-поножи-анноры?class=4&ilvl=528&spec=260"
            /> | <WH
              text="Штаны отвратительного избранника грома"
              href="https://www.wowhead.com/ru/item=195530/штаны-отвратительного-избранника-грома?class=4&ilvl=528&spec=260"
            />
          </li>
          <li>
            Ступни: <WH
              text="Зачарованные жизнью сапоги"
              href="https://www.wowhead.com/ru/item=193398/зачарованные-жизнью-сапоги?bonus=8840:8836:8902:10359:10249:1485:9379:8960&class=4&crafted-stats=32:40&crafting-quality=8&ilvl=525&spec=260"
            /> | <WH
              text="Обмотки с ядовитыми шипами"
              href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?bonus=8960:8840:8836:8902:10359:10249:1485&class=4&crafted-stats=32:40&ilvl=525&spec=260"
            />
          </li>
          <li>
            Запястья:<WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8797:8960:523&class=4&crafted-stats=32:40&ilvl=525&spec=260"
            /> с токсичной или огненной пластиной
          </li>
          <li>
            Кисти рук: <WH
              text="Боевые перчатки призрака теней"
              href="https://www.wowhead.com/ru/item=217207/боевые-перчатки-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать избранного Денны"
              href="https://www.wowhead.com/ru/item=195480/печать-избранного-денны?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Голодная печатка мучителя"
              href="https://www.wowhead.com/ru/item=204466/голодная-печатка-мучителя?bonus=523&ilvl=528&spec=260"
            /> | <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=1808&ilvl=528&spec=260"
            />
          </li>
          <li>
            Аксессуары: <WH
              text="Одержимый светоч горя"
              href="https://www.wowhead.com/ru/item=194308/одержимый-светоч-горя?class=4&ilvl=528&spec=261"
            /> + <WH
              text="Клеймо-печатка Катаклизма"
              href="https://www.wowhead.com/ru/item=207166/клеймо-печатка-катаклизма?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Плащ: <WH
              text="Голос тихой звезды"
              href="https://www.wowhead.com/ru/item=204465/голос-тихой-звезды?class=4&ilvl=535&spec=261"
            />
          </li>
          <li>
            Оружие (МХ): <WH
              text="Коготь заклинателя шипов"
              href="https://www.wowhead.com/ru/item=207784/коготь-заклинателя-шипов?class=4&ilvl=528&spec=260"
            />
          </li>
          <li>
            Оружие (ОХ): <WH
              text="Огонь кузни"
              href="https://www.wowhead.com/ru/item=193785/огонь-кузни?ilvl=528&spec=260"
            />
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="gear_tab_two"
        name="gear_tabs"
        class="peer/gear_tab_two hidden p-[20px]"
      />
      <label
        for="gear_tab_two"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_two:text-hover peer-checked/gear_tab_two:neon-hover"
        >Ключи</label
      >
      <div class="peer-checked/gear_tab_two:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <li>
            Голова + Грудь : <WH
              text="Личина призрака теней"
              href="https://www.wowhead.com/ru/item=217208/личина-призрака-теней?class=4&ilvl=528&spec=261"
            /> + <WH
              text="Одеяния Пепельной рощи"
              href="https://www.wowhead.com/ru/item=207129/одеяния-пепельной-рощи?class=4&ilvl=528&spec=260"
            /> или <WH
              text="Личина пожирающего пламени"
              href="https://www.wowhead.com/ru/item=208420/личина-пожирающего-пламени?bonus=523&ilvl=528&spec=260"
            /> + <WH
              text="Панцирь призрака теней"
              href="https://www.wowhead.com/ru/item=217206/панцирь-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Шея: <WH
              text="Ожерелье Уробороса"
              href="https://www.wowhead.com/ru/item=210214/ожерелье-уробороса?bonus=8782&ilvl=528&spec=261"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечные лезвия призрака теней"
              href="https://www.wowhead.com/ru/item=217210/наплечные-лезвия-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Пояс: <WH
              text="Боевой пояс из кожи трогга"
              href="https://www.wowhead.com/ru/item=193668/боевой-пояс-из-кожи-трогга?bonus=523&ilvl=528&spec=260"
            /> | <WH
              text="Пояс из окровавленной драконьей шкуры"
              href="https://www.wowhead.com/ru/item=207131/пояс-из-окровавленной-драконьей-шкуры?bonus=1808&ilvl=528&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Трико призрака теней"
              href="https://www.wowhead.com/ru/item=217209/трико-призрака-теней?class=4&ilvl=528&spec=260"
            />
          </li>
          <li>
            Ступни: <WH
              text="Зачарованные жизнью сапоги"
              href="https://www.wowhead.com/ru/item=193398/зачарованные-жизнью-сапоги?bonus=8840:8836:8902:10359:10249:1485:9379:8960&class=4&crafted-stats=32:40&crafting-quality=8&ilvl=525&spec=260"
            /> | <WH
              text="Обмотки с ядовитыми шипами"
              href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?bonus=8960:8840:8836:8902:10359:10249:1485&class=4&crafted-stats=32:40&ilvl=525&spec=260"
            />
          </li>
          <li>
            Запястья:<WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8797:8960:523&class=4&crafted-stats=32:40&ilvl=525&spec=260"
            /> с токсичной или огненной пластиной
          </li>
          <li>
            Кисти рук: <WH
              text="Боевые перчатки призрака теней"
              href="https://www.wowhead.com/ru/item=217207/боевые-перчатки-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать избранного Денны"
              href="https://www.wowhead.com/ru/item=195480/печать-избранного-денны?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Голодная печатка мучителя"
              href="https://www.wowhead.com/ru/item=204466/голодная-печатка-мучителя?bonus=523&ilvl=528&spec=260"
            /> | <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=1808&ilvl=528&spec=260"
            />
          </li>
          <li>
            Аксессуары: <WH
              text="Одержимый светоч горя"
              href="https://www.wowhead.com/ru/item=194308/одержимый-светоч-горя?class=4&ilvl=528&spec=261"
            /> + <WH
              text="Благословение Пожирательницы Бурь"
              href="https://www.wowhead.com/ru/item=194302/благословение-пожирательницы-бурь?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Плащ: <WH
              text="Плащ светлого тенехода"
              href="https://www.wowhead.com/ru/item=207231/плащ-светлого-тенехода?class=4&ilvl=528&spec=260"
            /> | <WH
              text="Горючий листоплащ"
              href="https://www.wowhead.com/ru/item=207160/горючий-листоплащ?class=4&ilvl=528&spec=260"
            />
          </li>
          <li>
            Оружие (МХ): <WH
              text="Коготь заклинателя шипов"
              href="https://www.wowhead.com/ru/item=207784/коготь-заклинателя-шипов?class=4&ilvl=528&spec=260"
            />
          </li>
          <li>
            Оружие (ОХ): <WH
              text="Огонь кузни"
              href="https://www.wowhead.com/ru/item=193785/огонь-кузни?ilvl=528&spec=260"
            />. В ключах можно (необязательно) использовать <WH
              text="Последний момент"
              href="https://www.wowhead.com/ru/item=207996/последний-момент?bonus=9526&class=4&ilvl=515&spec=261"
            /> (с м0, 515 илвл)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
