---
import WH from "../WH.astro";
---

<input
  type="radio"
  id="tab_five_5"
  name="mytabs_equip"
  class="peer/tab_five_5 hidden p-[20px]"
/>
<label
  for="tab_five_5"
  class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_five_5:text-hover peer-checked/tab_five_5:neon-hover text-center"
  >BiS (HO)</label
>
<div class="peer-checked/tab_five_5:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >Комплект в HO отличается лишь переделанными характеристиками на крафте и
      1 кольцом. Главное иметь 8-9% скорости, дальше собирать критический удар +
      универсальность</span
    >
    <li>
      Голова:
      <WH
        text="Пустота фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
      />
    </li>
    <li>
      Шея: <WH
        text="Амулет мастерства земельников"
        href="https://www.wowhead.com/item=215136/amulet-of-earthen-craftsmanship?bonus=10421:9633:8902:11144:10222:1485:8795:8781&crafted-stats=36:40&ilvl=636&spec=260"
      />
    </li>
    <li>
      Плечи: <WH
        text="Наплечники фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      Грудь: <WH
        text="Обмотки нексуса фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      Пояс: <WH
        text="Пояс фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
      /> | <WH
        text="Пояс поглотителя живицы"
        href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=9948:10870&ilvl=639&spec=260"
      />
    </li>
    <li>
      Ноги: <WH
        text="Бриджи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219332/бриджи-с-руническим-клеймом?bonus=10421:9633:8902:1515:10520:8960:8792&crafted-stats=36:40&ilvl=636&spec=260"
      /> + украшение (зависит от того какой вариант вы выбрали из 2х украшений)
    </li>
    <li>
      Ступни: <WH
        text="Прошитые потрохами башмаки"
        href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
      /> | <WH
        text="Сапоги осады"
        href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
      />
    </li>
    <li>
      Запястья: <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/item=219334/rune-branded-armbands?bonus=10421:9633:8902:11144:10222:1485:11304:8960:8795:523&class=4&crafted-stats=32:40&ilvl=636&spec=260"
      /> + второе украшение (если играете с <WH
        text="Стихийной фокусирующей линзой"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      /> или <WH
        text="Закатная подкладка"
        href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
      />) | <WH
        text="Поручи подлеска"
        href="https://www.wowhead.com/ru/item=178702/поручи-подлеска?bonus=9948:10299:10376:523&ilvl=639&spec=2600"
      /> если играете с кинжалом + штанами
    </li>
    <li>
      Кисти рук: <WH
        text="Захваты фантома К'ареши"
        href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
      />
    </li>
    <li>
      Кольцо 1: <WH
        text="Перстень Цирци"
        href="https://www.wowhead.com/ru/item=228411/перстень-цирци?bonus=8782&spec=261"
      /> + <WH
        text="Цитрин легендарного шкипера"
        href="https://www.wowhead.com/ru/spell=462528/цитрин-легендарного-шкипера?ilvl=658"
      /> | <WH
        text="Искрящийся цитрин владыки грома"
        href="https://www.wowhead.com/ru/spell=462540/искрящийся-цитрин-владыки-грома?ilvl=658"
      /> | <WH
        text="Цитрин подводного надзирателя"
        href="https://www.wowhead.com/ru/spell=462538/цитрин-подводного-надзирателя?ilvl=658"
      />
    </li>
    <li>
      Кольцо 2: <WH
        text="Печать отравленного соглашения"
        href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=1540:10299:10376:8781&ilvl=639&spec=260"
      /> | <WH
        text="Ритуальный перстень командира"
        href="https://www.wowhead.com/ru/item=178781/ритуальный-перстень-командира?bonus=9948:10299:10376:8781&ilvl=639&spec=260"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Контракт жнеца Бездны"
        href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
      />
    </li>
    <li>
      Аксессуар 2: <WH
        text="Кокон выводка Ара-Кары"
        href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
      />
    </li>
    <li>
      Плащ: <WH
        text="Крылья разбитой печали"
        href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
      />
    </li>
    <li>
      Оружие 1: <WH
        text="Искажающий клинок жнеца Бездны"
        href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
      />
    </li>
    <li>
      Оружие 2: <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:36&ilvl=636&spec=261"
      />
      +
      <WH
        text="Символ Новолуния Симбиоз"
        href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
      /> или <WH
        text="Кукри кровавого поцелуя"
        href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?class=4&ilvl=639&spec=260"
      /> (если используете <WH
        text="Стихийные фокусирующие линзы"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      /> или <WH
        text="Закатные подкладки"
        href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
      />)
    </li>
  </ul>
</div>
