---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_four_4:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >В этом сезоне бис можно собрать несколькими комбинациями, поэтому сначала
      я напишу 100% слоты. Вам просто нужно подогнать характеристики под ~19%
      скорости, всё остальное в критический удар и универсальность (желательно
      на каждой вещи) и очень желательно без искусности. Естественно очень
      многие вещи вы можете просто заменить крафтами в дальнейшем с небольшой
      потерей дпса, но это уже не будет BiS листом, который тут рассматривается.</span
    >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Голова: <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=523&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Плечи: <WH
        text="Дымовой покров внезапного затмения"
        href="https://www.wowhead.com/ru/item=237662/дымовой-покров-внезапного-затмения?bonus=12676:1533:12361&class=4&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Грудь: <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Кисти: <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Плащ: <WH
        text="Повязки реши"
        href="https://www.wowhead.com/ru/item=235499/повязки-реши?bonus=12399:9893:12256&class=4&hero=52&ilvl=730&spec=259"
      />
    </li>
    <li>
      Ступни: <WH
        text="Укрепленные сандалии захватчика"
        href="https://www.wowhead.com/ru/item=243306/укрепленные-сандалии-захватчика?bonus=13504&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Кольцо 1: <WH
        text="Печатка взрывающихся звезд"
        href="https://www.wowhead.com/ru/item=185813/печатка-взрывающихся-звезд?bonus=10035:12361:12239:8781&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Печать космической охоты"
        href="https://www.wowhead.com/ru/item=242397/печать-космической-охоты?bonus=12676:1533:12361&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Аксессуар 2:<WH
        text="Астральный усик"
        href="https://www.wowhead.com/ru/item=242395/астральный-усик?class=4&hero=51&ilvl=723&spec=261"
      />
    </li>
    <span class="text-sub py-3">Вариативные вещи:</span>
    <li>
      МХ: <WH
        text="Эргосферическая дубина"
        href="https://www.wowhead.com/ru/item=237731/эргосферическая-дубина?bonus=4800:4786:1533:12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Звездная палица серафима"
        href="https://www.wowhead.com/ru/item=221128/звездная-палица-серафима?bonus=4786:3215:12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Первый кулак картеля Со"
        href="https://www.wowhead.com/ru/item=185778/первый-кулак-картеля-со?bonus=4786:10035:12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Ветренный разрезатель парусов"
        href="https://www.wowhead.com/ru/item=221144/ветренный-разрезатель-парусов?bonus=4786:3215:12361&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Шея: <WH
        text="Хризалида разлученных душ"
        href="https://www.wowhead.com/ru/item=237568/хризалида-разлученных-душ?bonus=12676:1533:12361:8781&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Окровавленный сувенир"
        href="https://www.wowhead.com/ru/item=252009/окровавленный-сувенир?bonus=4786:1572:12361:8781&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Кабошон рода Бесконечности"
        href="https://www.wowhead.com/ru/item=185820/кабошон-рода-бесконечности?bonus=4786:10035:12361:8781&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Ноги: <WH
        text="Штаны аномального звездного света"
        href="https://www.wowhead.com/ru/item=185801/штаны-аномального-звездного-света?bonus=10035:12361:12239&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Элитные бриджи Темной Стражи"
        href="https://www.wowhead.com/ru/item=237531/элитные-бриджи-темной-стражи?bonus=1533:12361:12239&hero=52&ilvl=723&spec=260"
      />
    </li>
    <span class="text-sub py-3">Варианты крафтов:</span>
    В качестве альтернатив слотов:
    <li>
      <WH
        text="Энтропия"
        href="https://www.wowhead.com/ru/item=238036/энтропия?bonus=1533:12361:12239:1745:8781&hero=52&ilvl=723&spec=260"
      />, <WH
        text="Шнурованный ремень из трофейной шкуры ползуна"
        href="https://www.wowhead.com/ru/item=238027/шнурованный-ремень-из-трофейной-шкуры-ползуна?bonus=1533:12361:12239:523&crafted-stats=32:40&hero=52&ilvl=723&spec=260"
      />, <WH
        text="Размагничивающий вольтОмометр Гигабжика"
        href="https://www.wowhead.com/ru/item=234493/размагничивающий-вольтомометр-гигабжика?bonus=12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Украшенный клинок Парсона"
        href="https://www.wowhead.com/ru/item=221138/украшенный-клинок-парсона?bonus=4786:3215:12361&hero=52&ilvl=723&spec=260"
      /> и <WH
        text="Поручи внезапного затмения"
        href="https://www.wowhead.com/ru/item=237660/поручи-внезапного-затмения?bonus=12676:1533:12361:523&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      Вариант 1: <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8792&crafted-stats=32:40&crafting-quality=8&hero=52&ilvl=720&spec=260"
      /> + <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8795:523&crafted-stats=40:36&crafting-quality=8&hero=52&ilvl=720&spec=260"
      />
    </li>
    <Comment
      >Самый дорогой вариант, у БоЕ вещей нету хорошей альтернативы. Однако, это
      самый универсальный вариант на все специализации на старте, если вы
      конечно в них играете</Comment
    >
    <li>
      Вариант 2: <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8792&crafted-stats=32:40&crafting-quality=8&hero=52&ilvl=720&spec=260"
      /> или <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8795:523&crafted-stats=40:36&crafting-quality=8&hero=52&ilvl=720&spec=260"
      /> + <WH
        text="Кольцо мастерства земельников"
        href="https://www.wowhead.com/ru/item=215135/кольцо-мастерства-земельников?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8781&crafted-stats=32:40&hero=52&ilvl=720&spec=260"
      /> или <WH
        text="Боевой пояс с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=10421:9633:12053:12050:1485:10520:8960:8795:523&crafted-stats=32:40&hero=52&ilvl=720&spec=260"
      />
    </li>
    <Comment
      >Варинт подешевле, запястья легко получить в катализаторе потом из любых
      других. Покупать уже только 1 вещь</Comment
    >
    <li>
      Вариант 3: <WH
        text="Боевой пояс с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=10421:9633:12053:12050:1485:10520:8960:8795:523&crafted-stats=32:40&hero=52&ilvl=720&spec=260"
      /> + <WH
        text="Кольцо мастерства земельников"
        href="https://www.wowhead.com/ru/item=215135/кольцо-мастерства-земельников?bonus=10421:9633:8902:12053:12050:1485:10520:8960:8781&crafted-stats=32:40&hero=52&ilvl=720&spec=260"
      />
    </li>
    <Comment>Самый бюджетный вариант, но самый худший на старте</Comment>
  </ul>
</div>
