---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Tabs from "./Outlaw_tabs.astro";
import Sim from "../Sim.astro";
import SimSt from "../../assets/guide/outlaw/sim/outlaw_st.webp";
import SimKey from "../../assets/guide/outlaw/sim/outlaw_key.webp";
---

<section
  id={outlawMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>
      У головореза существует 2 основных билда, названия которых происходят от
      сокращений главных способностей (капстоунов) на английском языке, все
      остальные билды являются их производными с небольшими отличиями:
    </p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. HO (Hidden Opportunity) билд <WH
          text="Скрытая возможность"
          href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
        />
      </li>
      <li>
        2. KiR (Keep It Rolling) билд <WH
          text="Призовая игра"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        />
      </li>
    </ul>
    <p class="text-blue-500">
      T - Trickster - Ловкач<br />
      FB - Fatebound - Служитель судьбы
    </p>
    <p>
      В TWW KiR билд сильнее что в одну цель (~1.5%), что в ключах (~4%). При этом
      он намного проще, но очень рандомен. Тоже самое касается Ловкача
      (Trickster), он намного слабее Служителя судеб (Fatebound), поэтому не
      вижу смысла отдельно его рассматривать. Дам лишь комментарий и симы под
      талантами, так как вариативности очень мало.
    </p>
    <Tabs />
    <Sim title="Одна цель 5 минут">
      <img
        src={SimSt.src}
        alt="Сим талантов и билдов в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
    <Sim title="Ключ 15 Тризна">
      <img
        src={SimKey.src}
        alt="Сим талантов и билдов в ключе"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </div>
</section>
