---
import H3 from "../H3.astro";
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="pt-[60px] flex flex-col gap-[20px] text-clamp_text">
  <H3 text="Важные замечания и уточнения" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      Текущий геймплей строится не вокруг стелс окон, хотя это база, а вокруг
      стаков <WH
        text="Опережающего клинка"
        href="https://www.wowhead.com/ru/spell=441786/опережающий-клинок"
      /> | <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      /> (<WH
        text="Череды убийств"
        href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
      />) и <WH
        text="Удара милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      />, поэтому вам может помочь <a
        href="https://wago.io/gNf0y7O9P"
        class="text-hover hover:opacity-80"
        target="_blank">WA</a
      > или моя сборка с <a
        href="https://boosty.to/mainx"
        class="text-hover hover:opacity-80"
        target="_blank">Boosty</a
      >
    </li>
    <li>
      Если вы не уверены на 100% в том, что не умрёте в <WH
        text="Череде убийств"
        href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
      />, жмите перед ней как минимум <WH
        text="Уловку"
        href="https://www.wowhead.com/ru/spell=1966/уловка"
      />, а возможно еще и <WH
        text="Ускользание"
        href="https://www.wowhead.com/ru/spell=5277/ускользание"
      /> (-20% урона) или даже <WH
        text="Плащ теней"
        href="https://www.wowhead.com/ru/spell=31224/плащ-теней"
      />
    </li>
    <li>
      Если вы получили много урона, но не умерли, вы можете снять дебафф <WH
        text="Плащом теней"
        href="https://www.wowhead.com/ru/spell=31224/плащ-теней"
      />. Если вы получите урон х3 от своего максимального здоровья
      единовременно - вы умрёте (не всегда, иногда удается переживать урон и
      больше). Для отслеживания полученного урона можете использовать <a
        href="https://wago.io/A4MhvelaC"
        class="text-hover hover:opacity-80"
        target="_blank">WA</a
      > или опять же мою сборку
    </li>
    <li>
      Если на боссе очень рискованно нажимать <WH
        text="Череду убийств"
        href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
      /> на 5+ кп, вы можете нажать ее на 1 кп, тем самым вы просто дернитесь в одну
      сторону и шансов выжить будет больше, но на всякий случай, в таких ситуациях
      всегда жмите <WH
        text="Уловку"
        href="https://www.wowhead.com/ru/spell=1966/уловка"
      /> | <WH
        text="Ускользание"
        href="https://www.wowhead.com/ru/spell=5277/ускользание"
      />. Нужно это для получения 2 стаков <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      />. Никогда не жмите <WH
        text="Череду убийств"
        href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
      /> без <WH
        text="Плаща теней"
        href="https://www.wowhead.com/ru/spell=31224/плащ-теней"
      /> во время фазы на первом боссе Гнездовья, вы умрёте.
    </li>
  </ul>
</div>
