---
import H2 from "../H2.astro";
import H3 from "../H3.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
---

<section
  id={outlawMenuItems[5].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[40px] text-clamp_heading text-secondary text-center"
>
  <H2 text={outlawMenuItems[5].label} />
  <div
    class="flex flex-col justify-center items-center gap-[16px] text-clamp_text"
  >
    <p>
      Всего существует 6 костей, при использовании <WH
        text="Броска костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      /> вам случайным образом дается 1, 2 или 5 костей (баффов), шанс получить
      1 кость - 79%, 2 кости - 20%, 5 костей - 1%.
    </p>
    <p>
      Талант <WH
        text="Ловкость рук"
        href="https://www.wowhead.com/ru/spell=381839/ловкость-рук"
      /> увеличивает шанс на получение только 2-х костей на 10%, на получение 5
      костей он не влияет. С талантом шансы будут следующими: 1 кость - 69%, 2
      кости - 30%, 5 костей - 1%.
    </p>
    <p>
      На баффы костей (только нормальных, не от <WH
        text="Count the Odds"
        href="https://www.wowhead.com/ptr-2/spell=381982/count-the-odds?def=117546&rank=1"
      />) распространяется механика пандемии (30% от 30 сек = 9 сек). Таким
      образом если вы рерольните 9 сек кость и получите ее же, то время действия
      кости будет 39 сек. Кости, полученные от <WH
        text="Count the Odds"
        href="https://www.wowhead.com/ptr-2/spell=381982/count-the-odds?def=117546&rank=1"
      /> остаются после использования <WH
        text="Броска костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      />, если они не совпали с костями от <WH
        text="Бросок костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      />. Если же совпали, то они просто обновляются.
    </p>
    <p>
      4 части комплекта работают почти так же как и <WH
        text="Шулерские кости"
        href="https://www.wowhead.com/ru/spell=256170/шулерские-кости"
      />, только дополнительная кость выбирается из тех, которые активны на
      момент нажатия <WH
        text="Броска костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      />.
    </p>
    <H3 text="Список костей:" />
    <ul class="list-inside list-decimal flex flex-col items-center gap-[10px]">
      <li>
        <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />
      </li>
      <li>
        <WH
          text="Зарытое сокровище"
          href="https://www.wowhead.com/ru/spell=199600/зарытое-сокровище"
        />
      </li>
      <li>
        <WH
          text="Великая битва"
          href="https://www.wowhead.com/ru/spell=193358/великая-битва"
        />
      </li>
      <li>
        <WH
          text="Беспощадная точность"
          href="https://www.wowhead.com/ru/spell=193357/беспощадная-точность"
        />
      </li>
      <li>
        <WH
          text="Череп с костями"
          href="https://www.wowhead.com/ru/spell=199603/череп-с-костями"
        />
      </li>
      <li>
        <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        />
      </li>
    </ul>
    <H3 text="Правила реролла и продления костей:" />
    <p>
      Правила реролла зависят от выбранного билда <WH
        text="Скрытая возможность"
        href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
      /> | <WH
        text="Призовая игра"
        href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
      />. Условия будут написаны с учетом наличия 4 частей комплекта. Вы всегда
      должны реролить кости ДО их спадения, чтобы получить бонус от комплекта.
      Желательно не реролить во время окон <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> и <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />. Если видите, что придется реролить кости во время стелс окон -
      рерольните за 1 гкд до их использования.
    </p>

    <span
      class="underline decoration-solid decoration-1 underline-offset-4 decoration-[#00D7B9]"
      >Для <WH
        text="Скрытая возможность"
        href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
      />:</span
    >
    <ul class="list-inside list-disc flex flex-col items-center gap-[10px]">
      <li>
        Если у вас только 1 кость и это <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        />. Делается это для того, чтобы комплект 100% вам дал эту же кость +
        новую
      </li>
      <li>
        Если у вас любые 1-2 кости и нету <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        />. Цель как можно раньше получить <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        />
      </li>
      <li>
        Если у вас активен бафф от <WH
          text="Шулерские кости"
          href="https://www.wowhead.com/ru/spell=256170/шулерские-кости"
        /> и 1-3 кости без <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        />
      </li>
    </ul>
    <span
      class="underline decoration-solid decoration-1 underline-offset-4 decoration-[#00D7B9]"
      >Для <WH
        text="Призовая игра"
        href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
      />:</span
    >
    <ul class="list-inside list-disc flex flex-col items-center gap-[10px]">
      <li>
        Если у вас только 1 кость и это <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />. Делается это для того, чтобы комплект 100% вам дал эту же кость +
        новую
      </li>
      <li>
        Если у вас любые 1-2 кости и нету <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />. Цель как можно раньше получить <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />
      </li>
      <li>
        Если у вас активен бафф от <WH
          text="Шулерские кости"
          href="https://www.wowhead.com/ru/spell=256170/шулерские-кости"
        /> и 1-3 кости без <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />
      </li>
      <li>
        <WH
          text="Призовая игра"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        /> используется если у вас 4 и больше любых костей
      </li>
    </ul>
  </div>
</section>
