---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Tabs from "../Tabs.astro";
import H3 from "../H3.astro";
import OutlawOpenerHo from "./Outlaw_opener_ho.astro";
import OutlawOpenerKir from "./Outlaw_opener_kir.astro";
import OutlawApl from "./Outlaw_apl.astro";
import OutlawImp from "./Outlaw_important.astro";
import Comment from "../Comment.astro";
---

<section
  id={outlawMenuItems[6].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-center"
>
  <H2 text={outlawMenuItems[6].label} />
  <H3 text="Условия использования финишеров | трата очков серии приемов (кп)" />
  <span class="font-medium text-clamp_text"
    >Все завершающие приемы используются на:</span
  >
  <ul
    class="text-clamp_text pt-[10px] list-inside list-square flex flex-col items-start gap-[5px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      На 5 кп, если активен бафф <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> и вы играете с талантом <WH
        text="Точно в цель"
        href="https://www.wowhead.com/ru/spell=423703/точно-в-цель"
      />
    </li>
    <li>
      На 5 кп, если взят талант <WH
        text="Скрытая возможность"
        href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
      /> и активен бафф <WH
        text="Дерзости"
        href="https://www.wowhead.com/ru/spell=386270/дерзость"
      /> или <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      />
    </li>
    <li>На 6 кп в остальных случаях</li>
    <li>Добивать 7ой кп не нужно</li>
    <li>
      Заряженные кп не учитываются в цифрах выше, считайте их просто как бафф
    </li>
    <Comment
      >То есть, если у вас 3 обычных кп и 3 заряженных - вы добиваете обычные
      до 5-6 и только потом используете финишеры. Исключение может быть, если у
      вас например мало энергии, не хватает на <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />, а окно <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> заканчивается</Comment
    >
  </ul>
  <H3 text="Начало боя (опенеры)" />
  <p class="text-clamp_text pt-[10px] pb-[40px]">
    Начало боя у головореза сильно отличается в зависимости от "проков" и
    костей, поэтому ниже будут представлены усредненные опенеры с комментариями.
    Гораздо важнее изучить раздел приоритетов способностей.
  </p>
  <div
    class="flex flex-wrap max-w-[1024px] min-h-[565px] w-full text-clamp_text content-baseline"
  >
    <Tabs title="KiR билд" id="opener_0" checked="checked" name="opener">
      <OutlawOpenerKir />
    </Tabs>
    <Tabs title="HO билд" id="opener_1" name="opener">
      <OutlawOpenerHo />
    </Tabs>
  </div>
  <OutlawImp />
  <OutlawApl />
</section>
