---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Tabs from "../Tabs.astro";
import H3 from "../H3.astro";
import OutlawOpenerHo from "./Outlaw_opener_ho.astro";
import OutlawOpenerKir from "./Outlaw_opener_kir.astro";
import OutlawApl from "./Outlaw_apl.astro";
---

<section
  id={outlawMenuItems[6].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-center"
>
  <H2 text={outlawMenuItems[6].label} />
  <H3 text="Условия использования финишеров | трата очков серии приемов (кп)" />
  <span class="font-medium text-clamp_text"
    >Все завершающие приемы используются на:</span
  >
  <ul
    class="text-clamp_text pt-[10px] list-inside list-square flex flex-col items-start gap-[5px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      На 5 кп, если активен бафф <WH
        text="Увертки"
        href="https://www.wowhead.com/ru/spell=115192/увертка"
      /> или <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> и вы играете с талантом <WH
        text="Точно в цель"
        href="https://www.wowhead.com/ru/spell=423703/точно-в-цель"
      />
    </li>
    <li>На 6 кп во всех остальных случаях</li>
    <li>
      То есть, если у вас уже 5 кп в стелс окне или 6 кп вне стелс окна, не
      нужно добивать оставшиеся кп, сразу нажимайте финишер
    </li>
  </ul>
  <H3 text="Начало боя (опенеры)" />
  <p class="text-clamp_text pt-[10px] pb-[40px]">
    Начало боя у головореза сильно отличается в зависимости от "проков" и
    костей, поэтому ниже будут представлены усредненные опенеры с комментариями
  </p>
  <div
    class="flex flex-wrap max-w-[1024px] min-h-[565px] w-full text-clamp_text content-baseline"
  >
    <Tabs title="HO билд" id="opener_0" checked="checked" name="opener">
      <OutlawOpenerHo />
    </Tabs>

    <Tabs title="KiR билд" id="opener_1" name="opener">
      <OutlawOpenerKir />
    </Tabs>
  </div>
  <OutlawApl />
</section>
