---
import WH from "../WH.astro";
---

<ul class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]">
  <span
    class="underline decoration-solid decoration-1 underline-offset-4 decoration-[#00D7B9]"
    >Пре-пулл (до того как ударить босса):</span
  >
  <li>
    <WH
      text="Шквал клинков"
      href="https://www.wowhead.com/ru/spell=13877/шквал-клинков"
    />
  </li>
  <li>
    <WH
      text="Незаметность"
      href="https://www.wowhead.com/ru/spell=1784/незаметность"
    />
  </li>
  <li>
    <WH
      text="Бросок костей"
      href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
    />
  </li>
  <li>
    <WH
      text="Выброс адреналина"
      href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
    />
  </li>
  <li>
    <WH
      text="Мясорубка"
      href="https://www.wowhead.com/ru/spell=315496/мясорубка"
    />
  </li>
  <span class="py-[16px]"
    >Это требуется из-за таланта <WH
      text="Underhanded Upper Hand"
      href="https://www.wowhead.com/ptr-2/spell=424044/underhanded-upper-hand?def=117569&rank=1"
    />. При этом кости используются до <WH
      text="Выброса адреналина"
      href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
    />, чтобы потом, как можно раньше использовать <WH
      text="Бросок костей"
      href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
    /> под баффом <WH
      text="Шулерских костей"
      href="https://www.wowhead.com/ru/spell=256170/шулерские-кости"
    /> и получить сразу 3 кости.</span
  >
  <li>
    <WH
      text="Призрачный удар"
      href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    />
  </li>
  <li>
    <WH
      text="Промеж глаз"
      href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> / <WH
      text="Промеж глаз"
      href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> / <WH
      text="Промеж глаз"
      href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
    />
  </li>
  <li>---</li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> / <WH
      text="Промеж глаз"
      href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
    />
  </li>
  <li>---</li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </li>
  <li>
    <WH
      text="Внезапный удар"
      href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
    /> / <WH
      text="Промеж глаз"
      href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
    />
  </li>
  <li>---</li>
</ul>
<p class="pt-[16px] text-left">
  Благодаря синергии талантов <WH
    text="Ace Up Your Sleeve"
    href="https://www.wowhead.com/ptr-2/spell=381828/ace-up-your-sleeve?def=117562&rank=1"
  /> и <WH
    text="Crackshot"
    href="https://www.wowhead.com/ptr-2/spell=423703/crackshot?def=122160&rank=1"
  /> вы переодически будете получать 5кп от <WH
    text="Промеж глаз"
    href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
  />, поэтому опенер полностью зависит от проков. Основная суть заключается в
  том, чтобы на 5+ кп всегда использовать <WH
    text="Промеж глаз"
    href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
  />, пока вы под <WH
    text="Уверткой"
    href="https://www.wowhead.com/ru/spell=115192/увертка"
  /> или в <WH
    text="Танце теней"
    href="https://www.wowhead.com/ru/spell=185313/танец-теней"
  />. Если <WH
    text="Ace Up Your Sleeve"
    href="https://www.wowhead.com/ptr-2/spell=381828/ace-up-your-sleeve?def=117562&rank=1"
  /> не сработал, то набиваем кп с помощью <WH
    text="Внезапный удар"
    href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
  />. Самое главное - это не повесить кд на <WH
    text="Промеж глаз"
    href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
  />, если у вас скоро будет <WH
    text="Исчезновение"
    href="https://www.wowhead.com/ru/spell=1856/исчезновение"
  /> / <WH
    text="Танец теней"
    href="https://www.wowhead.com/ru/spell=185313/танец-теней"
  />.
</p>
