---
import H2 from "../H2.astro";
import { outlawMenuItems } from "../../constants/content";
import Outlaw_emb from "./Outlaw_equip_embellishments.astro";
import Outlaw_set from "./Outlaw_equip_set.astro";
import Outlaw_farm from "./Outlaw_equip_farm.astro";
import Outlaw_kir from "./Outlaw_equip_kir.astro";
import Outlaw_ho from "./Outlaw_equip_ho.astro";
import Outlaw_keys from "./Outlaw_equip_keys.astro";
---

<section
  id={outlawMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      В первом сезоне, на удивление, у головореза довольно мало
      "зафиксированных" вещей. Почти все вещи (даже редкие) можно заменить
      аналогами с потерей очень незначительного урона (или вообще без потерь).
      Для своего персонажа всегда пользуйтесь <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >.
    </p>
    <div class="flex flex-wrap max-w-[1024px] text-secondary text-left">
      <Outlaw_set />
      <Outlaw_emb />
      <Outlaw_farm />
      <Outlaw_kir />
      <Outlaw_ho />
      <Outlaw_keys />
    </div>
  </div>
</section>
