---
import H2 from "../H2.astro";
import H3 from "../H3.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Comment from "../Comment.astro";
---

<section
  id={outlawMenuItems[5].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[5].label} />
  <div
    class="flex flex-col justify-center items-start gap-[16px] text-clamp_text"
  >
    <H3 text="Механика работы костей" />
    <ul
      class="flex flex-col gap-[16px] list-disc list-inside p-[20px] border border-border rounded-md text-left mb-[40px]"
    >
      <li>
        Всего существует 6 костей, при использовании <WH
          text="Броска костей"
          href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
        /> вам случайным образом дается 1, 2 или 5 костей (баффов), шанс получить
        1 кость - 79%, 2 кости - 20%, 5 костей - 1%.
      </li>
      <li>
        При взятом таланте <WH
          text="Ловкость рук"
          href="https://www.wowhead.com/ru/spell=381839/ловкость-рук"
        /> и 4х частях комплекта 2 сезона шансы следующие: 1 кость - 18%, 2 кости
        - 65%, 5 костей - 17%. В 3 сезоне <WH
          text="Ловкость рук"
          href="https://www.wowhead.com/ru/spell=381839/ловкость-рук"
        /> не берётся, поэтому шансы стандартные
      </li>
      <li>
        На баффы костей (только нормальных, не от <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        />) распространяется механика пандемии (30% от 30 сек = 9 сек). Таким
        образом если вы рерольните 9 сек кость и получите ее же, то время
        действия кости будет 39 сек.
      </li>
      <li>
        Если время действия кости от <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> меньше времени действия обычной кости, то она сбросится при реролле. Поэтому
        рассматривайте кости от <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> как обычные кости.
      </li>
      <li>
        Кости, которые вы продлили способностью <WH
          text="Призовая игра"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        /> не будут сброшены после следующего <WH
          text="Броска костей"
          href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
        />. Если кости от <WH
          text="Броска костей"
          href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
        /> совпали с теми, которые вы продлевали - они изменят время действия на
        максимальное (39 сек). Если же не совпали, они просто добавятся к тем, которые
        вы продлевали. Это означает, что после использования <WH
          text="Призовой игры"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        /> вам нужно использовать <WH
          text="Бросок костей"
          href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
        />, когда время действия будет меньше 39 сек, чтобы попытаться получить
        дополнительные кости (естественно если у вас их не было 6 изначально).
      </li>
    </ul>
    <H3 text="Список костей:" />
    <ul
      class="list-inside list-decimal flex flex-col items-start gap-[10px] p-[20px] border border-border rounded-md text-left self-center mb-[40px]"
    >
      <li>
        <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        /> (BS)
      </li>
      <li>
        <WH
          text="Зарытое сокровище"
          href="https://www.wowhead.com/ru/spell=199600/зарытое-сокровище"
        /> (BT)
      </li>
      <li>
        <WH
          text="Великая битва"
          href="https://www.wowhead.com/ru/spell=193358/великая-битва"
        /> (GM)
      </li>
      <li>
        <WH
          text="Беспощадная точность"
          href="https://www.wowhead.com/ru/spell=193357/беспощадная-точность"
        /> (RP)
      </li>
      <li>
        <WH
          text="Череп с костями"
          href="https://www.wowhead.com/ru/spell=199603/череп-с-костями"
        /> (SnC)
      </li>
      <li>
        <WH
          text="Истинный азимут"
          href="https://www.wowhead.com/ru/spell=193359/истинный-азимут"
        /> (TB)
      </li>
    </ul>
    <H3 text="Правила реролла и продления костей:" />
    <p>
      Если вы хотите упростить себе жизнь и просто нажимать кости когда нужно,
      можете воспользоваться моей викаурой (взять можно на <a
        href="https://boosty.to/mainx"
        class="text-hover hover:opacity-80"
        target="_blank">Boosty</a
      >), а посмотреть на <a
        href="https://www.twitch.tv/main__x"
        class="text-hover hover:opacity-80"
        target="_blank">стримах</a
      >. В ней отображаются и продленные кости и прокнутые, когда реролить, а
      когда не стоит.
    </p>
    <span class="text-green-500"
      >Правила ролла / реролла (НОВЫЙ КОМПЛЕКТ 3 СЕЗОНА):</span
    >
    <ul
      class="list-inside list-disc flex flex-col items-start gap-[10px] p-[20px] border border-border rounded-md text-left"
    >
      <li>Если у вас нету костей</li>
      <li>
        Если у вас 1-2 кости и активен бафф <WH
          text="Шулерские кости"
          href="https://www.wowhead.com/ru/spell=256171/шулерские-кости"
        />
      </li>
      <li>
        Если это "KiR кости" (то есть кости, которые вы зафиксировали через <WH
          text="Призовую игру"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        />) (1-5 костей) и время действия меньше 39 сек. Кир кости не
        сбрасываются при реролле, тем самым у вас будет шанс получить еще больше
        костей
      </li>
    </ul>

    <span class="text-red-500"
      >Правила ролла / реролла (СТАРЫЙ КОМПЛЕКТ 2 СЕЗОНА):</span
    >
    <ul
      class="list-inside list-disc flex flex-col items-start gap-[10px] p-[20px] border border-border rounded-md text-left"
    >
      <li>Если у вас нету костей</li>
      <li>При наличии комплекта (4 частей): если у вас 0-2 кости.</li>
      <Comment
        >У вас очень высокий шанс получить как минимум 2 кости (65%), а в лучшем
        случае 5 (17%)</Comment
      >
      <li>
        При наличии комплекта (4 частей) и <WH
          text="Скрытая возможность"
          href="https://www.wowhead.com/ru/spell=383281/скрытая-возможность"
        />: если у вас 0-4 кости и бафф от <WH
          text="Суперзаряд"
          href="https://www.wowhead.com/ru/spell=470398/суперзаряд"
        />
      </li>
      <li>
        При наличии комплекта (4 частей) и <WH
          text="Призовая игра"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        />
        : если у вас 0-4 кости и бафф от <WH
          text="Суперзаряд"
          href="https://www.wowhead.com/ru/spell=470398/суперзаряд"
        />, но нужно ждать когда кости от <WH
          text="Выверенного риска"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> будут меньше 11 сек
      </li>
      <li>
        Если это "KiR кости" (то есть кости, которые вы зафиксировали через <WH
          text="Призовую игру"
          href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
        />) (1-5 костей) и время действия меньше 39 сек. Кир кости не
        сбрасываются при реролле, тем самым у вас будет шанс получить еще больше
        костей
      </li>
    </ul>
    <span
      >Когда использовать <WH
        text="Призовая игра"
        href="https://www.wowhead.com/ru/spell=381989/призовая-игра"
      />:</span
    >
    <ul
      class="list-inside list-disc flex flex-col items-start gap-[10px] p-[20px] border border-border rounded-md text-left"
    >
      <li>
        Если у вас есть 5 обычных костей (не с <WH
          text="Выверенного риска"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        />), ждите пока <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> даст 6-ю кость, затем фиксируйте
      </li>
      <li>
        Основа текущего KiR билда это <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />, поэтому старайтесь его поймать всегда и зафиксировать
      </li>
      <Comment
        >Например вам прокнуло 4 кости, но там нету <WH
          text="Бортового залпа"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />, перед фиксацией попытайтесь его поймать как в п.1. Если не получится
        - фиксируйте 4 любых</Comment
      >
      <li>
        Если же у вас есть 3+ любые кости, среди которых есть <WH
          text="Бортовой залп"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        />
      </li>
      <Comment
        >Аналогично п.1 можете подождать до последнего момента кости от <WH
          text="Выверенный риск"
          href="https://www.wowhead.com/ru/spell=381982/выверенный-риск"
        /> в попытке поймать 4ю кость, если не выйдет - фиксируйте 3 с <WH
          text="Бортовым залпом"
          href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
        /></Comment
      >
      <li>Никогда не фиксируйте 2 кости</li>
    </ul>
  </div>
</section>
