---
import WH from "../WH.astro";
import FB from "../Hero_trees/FB.astro";
import TR from "../Hero_trees/TR.astro";
import Comment from "../Comment.astro";
import Sim from "../Sim.astro";
import SimSt from "../../assets/guide/outlaw/sim/outlaw_st_set.png";
---

<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span>Комплект:</span>
    <li>
      <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=1808&ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Дымовой покров внезапного затмения"
        href="https://www.wowhead.com/ru/item=237662/дымовой-покров-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Штаны внезапного затмения"
        href="https://www.wowhead.com/ru/item=237663/штаны-внезапного-затмения?ilvl=723"
      />
    </li>
    <span>В идеале, из комплекта нужно заменить ноги, так как там много искусности. Но по началу можно убрать и перчатки. Зависит от того, что вам выпадет.</span>
    <span>Вещи из катализатора (оффсеты):</span>
    <li>
      <WH
        text="Поручи внезапного затмения"
        href="https://www.wowhead.com/ru/item=237660/поручи-внезапного-затмения?bonus=1808&ilvl=723"
      /> - хороший вариант, если у вас крафт в другом слоте (у головореза есть варианты пояс / кольцо / кинжал / запястья)
    </li>
    <li>
      <WH
        text="Ремешок внезапного затмения"
        href="https://www.wowhead.com/ru/item=237661/ремешок-внезапного-затмения?ilvl=723"
      /> - не подходит, искусность
    </li>
    <li>
      <WH
        text="Сапоги с лезвиями внезапного затмения"
        href="https://www.wowhead.com/ru/item=237666/сапоги-с-лезвиями-внезапного-затмения?ilvl=723"
      /> - не подходит, искусность
    </li>
    <li>
      <WH
        text="Накидка внезапного затмения"
        href="https://www.wowhead.com/ru/item=237659/накидка-внезапного-затмения?ilvl=723"
      /> - да, они его добавили, но как его получить из катилизатора (а главное зачем?)
      непонятно
    </li>
    <span class="py-[20px]">
      2 части (6.8% <TR />): <WH
        text="Незримый клинок"
        href="https://www.wowhead.com/ru/spell=441144/незримый-клинок"
      /> наносит на 35% больше урона и с вероятностью 35% поражает цель дважды.
    </span>
    <span class="pb-[20px]">
      2 части (14.7% <FB />): <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> наносит на 50% больше урона и действует на 4 сек. дольше. Когда срабатывает
      <WH
        text="Крайний случай"
        href="https://www.wowhead.com/ru/spell=453457/крайний-случай"
      />, вы подбрасываете дополнительную <WH
        text="Счастливую монетку"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      />. <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> теперь вызывает срабатывание <WH
        text="Крайнего случая"
        href="https://www.wowhead.com/ru/spell=453457/крайний-случай"
      />.
    </span>
    <span class="pb-[20px]">
      4 части (15.6% <TR />): <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> теперь можно активировать еще раз в течение 5 сек., нанеся 150% обычного
      урона.
    </span>
    <span class="pb-[20px]">
      4 части (19.4% <FB />): Пока на вас действует
      <WH
        text="Счастливая монетка"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      />, время восстановления <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      /> сокращается на 30 сек, а <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> – на 15 сек.
    </span>
    <Comment>
      Благодаря комплекту для <FB /> получение
      <WH
        text="Счастливой монетки"
        href="https://www.wowhead.com/ru/spell=452562/счастливая-монетка"
      /> стало очень простым, из-за этого в <FB /> можно даже играть ключи. Сет для
      <TR /> же в свою очередь довольно слаб, но в ключах всё еще играет.
    </Comment>
    <Sim title="Одна цель 5 минут">
      <img
        src={SimSt.src}
        alt="Сим талантов и билдов в одну цель 5 минут"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>
  </ul>
</div>
