---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-center gap-[5px]"
  slot="kir_rotation"
>
  <span class="font-bold">Приоритет способностей для набора кп (builders):</span
  >
  <li>
    <WH
      text="Призрачный удар"
      href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
    /> - по откату
  </li>
  <li>
    <WH
      text="Продолжительная отповедь"
      href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
    /> - по откату
  </li>
  <li>
    <WH
      text="Выстрел из пистоли"
      href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
    /> - во время действия <WH
      text="Увертки"
      href="https://www.wowhead.com/ru/spell=115192/увертка"
    /> | <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />, если есть 6 стаков и 0-3 кп.
  </li>
  <li>
    <WH
      text="Выстрел из пистоли"
      href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
    /> под любым количеством стаков <WH
      text="Замечательной возможности"
      href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
    />
  </li>
  <li>
    <WH
      text="Коварный удар"
      href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
    />
  </li>
</ul>
