---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_four_5:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >В этом сезоне бис можно собрать несколькими комбинациями, поэтому сначала
      я напишу 100% слоты, а затем варианты для других слотов. И для HO и для
      KiR вещи одинаковые.</span
    >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Голова:
      <WH
        text="Проклятый лик призрачного игрока"
        href="https://www.wowhead.com/ru/item=229289/проклятый-лик-призрачного-игрока?bonus=1808&ilvl=684"
      />
    </li>
    <li>
      Плечи: <WH
        text="Оплечье с лезвиями призрачного игрока"
        href="https://www.wowhead.com/ru/item=229287/оплечье-с-лезвиями-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Грудь: <WH
        text="Небесные повязки посвященного"
        href="https://www.wowhead.com/ru/item=221130/небесные-повязки-посвященного?ilvl=684"
      />
    </li>
    <li>
      Кисти рук: <WH
        text="Перчатки призрачного игрока"
        href="https://www.wowhead.com/ru/item=229290/перчатки-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Ноги: <WH
        text="Кюлоты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229288/кюлоты-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Ступни: <WH
        text="Ботфорты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229291/ботфорты-призрачного-игрока?ilvl=684"
      />
    </li>
    <li>
      Кольцо 1: <WH
        text="Миниатюрная рулетка"
        href="https://www.wowhead.com/ru/item=228843/миниатюрная-рулетка?bonus=1533:12376:11964&crafted-stats=40:32&ilvl=684"
      /> (универсальность + крит / скорость)
    </li>
    <li>
      МХ: <WH
        text="Раскаленный кастет Капо"
        href="https://www.wowhead.com/ru/item=232804/раскаленный-кастет-капо?ilvl=684"
      />
    </li>
    <span class="text-sub py-3">Вариативные вещи:</span>
    <span
      >Просто определитесь с 2 слотами под крафт в зависимости от наличия
      альтернатив в этих слотах, а остальные вещи выбирайте из списка или так же
      сделайте крафт 681 без украшений.</span
    >
    <li>
      Аксессуары: <WH
        text="Запасные ключи зуботочера"
        href="https://www.wowhead.com/ru/item=230197/запасные-ключи-зуботочера"
      /> | <WH
        text="Мегамагнит хлам-маэстро"
        href="https://www.wowhead.com/ru/item=230189/мегамагнит-хлам-маэстро?ilvl=684"
      /> | <WH
        text="Рация банды Зи"
        href="https://www.wowhead.com/ru/item=230199/рация-банды-зи?ilvl=684"
      /> | <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик"
      /> | <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор"
      />
    </li>
    <Comment
      >Любые вариации этих аксессуаров дают +- одинаковый урон. Лично я
      рекомендую <WH
        text="Мегамагнит хлам-маэстро"
        href="https://www.wowhead.com/ru/item=230189/мегамагнит-хлам-маэстро?ilvl=684"
      /> (жмётся по кд) или <WH
        text="Запасные ключи зуботочера"
        href="https://www.wowhead.com/ru/item=230197/запасные-ключи-зуботочера"
      /> + <WH
        text="Рация банды Зи"
        href="https://www.wowhead.com/ru/item=230199/рация-банды-зи?ilvl=684"
      />. <WH
        text="Рация банды Зи"
        href="https://www.wowhead.com/ru/item=230199/рация-банды-зи?ilvl=684"
      /> хоть и кажется слабым аксессуаром, на деле она дает свои 2%+ оверолла почти
      везде, особенно если БЛ идет в +дпс фазу (но она бесполезна в аое). <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик"
      /> стоит использовать если вы хотите больше АоЕ урона (чтобы танка обогнать
      :D), тоже имеет место быть.</Comment
    >
    <li>
      ОХ: любое 684 оружие (желательно без искусности и НЕ <WH
        text="Железный перст Галливикса"
        href="https://www.wowhead.com/ru/item=228899/железный-перст-галливикса?ilvl=684"
      />) + <WH
        text="Дубина сумеречного проклятого клинка"
        href="https://www.wowhead.com/ru/item=237780/дубина-сумеречного-проклятого-клинка"
      /> для свапа на аое
    </li>
    <Comment>Подробнее в разделе "Что фармить?"</Comment>
    <li>
      Шея: <WH
        text="Амулет мастерства земельников"
        href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:8792:10520:8960:8781&ilvl=681&spec=260"
      /> (<WH
        text="Стихийная фокусирующая линза"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      />) | <WH
        text="Мерцающее светлое ожерелье"
        href="https://www.wowhead.com/ru/item=221103/мерцающее-светлое-ожерелье?bonus=4786:3176:12376:8781&ilvl=684&spec=260"
      />
    </li>
    <li>
      Пояс:
      <WH
        text="Спорран безумного короля"
        href="https://www.wowhead.com/ru/item=168986/спорран-безумного-короля?bonus=11346:12376:11964:523&ilvl=684&spec=260"
      /> | <WH
        text="Боевой пояс работника хмелеварни"
        href="https://www.wowhead.com/ru/item=221058/боевой-пояс-работника-хмелеварни?bonus=3176:12376:11964:523&ilvl=684&spec=260"
      /> | <WH
        text="Козырь призрачного игрока"
        href="https://www.wowhead.com/ru/item=229286/козырь-призрачного-игрока?bonus=523&ilvl=684&spec=260"
      /> - подойдет любой, крафт лучше не делать в этот слот
    </li>
    <li>
      Кольцо 2: <WH
        text="Кольцо из золотого фитиля"
        href="https://www.wowhead.com/ru/item=221099/кольцо-из-золотого-фитиля?bonus=4786:3176:12376:8781&ilvl=684&spec=260"
      /> | <WH
        text="Кольцо мастерства земельников"
        href="https://www.wowhead.com/ru/item=215135/кольцо-мастерства-земельников?bonus=10421:1560:8781&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
      /> (<WH
        text="Стихийная фокусирующая линза"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      />)
    </li>
    <li>
      Плащ: <WH
        text="Накидка хламоуправительницы"
        href="https://www.wowhead.com/ru/item=199921/накидка-хламоуправительницы?bonus=4786:11346:12376&ilvl=684&spec=260"
      /> | <WH
        text="Покров свеченосца"
        href="https://www.wowhead.com/ru/item=221109/покров-свеченосца?bonus=4786:3176:12376&ilvl=684&spec=260"
      /> | <WH
        text="Освященный плащ"
        href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:1560&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
      /> (<WH
        text="Стихийная фокусирующая линза"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      /> или <WH
        text="Закатная подкладка"
        href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
      />)
    </li>
    <li>
      Запястья: <WH
        text="Махатели коронованной убийцы"
        href="https://www.wowhead.com/ru/item=228869/махатели-коронованной-убийцы?bonus=1808&ilvl=684"
      /> | <WH
        text="Обмотки с сервоприводом"
        href="https://www.wowhead.com/ru/item=158353/обмотки-с-сервоприводом?bonus=4786:11352:12372:523&ilvl=671&spec=260"
      /> | <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:1560:523&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
      /> (<WH
        text="Стихийная фокусирующая линза"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      /> или <WH
        text="Закатная подкладка"
        href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
      />)
    </li>
  </ul>
</div>
