---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_three_3:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span
      >Сейчас нету смысла писать про именно фарм, так как уже конец сезона. Но
      если вам все равно нужно что-то, то фармите любые вещи выше илвл чем ваши
      без искусности. То, что вам действительно необходимо будет ниже.</span
    >
    <li>
      <WH
        text="Дубина сумеречного проклятого клинка"
        href="https://www.wowhead.com/ru/item=237780/дубина-сумеречного-проклятого-клинка"
      /> - лучший вариант оффхенда для ключей. Даже при наличии 684 оружия, вы можете
      "свапать" ее на аое, а 684 на боссов. Это можно делать в бою, если вы не носите
      <WH
        text="Дубина добытчика"
        href="https://www.wowhead.com/ru/item=228901/дубина-добытчика"
      />, с ней нельзя. Суть заключается в том, что <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> сбрасывает бой и эффект снова срабатывает. Получить ее можно на эвенте в
      Тайносводье. За выполнение эвенте вы получите 1 эмблему, и за нее покупаете
      оружие у <WH
        text="Веспер Чурнмоат"
        href="https://www.wowhead.com/ru/npc=240979/веспер-чурнмоат"
      />
    </li>
    <span
      >Для свапа вам может помочь <a
        href="https://wago.io/HVujcpKwo"
        class="text-hover hover:opacity-80"
        target="_blank">WA</a
      > и макрос (напишите название вашего оффхенда вместо Кумира толпы)
      <pre><code class="text-base">#showtooltip 17
/equipslot 17 Дубина сумеречного проклятого клинка
/equipslot 17 Кумир толпы</code></pre></span
    >
    <li>
      <WH
        text="Турбо-дренаж 5000"
        href="https://www.wowhead.com/ru/item=232883/турбо-дренаж-5000"
      /> и <WH
        text="Крысиный токсин"
        href="https://www.wowhead.com/ru/item=235359/крысиный-токсин"
      /> - отличные варианты до получения эпохальных аксессуаров, которые можно нафармить
      самостоятельно (очень желательно конечно получить их с карты для героического
      трека)
    </li>
  </ul>
</div>
