---
import H3 from "../H3.astro";
import WH from "../WH.astro";
---

<div class="pt-[60px] flex flex-col gap-[20px] text-clamp_text">
  <H3 text="Приоритет способностей для набора кп в ">
    <span class="text-outlaw">HO билде</span>
  </H3>
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <span
      >Способности выше имеют наивысший приоритет, так что если например у вас
      выполняется п.2, то вы должны нажать его, а не п.3.</span
    >
    <li>
      <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> - используется по откату (в основную цель, желательно чтобы она прожила
      все время действия или хотя бы стелс окна), не имеет гкд
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> - когда на вас бафф <WH
        text="Дерзости"
        href="https://www.wowhead.com/ru/spell=386270/дерзость"
      /> (особенно с багом, <a
        href="https://www.youtube.com/watch?v=OWDYETtYpHk"
        class="text-hover"
        target="_blank"
        >см.видео
      </a>)
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> - если есть бафф <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      /> и нету баффа <WH
        text="Дерзости"
        href="https://www.wowhead.com/ru/spell=386270/дерзость"
      />
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> - без баффа <WH
        text="Дерзости"
        href="https://www.wowhead.com/ru/spell=386270/дерзость"
      /> и <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      />
    </li>
    <li>
      <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />
    </li>
  </ul>
  <H3 text="Приоритет способностей для набора кп в ">
    <span class="text-hover">KiR билде</span>
  </H3>
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Призрачный удар"
        href="https://www.wowhead.com/ru/spell=196937/призрачный-удар"
      /> - используется по откату (в основную цель, желательно чтобы она прожила
      все время действия или хотя бы стелс окна), не имеет гкд
    </li>
    <li>
      <WH
        text="Продолжительная отповедь"
        href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
      /> - по откату
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> - если на вас 6 стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      /> или бафф скоро кончится (осталось меньше 2 сек). Чтобы не оверкапить стаки
      и не терять бафф.
    </li>
    <li>
      <WH
        text="Выстрел из пистоли"
        href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
      /> под любым количеством стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      /> на 0-3 кп без кости <WH
        text="Бортовой залп"
        href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
      /> или на 0-1 кп с костью <WH
        text="Бортовой залп"
        href="https://www.wowhead.com/ru/spell=193356/бортовой-залп"
      />. Чтобы не уходить в оверкап по очкам серии приемов (кп).
    </li>
    <li>
      <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      />
    </li>
    <li>
      <WH
        text="Внезапный удар"
        href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
      /> - не используется в KiR билде, вообще.
    </li>
    <span class="my-[10px]"
      >То есть, если у вас 3 стака <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      /> - вы смотрите на кп, если уйдете в оверкап из п.4 - жмете <WH
        text="Коварный удар"
        href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
      /> пока не выполнится п.4 (не будет оверкапа по кп), либо у вас не станет 6
      стаков <WH
        text="Замечательной возможности"
        href="https://www.wowhead.com/ru/spell=195627/замечательная-возможность"
      /> и тогда выполнится п.3.</span
    >
  </ul>
  <H3 text="Приоритет завершающих способностей (finishers):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> - основной финишер, в стелс окнах не имеет перезарядки. Вне стелс окон используется
      только если откат последнего заряда<WH
        text="Исчезновения"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> больше 40 сек. Требуется это для того, чтобы <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> не оказался в откате, когда будет готово <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      />.
    </li>
    <li>
      <WH
        text="Устранение"
        href="https://www.wowhead.com/ru/spell=2098/устранение"
      /> - используется только если нельзя использовать <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> из п.1.
    </li>
    <li>
      <WH
        text="Мясорубка"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      /> - необходимо использовать только 1 раз на старте, дальше обновляется сама.
    </li>
  </ul>
  <H3 text="Приоритет кулдаунов (cooldowns):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Бросок костей"
        href="https://www.wowhead.com/ru/spell=315508/бросок-костей"
      /> - условия реролла описаны в разделе <a
        href="#bones"
        class="text-hover hover:opacity-80">Кости</a
      >
    </li>
    <li>
      <WH
        text="Шквал клинков"
        href="https://www.wowhead.com/ru/spell=13877/шквал-клинков"
      /> - бафф должен быть всегда, когда больше 1 цели. В АоЕ, если целей 5 и больше
      и у вас 0-2кп, используется по откату (из-за таланта <WH
        text="Ловкие маневры"
        href="https://www.wowhead.com/ru/spell=381878/ловкие-маневры"
      />)
    </li>
    <li>
      <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      /> - если неактивен, то используется по откату, на 0-2 кп. Иногда бывают ситуации,
      когда <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      /> откатился до спадения баффа предыдущего. В таких случаях новый <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      /> можно использовать ТОЛЬКО в стелс окнах, вне стелс окон сначала нужно дождаться
      спадения предыдущего <WH
        text="Выброс адреналина"
        href="https://www.wowhead.com/ru/spell=13750/выброс-адреналина"
      />. Это не бурст кулдаун, вы должны нажимать его по откату, между паками
      вы находитесь в незаметности, так что он замораживается из-за таланта <WH
        text="Козырь в рукаве"
        href="https://www.wowhead.com/ru/spell=424044/козырь-в-рукаве"
      />.
    </li>
    <li>
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> - используется только в паре с <WH
        text="Промеж глаз"
        href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
      /> (когда оно не в откате) и 5+ кп.
    </li>
    <li>
      <WH
        text="Скорополоховый чай"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      /> используется когда меньше половины энергии, если 3 заряда - можно выпить
      один на старте просто для баффа искусности.
    </li>
    <li>
      <WH
        text="Череда убийств"
        href="https://www.wowhead.com/ru/spell=51690/череда-убийств"
      /> используется только вне стелс окон c 5+ кп.
    </li>
    <li>
      <WH
        text="Натиск клинка"
        href="https://www.wowhead.com/ru/spell=271877/натиск-клинка"
      /> - используется если в ближайшие 4 секунды вы не уйдете в оверкап по энергии.
      Для простоты можете спокойно нажимать при энергии меньше 100. В АоЕ можете
      нажимать по откату.
    </li>
  </ul>
</div>
