---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_two_2:block w-full order-1 hidden">
  <div
    class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
  >
    <ul class="list-inside list-decimal gap-[20px] flex flex-col">
      <span>
        Я могу крафтить всё, что требуется разбойникам. Отправляйте на Мейникс
        (Ревущий Фьорд), цена 3к. Если вы на другом сервере и вам нужен крафт
        через гильдию - пишите в игре / дискорде / на стриме. У головореза нету
        особо выбора, всего по сути 2 варианта, оба подходят и для ключей и для
        рейда, по дпсу разница 0.1%. Линзы немного лучше в одну цель, заплатки
        для ключей.
      </span>
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:1560:523&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
        /> | <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:1560&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
        /> | <WH
          text="Амулет мастерства земельников"
          href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:10396:9627:10222:12043:12040:8794:8781&crafted-stats=49:32&crafting-quality=8&ilvl=681&spec=259"
        /> | <WH
          text="Амулет мастерства земельников"
          href="https://www.wowhead.com/ru/item=215135/кольцо-мастерства-земельников?bonus=10421:9633:8902:8792:8781:10520:8960&ilvl=681"
        /> + <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> x2
      </li>
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:1560:523&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
        /> + <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:1560&crafted-stats=36:40&crafting-quality=8&ilvl=681&spec=260"
        /> с <WH
          text="Закатная подкладка"
          href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
        /> x2
      </li>
    </ul>
  </div>
</div>
