---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_three_3:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <Comment>Сложный режим Тазавеша - ваш лучший друг</Comment>
    <li>
      <WH
        text="Первый кулак картеля Со"
        href="https://www.wowhead.com/ru/item=185778/первый-кулак-картеля-со?bonus=4786:10035:12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Резец дознавателя"
        href="https://www.wowhead.com/ru/item=185780/резец-дознавателя?bonus=4786:10035:12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Разбиватель судеб, Разрушитель будущего"
        href="https://www.wowhead.com/ru/item=185823/разбиватель-судеб-разрушитель-будущего?bonus=4786:10035:12361&hero=52&ilvl=723&spec=260"
      /> - отличное оружие, можно получить с эпохальным треком за сложный режим (хардмод,
      ХМ) Тазавеша (помимо хранилища)
    </li>
    <li>
      <WH
        text="Размагничивающий вольтОмометр Гигабжика"
        href="https://www.wowhead.com/ru/item=234493/размагничивающий-вольтомометр-гигабжика?bonus=12361&hero=52&ilvl=723&spec=260"
      /> | <WH
        text="Украшенный клинок Парсона"
        href="https://www.wowhead.com/ru/item=221138/украшенный-клинок-парсона?bonus=4786:3215:12361&hero=52&ilvl=723&spec=260"
      /> - лучший вариант ОХ если вы не крафтите кинжал
    </li>
    <li>
      <WH
        text="Печатка взрывающихся звезд"
        href="https://www.wowhead.com/ru/item=185813/печатка-взрывающихся-звезд?bonus=10035:12361:12239:8781&hero=52&ilvl=723&spec=260"
      /> - бис кольцо, можно получить с эпохальным треком за сложный режим (хардмод,
      ХМ) Тазавеша (помимо хранилища)
    </li>
    <li>
      <WH
        text="Штаны аномального звездного света"
        href="https://www.wowhead.com/ru/item=185801/штаны-аномального-звездного-света?bonus=10035:12361:12239&hero=52&ilvl=723&spec=260"
      /> - бис штаны, можно получить с эпохальным треком за сложный режим (хардмод,
      ХМ) Тазавеша (помимо хранилища)
    </li>
    <li>
      <WH
        text="Кабошон рода Бесконечности"
        href="https://www.wowhead.com/ru/item=185820/кабошон-рода-бесконечности?bonus=4786:10035:12361:8781&hero=52&ilvl=723&spec=260"
      /> - бис шея, можно получить с эпохальным треком за сложный режим (хардмод,
      ХМ) Тазавеша (помимо хранилища) | <WH
        text="Окровавленный сувенир"
        href="https://www.wowhead.com/ru/item=252009/окровавленный-сувенир?bonus=4786:1572:12361:8781&hero=52&ilvl=723&spec=260"
      />
    </li>
    <li>
      <WH
        text="Бесплотный коготь прыгуаны"
        href="https://www.wowhead.com/ru/item=242495/бесплотный-коготь-прыгуаны?bonus=4786:3215:12361&ilvl=723&spec=260"
      /> - лучший варинт до получения рейдовых. В качестве второго можно брать любой
      пассивный <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1559:12361&ilvl=723&spec=260"
      /> | <WH
        text="Кокон выводка Ара-Кары"
        href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?bonus=4786:3215:12361&ilvl=723&spec=260"
      /> | <WH
        text="Тикающий мешок ужаса"
        href="https://www.wowhead.com/ru/item=190652/тикающий-мешок-ужаса?bonus=4786:10035:12361&ilvl=723&spec=260"
      />
    </li>
    <li>
      <WH
        text="Пояс Венцы с карманами для порошков"
        href="https://www.wowhead.com/ru/item=185809/пояс-венцы-с-карманами-для-порошков?bonus=4786:10035:12361&ilvl=723&spec=260"
      /> - пока не получите БоЕ / крафт
    </li>
    <li>
      Вылазки: <WH
        text="Наручи зараженного Бездной клинка"
        href="https://www.wowhead.com/ru/item=237980/наручи-зараженного-бездной-клинка?bonus=9931:12355:523&hero=52&ilvl=710&spec=260"
      />, <WH
        text="Пояс зараженного Бездной клинка"
        href="https://www.wowhead.com/ru/item=237979/пояс-зараженного-бездной-клинка?bonus=9931:12355:523&hero=52&ilvl=710&spec=260"
      />, <WH
        text="Брюки зараженного Бездной клинка"
        href="https://www.wowhead.com/ru/item=237977/брюки-зараженного-бездной-клинка?bonus=9931:12355&hero=52&ilvl=710&spec=260"
      />, <WH
        text="Зараженный Бездной перстень"
        href="https://www.wowhead.com/ru/item=237956/зараженный-бездной-перстень?bonus=9931:12355:8781&hero=52&ilvl=710&spec=260"
      /> - отличные варианты, если выпадут с босса или хранилища (если у вас не будет
      в нем вещей с рейде / высоких ключей). Насчёт аксессуаров оттуда - пока не
      уверен и выглядят они очень слабыми
    </li>
  </ul>
</div>
