---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
import Comment from "../Comment.astro";
---

<section
  id={outlawMenuItems[4].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[4].label} />
  <ul
    class="list-inside list-decimal flex flex-col items-start gap-[10px] text-clamp_text border border-border rounded-md p-[20px]"
  >
    <li>
      Шея: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2
    </li>
    <li>
      Плащ: <WH
        text="Чары для плаща – песнь крылатой грации"
        href="https://www.wowhead.com/ru/item=223731/чары-для-плаща-песнь-крылатой-грации?crafting-quality=6"
      />
    </li>
    <li>
      Грудь: <WH
        text="Чары для нагрудника – кристаллическое сияние"
        href="https://www.wowhead.com/ru/item=223692/чары-для-нагрудника-кристаллическое-сияние?crafting-quality=6"
      />
    </li>
    <li>
      Запястья: <WH
        text="Чары для наручей – песнь брони и избежания"
        href="https://www.wowhead.com/ru/item=223713/чары-для-наручей-песнь-брони-и-избежания?crafting-quality=6"
      />
    </li>
    <li>
      Ноги: <WH
        text="Усиленные штормом накладки для доспехов"
        href="https://www.wowhead.com/ru/item=219911/усиленные-штормом-накладки-для-доспехов?crafting-quality=6"
      />
    </li>
    <li>
      Ступни: <WH
        text="Чары для обуви – ход защитника"
        href="https://www.wowhead.com/ru/item=223656/чары-для-обуви-ход-защитника?crafting-quality=6"
      />
    </li>
    <li>
      Кольца: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2 + <WH
        text="Чары для кольца – проклятая универсальность"
        href="https://www.wowhead.com/ru/item=223796/чары-для-кольца-проклятая-универсальность?crafting-quality=6"
      />
    </li>
    <li>
      Оружие (рейд): <WH
        text="Чары для оружия – власть недр"
        href="https://www.wowhead.com/ru/item=223784/чары-для-оружия-власть-недр?crafting-quality=6"
      /> x2
    </li>
    <li>
      Оружие (М+): <WH
        text="Чары для оружия – упорство Присягнувших"
        href="https://www.wowhead.com/ru/item=223768/чары-для-оружия-упорство-присягнувших?crafting-quality=6"
      /> + <WH
        text="Чары для оружия – хитрость Совета"
        href="https://www.wowhead.com/ru/item=223759/чары-для-оружия-хитрость-совета?crafting-quality=6"
      />
    </li>
    <li>
      Камни (особый): <WH
        text="Профанит апогея"
        href="https://www.wowhead.com/ru/item=213743/профанит-апогея?crafting-quality=6"
      />
    </li>
    <li>
      Камни (обычные): <WH
        text="Рубин универсальности"
        href="https://www.wowhead.com/ru/item=213461/рубин-универсальности?crafting-quality=6"
      /> x1 + <WH
        text="Изумруд универсальности"
        href="https://www.wowhead.com/ru/item=213485/изумруд-универсальности?crafting-quality=6"
      /> x1 + <WH
        text="Оникс универсальности"
        href="https://www.wowhead.com/ru/item=213497/оникс-универсальности?crafting-quality=6"
      /> x1 + <WH
        text="Сапфир скорости"
        href="https://www.wowhead.com/ru/item=213470/сапфир-скорости?crafting-quality=6"
      /> или <WH
        text="Сапфир смерти"
        href="https://www.wowhead.com/ru/item=213467/сапфир-смерти?crafting-quality=6"
      /> x3. Эти камни нужны для усиления особого камня. Вы можете воспользоваться
      рейдботсом, только не забудьте поставить чекбокс под профанитом "Only 4+ Colors"
    </li>
    <li>
      Флаконы: <WH
        text="Настой охлажденной универсальности"
        href="https://www.wowhead.com/ru/item=212277/настой-охлажденной-универсальности?crafting-quality=6"
      />
    </li>
    <li>
      Еда: любая еда на вторичные характеристики &gt; <WH
        text="Пир полуночного маскарада"
        href="https://www.wowhead.com/ru/item=222733/пир-полуночного-маскарада"
      /> |<WH
        text="Пир божественного дня"
        href="https://www.wowhead.com/ru/item=222732/пир-божественного-дня"
      />
    </li>
    <li>
      Зелья: <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      />
    </li>
    <li>
      Заточки / руны: <WH
        text="Пузырящийся воск"
        href="https://www.wowhead.com/ru/item=220156/пузырящийся-воск"
      /> (<a
        href="https://www.youtube.com/watch?v=o4eOrMj9Mto"
        target="_blank"
        class="text-hover hover:opacity-80">Видео</a
      >) + <WH
        text="Точильный камень из когтестали"
        href="https://www.wowhead.com/ru/item=222504/точильный-камень-из-когтестали"
      /> | <WH
        text="Алгарийское масло маны"
        href="https://www.wowhead.com/ru/item=224107/алгарийское-масло-маны"
      /> (выбирайте что дешевле, они идентичны по урону). В ключах <WH
        text="Пузырящийся воск"
        href="https://www.wowhead.com/ru/item=220156/пузырящийся-воск"
      /> не очень хорошо работает, так как мобы не в 1 точке (как в симе), поэтому
      проще использовать 2 <WH
        text="Точильный камень из когтестали"
        href="https://www.wowhead.com/ru/item=222504/точильный-камень-из-когтестали"
      /> или 2 <WH
        text="Алгарийское масло маны"
        href="https://www.wowhead.com/ru/item=224107/алгарийское-масло-маны"
      /> (в ключах они так же идентичны по урону)
    </li>
    <li>
      Лечебное зелье: <WH
        text="Бодрящее лечебное зелье"
        href="https://www.wowhead.com/ru/item=244839/бодрящее-лечебное-зелье"
      />
    </li>
  </ul>
</section>
