---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
---

<section
  id={outlawMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      В первом сезоне, на удивление, у головореза довольно мало
      "зафиксированных" вещей. Почти все вещи (даже редкие) можно заменить
      аналогами с потерей очень незначительного урона (или вообще без потерь),
      даже сет. Для своего персонажа всегда пользуйтесь <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >.
    </p>
    <div class="flex flex-wrap max-w-[1024px] text-secondary text-left">
      <input
        type="radio"
        id="tab_one_1"
        name="mytabs_equip"
        checked="checked"
        class="peer/tab_one_1 hidden p-[20px]"
      />
      <label
        for="tab_one_1"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one_1:text-outlaw peer-checked/tab_one_1:neon-outlaw"
        >Комплект</label
      >
      <div class="peer-checked/tab_one_1:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <span class="pt-[16px]">
            2 части (0.4% урона): <WH
              text="Коварный удар"
              href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
            />, <WH
              text="Выстрел из пистоли"
              href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
            /> и <WH
              text="Внезапный удар"
              href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
            /> с вероятностью 20% активируют <WH
              text="Призрачное буйство"
              href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
            />, нанося 15% дополнительного урона от темной магии. (Вероятность
            срабатывания: 20%)
          </span>
          <span class="pt-[16px]">
            4 части (1.2% урона, ~46% аптайм): <WH
              text="Призрачное буйство"
              href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
            /> также увеличивает урон от следующей способности <WH
              text="Промеж глаз"
              href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
            /> на 6%. Эффект суммируется до 3 раз.
          </span>
          <span class="pt-[16px]">
            Комплект очень слабый, полностью пассивный и не требует никакого
            отслеживания. Можно даже играть только с 2мя вещами и это будет
            совсем незначительной потерей
          </span>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_two_2"
        name="mytabs_equip"
        class="peer/tab_two_2 hidden p-[20px]"
      />
      <label
        for="tab_two_2"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two_2:text-outlaw peer-checked/tab_two_2:neon-outlaw"
        >Украшения</label
      >
      <div class="peer-checked/tab_two_2:block w-full order-1 hidden">
        <div
          class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
        >
          <ul class="list-inside list-decimal gap-[20px] flex flex-col">
            <span>
              Я могу крафтить всё, что требуется разбойникам. Вы можете
              ознакомиться с необходимыми реагентами и ценами в моих темах в
              дискорде крафтеров. Сначала вступите в него: <a
                href="https://discord.gg/H4hPwk5uvg"
                class="text-hover hover:opacity-80"
                target="_blank">Дискорд</a
              >. А затем перейти в мои темы: <a
                href="https://discord.com/channels/1048451177194459196/1281197039350448149"
                class="text-hover hover:opacity-80"
                target="_blank">Кузнечное дело</a
              > и <a
                href="https://discord.com/channels/1048451177194459196/1281201672001028096"
                class="text-hover hover:opacity-80"
                target="_blank">Кожевничество</a
              >
            </span>
            <li>
              Одноручный меч / дубинка / кистевое / топор в основную руку - как
              первый крафт подойдет только если вы играете ИСКЛЮЧИТЕЛЬНО на
              головорезе. При этом вам потом придется это оружие носить во
              второй руке (при том, что кинжал немного лучше). Но если вы
              решили, тогда делайте с <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> | <WH
                text="Символ Новолуния Симбиоз"
                href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
              /> и <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Извивающаяся окантовка доспеха"
                href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
              />. Пластину можно сделать низкого уровня (619) из героического
              герба (который вам дадут за задание на убийство последнего босса
              рейда, подойдет даже обычный уровень сложности). Пластина не
              зависит от уровня предмета и всегда даёт +100% к эффекту. Тем
              самым вы сможете сделать и основное оружие (если вам не повезет с
              хранилища / рейда) и бис набор в виде кинжал + пластина в
              последствии.
            </li>
            <li>
              <WH
                text="Выкованный навеки пронзатель"
                href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791:11300:8960&ilvl=636&spec=259"
              /> + <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> | <WH
                text="Символ Новолуния Симбиоз"
                href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
              /> и <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Извивающаяся окантовка доспеха"
                href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
              />. Один из лучших вариантов крафтов в целом, на уровне х2 <WH
                text="Стихийной фокусирующей линзой"
                href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
              />. При этом является и лучшим крафтом в других специализациях.
              Однако вам придется ходить с оружием низкого уровня в основной
              руке пока вы не получите 2ой эпохальный герб или вам не повезет с
              рейда / хранилища. Сомнительный вариант если головорез ваш
              основной спек, проще сделать 1 вариант, а затем сделать либо
              кинжал, либо перейти на варианты с двумя линзами / подкладками.
            </li>
            <span
              >Выбор <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> или <WH
                text="Символ Новолуния Симбиоз"
                href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
              /> индивидуальный. Симятся они идентично, что в рейде, что в ключах.
              Разница лишь в специализации, в которой вы играете помимо головореза.
              Если вы играете головорез + ликвидация - тогда <WH
                text="Символ Новолуния Вознесение"
                href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
              /> немного лучше, если же головорез + скрытность, тогда <WH
                text="Символ Новолуния Симбиоз"
                href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
              /> немного лучше. Но в целом вы можете делать с любым из этих украшений.</span
            >
            <li>
              <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:8794:10520:8960:523&ilvl=636&crafting-quality=8&&spec=261"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:1808:10520:8960&crafted-stats=49:40&crafting-quality=8&ilvl=636&spec=261"
              /> со
              <WH
                text="Стихийной фокусирующей линзой"
                href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
              /> x2. Для работы нужен хотя бы 1 сокет. Это вариант совсем немного
              лучше варианта с кинжал + пластина, однако требует два эпохальных герба,
              так как украшение усиливается от уровня предметов. Делать их первыми
              крафтами я не рекомендую, но можно сделать их после получения 3-4 искры
              (переделав запястья с пластины на линзу и убрав украшение с кинжала).
            </li>
            <li>
              <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:8794:11304:8960:523&ilvl=636&spec=261"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:1808:11304:8960&crafted-stats=49:40&crafting-quality=8&ilvl=636&spec=261"
              /> с <WH
                text="Закатная подкладка"
                href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
              />. Хороший вариант для ключей, но проще бегать с кинжал +
              пластина, ну или кинжал + 1 подкладка.
            </li>
          </ul>
        </div>
      </div>

      <input
        type="radio"
        id="tab_three_3"
        name="mytabs_equip"
        class="peer/tab_three_3 hidden p-[20px]"
      />
      <label
        for="tab_three_3"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three_3:text-outlaw peer-checked/tab_three_3:neon-outlaw text-center"
        >Что фармить?</label
      >
      <div class="peer-checked/tab_three_3:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <span class="mb-[10px]"
            >Для головореза очень много хороших (и даже лучших) выпадает с
            подземелий. Основные подземелья для фарма - Грим Батол, Смертельная
            Тризна, Осада Боралуса и Город Нитей
          </span>
          <li>
            <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            /> [Осада Боралуса] | <WH
              text="Кюлоты из мерцающей нити"
              href="https://www.wowhead.com/ru/item=133354/кюлоты-из-мерцающей-нити?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол], лучший вариант на замену вещи из комплекта
          </li>
          <li>
            <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Город Нитей], лучшая шея
          </li>
          <li>
            <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=4786:9948:10299:523&class=4&ilvl=639&spec=259"
            /> [Туманы Тирна Скитта], отличный пояс, пока не получите любой 639 для
            катализатора (или с рейда)
          </li>
          <li>
            <WH
              text="Сапоги осады"
              href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
            /> [Осада Боралуса] | <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            /> [Смертельная тризна], лучшие ботинки
          </li>
          <li>
            <WH
              text="Покров заклинателя роя"
              href="https://www.wowhead.com/ru/item=221154/покров-заклинателя-роя?bonus=4786:3131:10299&class=4&ilvl=639&spec=260"
            /> [Ара-Кара] | <WH
              text="Накидка печальных воспоминаний"
              href="https://www.wowhead.com/ru/item=133309/накидка-печальных-воспоминаний?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол] | <WH
              text="Плащ рожденного в лазури"
              href="https://www.wowhead.com/ru/item=133292/плащ-рожденного-в-лазури?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол]
          </li>
          <li>
            <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Город Нитей] | <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            /> [Смертельная тризна], а так же для HO <WH
              text="Кольцо Дун Альгаза"
              href="https://www.wowhead.com/ru/item=133287/кольцо-дун-альгаза?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Грим Батол] | <WH
              text="Ритуальный перстень командира"
              href="https://www.wowhead.com/ru/item=178781/ритуальный-перстень-командира?bonus=4786:9948:10299:8781&ilvl=639&spec=260"
            /> [Смертельная тризна]
          </li>
          <li>
            <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            /> [Ара-Кара] (лучший аксессуар) |
            <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Сияющий Рассвет] | <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            /> [Осада Боралуса], лучшие варианты для 2-го аксессуара
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_four_4"
        name="mytabs_equip"
        class="peer/tab_four_4 hidden p-[20px]"
      />
      <label
        for="tab_four_4"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_4:text-hover peer-checked/tab_four_4:neon-hover"
        >BiS (KiR)</label
      >
      <div class="peer-checked/tab_four_4:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=9948:10870&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            /> | <WH
              text="Бриджи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219332/бриджи-с-руническим-клеймом?bonus=10421:9633:8902:1515:10520:8960:8792&crafted-stats=36:40&ilvl=636&spec=260"
            /> (с крафтом или без)
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Сапоги осады"
              href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8792&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Приказ безумной королевы"
              href="https://www.wowhead.com/ru/item=212454/приказ-безумной-королевы?bonus=4800:4786:1540:10299&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:36&ilvl=636&spec=261"
            />
            +
            <WH
              text="Символ Новолуния Вознесение"
              href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
            /> | <WH
              text="Символ Новолуния Симбиоз"
              href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
            /> или <WH
              text="Кукри кровавого поцелуя"
              href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?class=4&ilvl=639&spec=260"
            /> (если используете х2 <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> или <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> + <WH
              text="Закатная подкладка"
              href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
            />)
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_five_5"
        name="mytabs_equip"
        class="peer/tab_five_5 hidden p-[20px]"
      />
      <label
        for="tab_five_5"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_five_5:text-hover peer-checked/tab_five_5:neon-hover text-center"
        >BiS (HO)</label
      >
      <div class="peer-checked/tab_five_5:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Темный лик потустороннего"
              href="https://www.wowhead.com/ru/item=212417/темный-лик-потустороннего?class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Нарамник тенехолода"
              href="https://www.wowhead.com/ru/item=221175/нарамник-тенехолода?bonus=3131:10870&ilvl=639&spec=260"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=9948:10870&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            /> | <WH
              text="Бриджи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219332/бриджи-с-руническим-клеймом?bonus=10421:9633:8902:1515:10520:8960:8792&crafted-stats=36:40&ilvl=636&spec=260"
            /> (с крафтом или без)
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Сапоги осады"
              href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8792&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=6652:10354:10268:1514:10255:10394:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Приказ безумной королевы"
              href="https://www.wowhead.com/ru/item=212454/приказ-безумной-королевы?bonus=4800:4786:1540:10299&ilvl=639&spec=260"
            /> &gt; <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Накидка печальных воспоминаний"
              href="https://www.wowhead.com/ru/item=133309/накидка-печальных-воспоминаний?bonus=11342:10299:10376&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:36&ilvl=636&spec=261"
            />
            +
            <WH
              text="Символ Новолуния Вознесение"
              href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
            /> | <WH
              text="Символ Новолуния Симбиоз"
              href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
            /> или <WH
              text="Кукри кровавого поцелуя"
              href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?class=4&ilvl=639&spec=260"
            /> (если используете х2 <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> или <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> + <WH
              text="Закатная подкладка"
              href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
            />)
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_six_6"
        name="mytabs_equip"
        class="peer/tab_six_6 hidden p-[20px]"
      />
      <label
        for="tab_six_6"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_six_6:text-hover peer-checked/tab_six_6:neon-hover text-center"
        >BiS (ключи)</label
      >
      <div class="peer-checked/tab_six_6:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=9948:10870&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            /> | <WH
              text="Бриджи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219332/бриджи-с-руническим-клеймом?bonus=10421:9633:8902:1515:10520:8960:8792&crafted-stats=36:40&ilvl=636&spec=260"
            /> (с крафтом или без)
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            /> | <WH
              text="Сапоги осады"
              href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8792&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:36&ilvl=636&spec=261"
            />
            +
            <WH
              text="Символ Новолуния Вознесение"
              href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
            /> | <WH
              text="Символ Новолуния Симбиоз"
              href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
            /> или <WH
              text="Кукри кровавого поцелуя"
              href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?class=4&ilvl=639&spec=260"
            /> (если используете х2 <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> или <WH
              text="Стихийной фокусирующей линзой"
              href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
            /> + <WH
              text="Закатная подкладка"
              href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
            />)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
