---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { outlawMenuItems } from "../../constants/content";
---

<section
  id={outlawMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      В первом сезоне, на удивление, у головореза довольно мало
      "зафиксированных" вещей. Почти все вещи (даже редкие) можно заменить
      аналогами с потерей очень незначительного урона (или вообще без потерь).
      По итогу, обязательны лишь 4 вещи из комплекта, 2 крафта, редкое кольцо и
      аксессуар. Все остальные вещи в разных комбинациях можно сделать "бис
      гиром", что увеличивает вариативность. Для своего персонажа всегда
      пользуйтесь <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >.
    </p>
    <div class="flex flex-wrap max-w-[1024px] text-secondary text-left">
      <input
        type="radio"
        id="tab_one_1"
        name="mytabs_equip"
        checked="checked"
        class="peer/tab_one_1 hidden p-[20px]"
      />
      <label
        for="tab_one_1"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one_1:text-assa peer-checked/tab_one_1:neon-assa"
        >Комплект</label
      >
      <div class="peer-checked/tab_one_1:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <span class="pt-[16px]">
            2 части (0.4% урона): <WH
              text="Коварный удар"
              href="https://www.wowhead.com/ru/spell=193315/коварный-удар"
            />, <WH
              text="Выстрел из пистоли"
              href="https://www.wowhead.com/ru/spell=185763/выстрел-из-пистоли"
            /> и <WH
              text="Внезапный удар"
              href="https://www.wowhead.com/ru/spell=8676/внезапный-удар"
            /> с вероятностью 20% активируют <WH
              text="Призрачное буйство"
              href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
            />, нанося 15% дополнительного урона от темной магии. (Вероятность
            срабатывания: 20%)
          </span>
          <span class="pt-[16px]">
            4 части (1.2% урона, ~46% аптайм): <WH
              text="Призрачное буйство"
              href="https://www.wowhead.com/ru/spell=459002/призрачное-буйство"
            /> также увеличивает урон от следующей способности <WH
              text="Промеж глаз"
              href="https://www.wowhead.com/ru/spell=315341/промеж-глаз"
            /> на 6%. Эффект суммируется до 3 раз.
          </span>
          <span class="pt-[16px]">
            Комплект очень слабый, полностью пассивный и не требует никакого
            отслеживания. Можно даже играть только с 2мя вещами и это будет
            совсем незначительной потерей
          </span>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_two_2"
        name="mytabs_equip"
        class="peer/tab_two_2 hidden p-[20px]"
      />
      <label
        for="tab_two_2"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two_2:text-assa peer-checked/tab_two_2:neon-assa"
        >Украшения</label
      >
      <div class="peer-checked/tab_two_2:block w-full order-1 hidden">
        <div
          class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
        >
          <ul class="list-inside list-decimal gap-[20px] flex flex-col">
            <span class="pb-[10px] text-red-600"
              >На момент написания гайда (до релиза игры) многие украшения не
              работают ни в игре, ни в симе. Поэтому здесь не будет топа, пока
              не будут добавлены все украшения в сим. Я лишь напишу
              предполагаемый топ крафтов и причину.</span
            >
            <li>
              <WH
                text="Выкованный навеки пронзатель"
                href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:8795:11302:8960&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:8795:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              />. Выглядит как самый лучший первый крафт. Во первых, даггер
              симится лучше всех украшений (у ликвидации даже 2, у остальных
              специализаций по одному) + это самый сильный ап (по сравнению с
              героическими вещами) и экономия гребней на оружии. Во вторых, мы
              можем сделать наручи низкого уровня, чтобы сэкономить эпохальные
              гребни и потратить их на улучшение других вещей (как было с
              токсичной пластиной). Обязательно нужно крафтить Симбиоз или
              Вознесение, так как они являются нерубским украшением и усиляются
              пластиной. Желательно делать крит + универсальность, чтобы подошло
              на все специализации.
            </li>
            <li>
              <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> или <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11304:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=11304:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              />. Это скорее вариант для ключей, где высокий аптайм и возможно
              для фарма в рейде. Так же придется делать 2 крафта максимального
              уровня, что потребует много эпохальных гребней. Симятся хуже 1-го
              варианта даже при 100% аптайме.
            </li>
          </ul>
        </div>
      </div>

      <input
        type="radio"
        id="tab_three_3"
        name="mytabs_equip"
        class="peer/tab_three_3 hidden p-[20px]"
      />
      <label
        for="tab_three_3"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three_3:text-assa peer-checked/tab_three_3:neon-assa text-center"
        >Что фармить?</label
      >
      <div class="peer-checked/tab_three_3:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <span class="mb-[10px]"
            >Для головореза очень много хороших (и даже лучших) выпадает с
            подземелий. Основные подземелья для фарма - Грим Батол, Смертельная
            Тризна, Осада Боралуса и Город Нитей
          </span>
          <li>
            <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            /> [Осада Боралуса] | <WH
              text="Кюлоты из мерцающей нити"
              href="https://www.wowhead.com/ru/item=133354/кюлоты-из-мерцающей-нити?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол], лучший вариант на замену вещи из комплекта
          </li>
          <li>
            <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Город Нитей], лучшая шея
          </li>
          <li>
            <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=4786:9948:10299:523&class=4&ilvl=639&spec=259"
            /> [Туманы Тирна Скитта], отличный пояс, пока не получите любой 639 для
            катализатора (или с рейда)
          </li>
          <li>
            <WH
              text="Сапоги осады"
              href="https://www.wowhead.com/ru/item=159320/сапоги-осады?bonus=4786:10047:10299&class=4&ilvl=639&spec=260"
            /> [Осада Боралуса] | <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            /> [Смертельная тризна], лучшие ботинки
          </li>
          <li>
            <WH
              text="Покров заклинателя роя"
              href="https://www.wowhead.com/ru/item=221154/покров-заклинателя-роя?bonus=4786:3131:10299&class=4&ilvl=639&spec=260"
            /> [Ара-Кара] | <WH
              text="Накидка печальных воспоминаний"
              href="https://www.wowhead.com/ru/item=133309/накидка-печальных-воспоминаний?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол] | <WH
              text="Плащ рожденного в лазури"
              href="https://www.wowhead.com/ru/item=133292/плащ-рожденного-в-лазури?bonus=4786:11342:10299&class=4&ilvl=639&spec=260"
            /> [Грим Батол]
          </li>
          <li>
            <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Город Нитей] | <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            /> [Смертельная тризна], а так же для HO <WH
              text="Кольцо Дун Альгаза"
              href="https://www.wowhead.com/ru/item=133287/кольцо-дун-альгаза?bonus=3131:10870:8781&ilvl=639&spec=260"
            /> [Грим Батол] | <WH
              text="Ритуальный перстень командира"
              href="https://www.wowhead.com/ru/item=178781/ритуальный-перстень-командира?bonus=4786:9948:10299:8781&ilvl=639&spec=260"
            /> [Смертельная тризна]
          </li>
          <li>
            <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            /> [Ара-Кара] (лучший аксессуар) |
            <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Сияющий Рассвет] | <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            /> [Осада Боралуса], лучшие варианты для 2-го аксессуара
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_four_4"
        name="mytabs_equip"
        class="peer/tab_four_4 hidden p-[20px]"
      />
      <label
        for="tab_four_4"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_4:text-hover peer-checked/tab_four_4:neon-hover"
        >BiS (KiR)</label
      >
      <div class="peer-checked/tab_four_4:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8795:523&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11301:8960&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (бодрость или симбиоз)
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_five_5"
        name="mytabs_equip"
        class="peer/tab_five_5 hidden p-[20px]"
      />
      <label
        for="tab_five_5"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_five_5:text-hover peer-checked/tab_five_5:neon-hover text-center"
        >BiS (HO)</label
      >
      <div class="peer-checked/tab_five_5:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8795:523&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо Дун Альгаза"
              href="https://www.wowhead.com/ru/item=133287/кольцо-дун-альгаза?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=9948:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Накидка печальных воспоминаний"
              href="https://www.wowhead.com/ru/item=133309/накидка-печальных-воспоминаний?bonus=6652:10376:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11301:8960&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (бодрость или симбиоз)
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_six_6"
        name="mytabs_equip"
        class="peer/tab_six_6 hidden p-[20px]"
      />
      <label
        for="tab_six_6"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_six_6:text-hover peer-checked/tab_six_6:neon-hover text-center"
        >BiS (ключи)</label
      >
      <div class="peer-checked/tab_six_6:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <span class="mb-[10px]"
            >Хоть в аое вес скорости сильно падает относительно других
            характеристик, но стоит помнить, что сейчас нету разделения на
            укрепленную и тираническую неделю. Так что вам нужен урон как в аое,
            так и в одну цель. Так же не стоит забывать что скорость уменьшает
            гкд в адреналине, поэтому полностью от нее отказываться не стоит. В
            целом вы спокойно можете играть полностью в рейдовом гире и это
            будет "бис". Ниже будет bis гир для KiR, для HO бис гир для ключей
            полностью аналогичен рейдовому.</span
          >
          <li>
            Голова:
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            Шея: <WH
              text="Подвеска гемолимфомного старейшины"
              href="https://www.wowhead.com/ru/item=221181/подвеска-гемолимфомного-старейшины?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212035/пояс-фантома-кареши?bonus=1540:10299:523&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ноги: <WH
              text="Кюлоты морехода"
              href="https://www.wowhead.com/ru/item=159322/кюлоты-морехода?class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Ступни: <WH
              text="Прошитые потрохами башмаки"
              href="https://www.wowhead.com/ru/item=178731/прошитые-потрохами-башмаки?bonus=9948&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:11144:10222:1485:10520:8960:8795:523&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (крафт на нерубскую заплатку / линзу / универсальность)
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо эксперимента 08752"
              href="https://www.wowhead.com/ru/item=221189/кольцо-эксперимента-08752?bonus=3131:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Потерянная печатка Трупошва"
              href="https://www.wowhead.com/ru/item=178736/потерянная-печатка-трупошва?bonus=9948:10870:8781&ilvl=639&spec=260"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?bonus=6652:10354:10270:1507:10255&class=4&ilvl=639&spec=260"
            /> или <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            />
          </li>
          <li>
            Плащ: <WH
              text="Крылья разбитой печали"
              href="https://www.wowhead.com/ru/item=225574/крылья-разбитой-печали?bonus=10356:1540"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Искажающий клинок жнеца Бездны"
              href="https://www.wowhead.com/ru/item=219877/искажающий-клинок-жнеца-бездны?bonus=6652:10354:10269:1511:10255&class=4&ilvl=639&spec=260"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11301:8960&class=4&crafted-stats=32:40&ilvl=636&spec=260"
            /> (бодрость или симбиоз)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
