---
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Страница не найдена">
  <div class="flex justify-center items-center h-[calc(100vh-60px)]">
    <H1 text="Страница не найдена" />
  </div>
</Layout>
