---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H2 from "../components/H2.astro";
import Post from "../components/Post.astro";
import WH from "../components/WH.astro";
---

<Layout title="Палата теней">
  <Main>
    <div
      class="col-span-2 h-[calc(100vw/3)] max-h-[550px] bg-[url('/images/main_logo.webp')] w-full bg-top bg-no-repeat bg-cover shadow-[inset_0_0_50px_-3px_rgba(0,0,0,1)]"
    >
    </div>
    <article
      class="pt-[40px] mx-auto max-w-clamp_content flex flex-col justify-start items-center min-h-screen"
    >
      <section
        class="w-full h-full flex flex-col items-center pb-[40px] text-clamp_heading text-secondary text-center"
      >
        <H2 text="Последние обновления" />
        <div class="grid grid-cols-1 max-w-3xl gap-[20px]">
          <Post title="Обновление 07.04">
            <ul class="list-disc list-inside">
              <li>Изменены опенеры в Скрытности</li>
              <li>
                Исправлено отображение чекбоксов в мобильной версии в разделе
                опенеров Скрытности
              </li>
              <li>
                Добавлено несколько комментариев в раздел ротации Скрытности (<WH
                  text="Удар в спину"
                  href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
                /> в <WH
                  text="Танце теней"
                  href="https://www.wowhead.com/ru/spell=185313/танец-теней"
                />, <WH
                  text="Удар милосердия"
                  href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
                />, <WH
                  text="Исчезновение"
                  href="https://www.wowhead.com/ru/spell=1856/исчезновение"
                />)
              </li>
            </ul>
          </Post>
          <Post title="Обновление гайда 17.03">
            <ul class="list-disc list-inside">
              <li>Полностью обновлен гайд на скрытность 11.1</li>
            </ul>
          </Post>
        </div>
      </section>
    </article>
  </Main>
</Layout>
