---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import SideBar from "../components/NavigateButtons";
import StaticMenu from "../components/StaticMenu.astro";
import SubtletyRaces from "../components/Subtlety/Subtlety_races.astro";
import SubtletyTalents from "../components/Subtlety/Subtlety_talents.astro";
import SubtletyStats from "../components/Subtlety/Subtlety_stats.astro";
import SubtletyEquip from "../components/Subtlety/Subtlety_equip.astro";
import SubtletyEnchants from "../components/Subtlety/Subtlety_enchants.astro";
import SubtletyRotation from "../components/Subtlety/Subtlety_rotation.astro";
import Macro from "../components/Macro.astro";

const props = {
  title: "Скрытность",
  description: "Гайд по Скрытности (Rogue) в World of Warcraft",
  image: "../assets/guide/menu_icons/subtlety.webp",
};
---

<Layout {...props}>
  <Main>
    <div
      class="col-span-2 h-[calc(100vw/3)] max-h-[550px] bg-[url('/images/main_logo.webp')] w-full bg-top bg-no-repeat bg-cover shadow-[inset_0_0_50px_-3px_rgba(0,0,0,1)]"
    >
    </div>
    <div
      class="relative lg:grid lg:grid-cols-[0_1fr_220px] xl:grid-cols-[minmax(220px,20%)_1fr_minmax(220px,20%)]"
    >
      <div></div>
      <article
        class="mx-auto max-w-clamp_content flex flex-col justify-center items-center"
      >
        <SubtletyRaces />
        <SubtletyTalents />
        <SubtletyStats />
        <SubtletyEquip />
        <SubtletyEnchants />
        <SubtletyRotation />
        <Macro />
      </article>
      <StaticMenu />
    </div>
    <SideBar client:load />
  </Main>
</Layout>
