---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import Tabs from "./Subtlety_tabs.astro";
---

<section
  id={subMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>У скрытности на данный момент 2 основных варианта билдов:</p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. IS (Invigorating Shadowdust) билд <WH
          text="Живительная темная пыльца"
          href="https://www.wowhead.com/ru/spell=382523/живительная-темная-пыльца"
        />
      </li>
      <li>
        2. DB (Dark Brew) <WH
          text="Темный отвар"
          href="https://www.wowhead.com/ru/spell=382504/темный-отвар"
        />
      </li>
    </ul>
    <p>
      Билд через <WH
        text="Живительная темная пыльца"
        href="https://www.wowhead.com/ru/spell=382523/живительная-темная-пыльца"
      /> единственный вариант для рейда. Билд через <WH
        text="Темный отвар"
        href="https://www.wowhead.com/ru/spell=382504/темный-отвар"
      /> может играться в ключах, он сильнее IS билда по цифрам сима и по моим тестам,
      особенно подойдет новичкам, так как он намного проще IS. IS может быть сильнее
      если в ключе есть +дпс боссы, на которых вы сдадите больше бурстов чем в DB
      билде. Пробуйте оба и сами решайте.
    </p>
    <Tabs />
  </div>
</section>
