---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Продолжительная отповедь"
      href="https://www.wowhead.com/ru/spell=385616/продолжительная-отповедь"
    />
  </li>
  <li>
    <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> [1-2 цель]
  </li>
  <li>
    <WH
      text="Торнадо из сюрикэнов"
      href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    />
  </li>
  <li>
    <WH
      text="Теневые клинки"
      href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
    />
  </li>

  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    />, вам нужно собрать 2 сферы сразу и последнюю через 7-8 сек
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> (это делается в <WH
      text="Танце теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />, чтобы заснэпшотить <WH
      text="Рваную рану"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> от <WH
      text="Завершение: рваная рана"
      href="https://www.wowhead.com/ru/spell=385951/завершение-рваная-рана"
    /> и <WH
      text="Ночного ловца"
      href="https://www.wowhead.com/ru/spell=14062/ночной-ловец"
    />) [3-4 цель]
  </li>
  <li>
    <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />
  </li>
  <li>
    <WH
      text="Черный порох"
      href="https://www.wowhead.com/ru/spell=319175/черный-порох"
    /> x2
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    />
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Черный порох"
      href="https://www.wowhead.com/ru/spell=319175/черный-порох"
    /> x2
  </li>
</ul>
