---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="p-4 border border-border rounded-md">
  <label
    for="buff"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="buff"
      name="buff"
      class="peer hidden checkbox-2"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-yellow-400 peer-checked:border-gray-700"
    ></span>
    <span class="text-left">
      Есть бафф <WH
        text="Мясорубки"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      />
    </span>
  </label>

  <label
    for="commentsTM"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      checked
      type="checkbox"
      id="commentsTM"
      name="commentsTM"
      class="peer hidden checkbox-3 checked"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-hover peer-checked:border-gray-700"
    ></span>
    <span class="text-left"> Показать комментарии*</span></label
  >

  <ul
    class="peer-checked:hidden list-inside list-decimal flex flex-col items-start p-[20px] text-left gap-[10px]"
  >
    <span
      >ВАЖНО: Ниже в [ ] для финишеров, будет количество целей под <WH
        text="Выявлением слабости"
        href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
      />. Для отслеживания можете использовать мою сборку WA на бусти: <a
        href="https://boosty.to/mainx"
        target="_blank"
        class="text-hover hover:opacity-80">Boosty</a
      > или отдельную WA: <a
        href="https://wago.io/BrHbOxhS7"
        target="_blank"
        class="text-hover hover:opacity-80">Wago</a
      >. Для филлеров в ( ) количество целей вокруг.
    </span>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />
    </li>
    <li class="hidden-item-2">
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li class="hidden-item-2">
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> + <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> + <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      />
    </li>
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />
    </li>
    <Comment class="hidden visible-comment"
      >Для стака <WH
        text="Пляски смерти"
        href="https://www.wowhead.com/ru/spell=382528/пляска-смерти"
      /></Comment
    >
    <li>
      <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      /> + <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      /> + Аксессуар
    </li>
    <Comment class="hidden visible-comment"
      >Жмутся после <WH
        text="Удара в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />, т.к. бафф <WH
        text="Умысел"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      /> и так даст 7кп</Comment
    >
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> | <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (если меньше 5 целей под <WH
        text="Выявлением слабости"
        href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
      /> и вы дальше собираетесь нажимать <WH
        text="Черные порохи"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      />)
    </li>
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> [1-2] | <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> [3+]
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> + <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> [1-2] | <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> [3+] пока не закончится <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />*
    </li>
    <Comment class="hidden visible-comment"
      ><WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> используется в <WH
        text="Танце теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> ТОЛЬКО 1 РАЗ. <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> имеет самый высокий приоритет, если он сработал - жмём его, а не <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      />, вне зависимости от количества целей.</Comment
    >
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />
    </li>
    <Comment class="hidden visible-comment"
      >Для стака <WH
        text="Пляски смерти"
        href="https://www.wowhead.com/ru/spell=382528/пляска-смерти"
      /></Comment
    >
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> (когда предыдущих осталось меньше 3 сек)
    </li>
    <Comment class="hidden visible-comment"
      >Пандемик тайм на
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> составляет 10 (базовое время действия) * 30% ("pandemic time") = 3 сек.
      То есть, если вы нажмете новые <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> когда предыдущих осталось меньше 3 секунд, оставшееся время прибавятся к
      новым 10 сек (13 сек максимум)</Comment
    >
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> [1-2] | <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> [3+]
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> | <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (если меньше 5 целей под <WH
        text="Выявлением слабости"
        href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
      /> и вы дальше собираетесь нажимать <WH
        text="Черные порохи"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      />)
    </li>
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> + <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> [1-2] | <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> [3+] пока не закончится <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Рваные раны"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> на все толстые цели, которые проживут хотя бы 14+ секунд
    </li>
  </ul>
</div>
