---
import H2 from "../H2.astro";
import { subMenuItems } from "../../constants/content";
import Accordion from "../Accordion.astro";
import H3 from "../H3.astro";
import WH from "../WH.astro";
---

<section
  id={subMenuItems[2].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[2].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <Accordion title="Таблица штрафов и характеристик">
      <p>
        На вторичные характеристики распростроняется механика Diminishing
        Returns (DR), ниже приведена таблица со штрафами в зависимости от %
        характеристик. Базовые характеристики, ваши таланты и баффы не
        учитываются в расчётах, только проценты (рейтинг) полученные с вещей.
        Чтобы не считать самому, вы можете воспользоваться аддоном <a
          href="https://www.curseforge.com/wow/addons/true-stat-values"
          class="text-hover hover:opacity-80">True Stat Values</a
        >
      </p>
      <ul class="list-inside list-disc flex flex-col items-start">
        <li>от 0 до 30% — нету штрафа</li>
        <li>от 30% до 39% — 10% штраф</li>
        <li>от 39% до 47% — 20% штраф</li>
        <li>от 47% до 54% — 30% штраф</li>
        <li>от 54% до 66% — 40% штраф</li>
        <li>от 66% до 126% — 50% штраф</li>
      </ul>
      <p>В большинстве случаев характеристики не выходят за 10% штраф</p>
    </Accordion>

    <p>
      Хоть в игре и нету "капов", но есть оптимальные значения. У ликвидации,
      как и всегда, все характеристики очень близки, поэтому не получится
      собирать только 2 или 3 характеристики. Ниже будут приведены оптимальные
      значения для рейда и ключей, однако помните, что конкретно для вашего
      персонажа текущий вес характеристик может отличаться, все зависит от вашей
      текущей экипировки, расы и прочего. Всегда проверяйте своего персонажа на <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80"
        target="_blank">Raidbots - Top Gear</a
      >, указав правильные расходники. Если вам потребуется премиум Raidbots, вы
      можете получить его у меня на <a
        href="https://boosty.to/mainx"
        class="text-hover hover:opacity-80"
        target="_blank">Boosty</a
      >.
    </p>
    <H3 text="Приоритет характеристик для рейда" />
    <ul
      class="list-inside list-decimal font-medium border border-border rounded-md p-[20px] text-left flex flex-col gap-[20px]"
    >
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов</span
      >
      <li>
        До 27-29% критического удара можно использовать вещи крит +
        универсальность / искусность. Дальше все вещи универсальность +
        искусность.
      </li>
      <li>
        Скорость не требуется. В идеале должна быть только на <WH
          text="Тактический жилет внезапного затмения"
          href="https://www.wowhead.com/ptr-2/item=237667/tactical-vest-of-the-sudden-eclipse?bonus=12361:10356:12229:40:12676:1533:10255&ilvl=723"
        /> и одном самоцвете
      </li>
    </ul>
    <H3 text="Приоритет характеристик для ключей" />
    <ul
      class="list-inside list-decimal font-medium border border-border rounded-md p-[20px] text-left flex flex-col gap-[20px]"
    >
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов. Для
        ключей используется <WH
          text="Проклятый каменный идол"
          href="https://www.wowhead.com/ptr-2/item=246344/cursed-stone-idol?bonus=1595:12361:12239&class=4&ilvl=723&spec=261"
        /> + <WH
          text="Меченый бездной фрагмент"
          href="https://www.wowhead.com/ptr-2/item=238386/void-touched-fragment?bonus=6652:12355:1582:10255&class=4&ilvl=710&spec=261"
        /></span
      >
      <li>
        Для <WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> достаточно 20% критического удара. Крит нам нужен в основном для развешивания
        <WH
          text="Выявления слабости"
          href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
        /> в аое, а <WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> сильно это упрощает, поэтому и вес / значения крита ниже, чем при игре
        с <WH
          text="Завершением"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        />. Для <WH
          text="Завершения"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        /> вам желательно иметь ~25-26% крита.
      </li>
      <li>Дальнейшие вещи искусность + универсальность</li>
      <li>
        Скорость не требуется. В идеале должна быть только на <WH
          text="Тактический жилет внезапного затмения"
          href="https://www.wowhead.com/ptr-2/item=237667/tactical-vest-of-the-sudden-eclipse?bonus=12361:10356:12229:40:12676:1533:10255&ilvl=723"
        /> и одном самоцвете
      </li>
    </ul>
    <H3 text="Характеристики в BiS экипировке" />
    <ul
      class="list-inside list-disc font-medium border border-border rounded-md p-[20px] text-left flex flex-col gap-[20px]"
    >
      <span class="text-hover"
        >Все характеристики указаны без баффов, настоев и прочих бонусов. Для
        ключей используется <WH
          text="Проклятый каменный идол"
          href="https://www.wowhead.com/ptr-2/item=246344/cursed-stone-idol?bonus=1595:12361:12239&class=4&ilvl=723&spec=261"
        /> + <WH
          text="Меченый бездной фрагмент"
          href="https://www.wowhead.com/ptr-2/item=238386/void-touched-fragment?bonus=6652:12355:1582:10255&class=4&ilvl=710&spec=261"
        /></span
      >

      <span class="text-purple-500">Рейд:</span>
      <li>Критический удар 29.52%</li>
      <li>Универсальность 28.99%</li>
      <li>Скорость 1.54%</li>
      <li>Искусность 87.67%</li>
      <span class="text-yellow-500"
        >Ключи <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        />:</span
      >
      <li>Критический удар 26.40%</li>
      <li>Универсальность 29.8%</li>
      <li>Скорость 1.54%</li>
      <li>Искусность 86.12%</li>
      <span class="text-green-500"
        >Ключи <WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        />:</span
      >
      <li>Критический удар 19.57%</li>
      <li>Универсальность 29.8%</li>
      <li>Скорость 1.54%</li>
      <li>Искусность 101.89%</li>
    </ul>
  </div>
</section>
