---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    /> или <WH
      text="Шквал сюрикэнов"
      href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
    /> (если 3+ цели) [до 5+ кп]
  </li>
  <li>
    <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> [1-2 цель, это 1 использование, 2 цели от таланта <WH
      text="Размножающиеся тени"
      href="https://www.wowhead.com/ru/spell=382506/размножающиеся-тени"
    />]
  </li>
  <li>
    <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    /> (если играете без праха, вам нужно собрать 2 сферы сразу и последнюю через
    7-8 сек)
  </li>
  <li>
    <WH
      text="Торнадо из сюрикэнов"
      href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    /> + <WH
      text="Теневые клинки"
      href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
    /> + <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Прах души угля"
      href="https://www.wowhead.com/ru/item=207167/прах-души-угля"
    /> (через секунду после использования <WH
      text="Торнадо из сюрикэнов"
      href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
    />, до того как вылетел первый шквал)
  </li>
  <li>
    <WH
      text="Черный порох"
      href="https://www.wowhead.com/ru/spell=319175/черный-порох"
    />
  </li>
  <li>
    <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
    /> + <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />
  </li>
  <li>
    <WH
      text="Черный порох"
      href="https://www.wowhead.com/ru/spell=319175/черный-порох"
    /> х2
  </li>
  <span class="my-[10px]"
    >Дальнейшая ротация DB билда сводится к развешиванию <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> на все цели, что проживут хотя бы 12 секунд.</span
  >
  <span class="mb-[10px]"
    >Если вы играете в IS билде, то после окончания первого <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> используется <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> для того, чтобы во втором <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> повторить 8 пункт.</span
  >
  <span
    >Если вы играете с дабл юзом, то прах используется под <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
    /> + <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />, а <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    /> под <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    /> по возможности</span
  >
</ul>
