---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_two_2:block w-full order-1 hidden">
  <div
    class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
  >
    <ul class="list-inside list-decimal gap-[20px] flex flex-col">
      <span>
        Я могу крафтить всё, что требуется разбойникам. Отправляйте на Мейникс
        (Ревущий Фьорд), цена 3к. Если вы на другом сервере и вам нужен крафт
        через гильдию - пишите в игре / дискорде / на стриме.
      </span>
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:9627:8794:12040:12043:10520:8960&crafted-stats=32:49&ilvl=675&spec=259"
        /> + <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> | <WH
          text="Символ Новолуния Симбиоз"
          href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
        /> | <WH
          text="Стихийной фокусирующей линзой"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        />
        лучший первый крафт, если вам сразу не выпал кинжал с хранилища. Сначала
        вы носите кинжал в основной руке (мх), что уже дает самую большую прибавку
        среди всех вещей. Затем, когда вы получите кинжал с хранилища или с эпохального
        рейда, вы просто переставляете его во вторую руку (ох), тем самым ничего
        не теряя (это все равно один из вариантов бис крафта).
      </li>
      <span
        >Выбор <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> | <WH
          text="Символ Новолуния Симбиоз"
          href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
        /> | <WH
          text="Стихийной фокусирующей линзой"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> индивидуальный. Симятся они практически идентично (<WH
          text="Стихийной фокусирующей линзой"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> совсем немного лучше). Разница лишь в специализации, в которой вы играете
        помимо скрытности. Если вы играете скрытность + ликвидация - тогда <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> немного лучше, если же скрытность + головорез, тогда <WH
          text="Символ Новолуния Симбиоз"
          href="https://www.wowhead.com/ru/item=226030/символ-новолуния-симбиоз"
        /> или <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        />. Но в целом вы можете делать с любым из этих украшений.</span
      >
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:9627:8794:10222:12043:12040&crafted-stats=32:36&ilvl=675&spec=259"
        /> | <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:9627:10222:8794:12043:12040&crafted-stats=36:40&crafting-quality=8&ilvl=675&spec=259"
        /> + <WH
          text="Извивающаяся окантовка доспеха"
          href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
        /> | <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> или <WH
          text="Амулет мастерства земельников"
          href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:10396:9627:10222:12043:12040:8794:8781&crafted-stats=49:32&crafting-quality=8&ilvl=675&spec=259"
        /> + <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        />. Все варианты очень близки и зависят от вашего слабого слота. В бис
        гире можно использовать любую комбинацию 2х крафтов, по дпсу они
        идентичны. Для конкретно своего персонажа можете воспользоваться
        Raidbots - Top gear, подробнее можете посмотреть в коротком видео:
        <div
          class="flex justify-center items-center pb-[10px] max-w-lg mx-auto"
        >
          <iframe
            src="https://www.youtube.com/embed/pS_88jtRHhc"
            title="что крафтить?"
            class="w-full h-full aspect-video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </li>
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:9627:8794:10222:12043:12040&crafted-stats=32:36&ilvl=675&spec=259"
        /> + <WH
          text="Освященный плащ"
          href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:9627:10222:8794:12043:12040&crafted-stats=36:40&crafting-quality=8&ilvl=675&spec=259"
        /> с <WH
          text="Закатная подкладка"
          href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
        />. Это скорее возможный вариант для ключей. По урону совсем немного
        хуже, но немного больше выживаемости. Крафтить есть смысл 3-4 крафтом,
        но не первыми.
      </li>
    </ul>
  </div>
</div>
