---
import H3 from "../H3.astro";
import WH from "../WH.astro";
import Rotation from "../../assets/guide/subtlety/rotation_sub.png";
import DS from "../Hero_trees/DS.astro";
import TR from "../Hero_trees/TR.astro";
---

<div class="pt-[60px] flex flex-col gap-[20px] text-clamp_text">
  <H3 text="Приоритет способностей для набора кп (builders) НЕ В ">
    <WH
      text="Танце теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </H3>
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <TR />
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> если 3 и больше целей и на вас есть бафф <WH
        text="Безупречная техника"
        href="https://www.wowhead.com/ru/spell=441326/безупречная-техника"
      /> (в противном случае переходим к п.2 чтобы повесить на цель <WH
        text="Незримый клинок"
        href="https://www.wowhead.com/ru/spell=441146/незримый-клинок"
      />)
    </li>
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />
    </li>
    <li>
      Если у вас сработал <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> (с 4 кусками) и всё еще активны <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      />, но у вас еще остались заряды от <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      /> после <WH
        text="Тайного приема"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />, то чтобы не потерять эти заряды, нужно использовать <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> после первого <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> (если не сработала теневая техника на полные кп)
    </li>
  </ul>
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <DS />
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> под баффом <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      />
    </li>
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> если 2 и больше целей
    </li>
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />
    </li>
  </ul>

  <H3 text="Приоритет способностей для набора кп (builders) В ">
    <WH
      text="Танце теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </H3>
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <TR />
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      /> если 1-6 целей, для стака <WH
        text="Пляски смерти"
        href="https://www.wowhead.com/ru/spell=382528/пляска-смерти"
      />. ВАЖНО: если на основной цели нету <WH
        text="Выявление слабости"
        href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
      />, то используйте <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />, чтобы повесить дебафф. <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      /> в этом случае используется вторым филлером, если активны <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      />, либо не используется.
    </li>
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> если 7 и больше целей. Максимум 1 раз за <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> (иначе вы будете терять стаки <WH
        text="Опережающего клинка"
        href="https://www.wowhead.com/ru/spell=441786/опережающий-клинок"
      />)
    </li>
    <li>
      Если у вас сработал <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> (с 4 кусками) и всё еще активны <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      />, но у вас еще остались заряды от <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      /> после <WH
        text="Тайного приема"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />, то чтобы не потерять эти заряды, нужно использовать <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> после первого <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> (если не сработала теневая техника на полные кп)
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> все остальное время
    </li>
  </ul>

  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <DS />
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> под баффом <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      /> в 2 и больше целей
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />, если на цели нету <WH
        text="Метки ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457160/метка-ловчего-смерти"
      />
    </li>
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> если 3 и больше целей и на вас нету баффа <WH
        text="Умысла"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> - если 1-2 цели. В 3 цели используется 1 раз, когда активен бафф <WH
        text="Умысла"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      />
    </li>
    <p>
      В теории (и в симе), в аое вам не нужно чтобы срабатывал бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      />, поэтому стоит чередовать <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> в разные цели, чтобы он не сработал. Или просто сделать макрос на скликивание
      баффа и продолжать использовать <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (предварительно ударив <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> для <WH
        text="Метки ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457160/метка-ловчего-смерти"
      />)
      <pre><code class="text-base">#showtooltip
/cancelaura Непроглядная ночь
/cast Черный порох</code></pre>
    </p>
  </ul>

  <H3 text="Приоритет завершающих способностей (finishers):" />
  <div
    class="gap-[30px] flex flex-col p-[20px] border border-border rounded-md text-left"
  >
    <ul class="list-inside list-decimal gap-[10px] flex flex-col">
      <TR />
      <li>
        <WH
          text="Тайный прием"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> в большинстве случаев используется только в <WH
          text="Танце теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />. Однако если до бурстов осталось ~20-40 сек, а <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> нету (0 зарядов) или 1 заряд и второй откатится только через 30+ секунд,
        то стоит использовать <WH
          text="Тайный прием"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> без <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />. <WH
          text="Тайный прием"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> может использоваться без <WH
          text="Хладнокровия"
          href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
        />, но <WH
          text="Хладнокровие"
          href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
        /> не используется без <WH
          text="Тайного приема"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        />. Клоны с <WH
          text="Тайного приема"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> тоже должны попасть в бафф <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, полный урон от них проходит через 1.3 сек после использования
      </li>
      <li>
        <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> должна быть весь бой на цели. Не используется в <WH
          text="Танце теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> или под действием <WH
          text="Скорополохового чая"
          href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
        />. В аое стоит раскидывать после бурстов.
      </li>
      <li>
        <WH
          text="Удар милосердия"
          href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
        /> используется когда цель под действием <WH
          text="Незримого клинка"
          href="https://www.wowhead.com/ru/spell=441146/незримый-клинок"
        /> с 5+ кп. Если до <WH
          text="Флагелляции"
          href="https://www.wowhead.com/ru/spell=384631/флагелляция"
        /> осталось меньше 20 секунд, то нужно использовать <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> даже в одну цель, а <WH
          text="Удар милосердия"
          href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
        /> реализовать прямо перед бурстами или в них.
      </li>
      <li>
        <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> в одну цель используется только чтобы заминмаксить <WH
          text="Удар милосердия"
          href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
        /> (см. выше). В аое используется при 3+ целях под дебаффом <WH
          text="Выявление слабости"
          href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
        /> (если не нужен приоритетный урон).
      </li>
      <li>
        <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />
      </li>
    </ul>
  </div>

  <div
    class="gap-[20px] flex flex-col p-[20px] border border-border rounded-md text-left"
  >
    <ul class="list-inside list-decimal gap-[10px] flex flex-col">
      <DS />
      <li>
        <WH
          text="Тайный прием"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> + <WH
          text="Хладнокровие"
          href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
        /> используются только в <WH
          text="Танце теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />. <WH
          text="Тайный прием"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> может использоваться, если <WH
          text="Хладнокровие"
          href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
        /> откатывается, но <WH
          text="Хладнокровие"
          href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
        /> не может использоваться без <WH
          text="Тайного приема"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        />. Клоны с <WH
          text="Тайного приема"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> тоже должны попасть в бафф <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        />, полный урон от них проходит через 1.3 сек после использования
      </li>
      <li>
        <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> - должна быть весь бой на цели (если она одна). В АоЕ должна быть на всех
        целях, которые проживут хотя бы 14 сек. Используется вне <WH
          text="Танца теней"
          href="https://www.wowhead.com/ru/spell=185313/танец-теней"
        /> и когда бафф <WH
          text="Непроглядная ночь"
          href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
        /> неактивен
      </li>
      <li>
        <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> если 2 и больше целей и бафф <WH
          text="Непроглядная ночь"
          href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
        /> неактивен. Если вариант минмакса для ключей, вам нужно снимать бафф
        <WH
          text="Непроглядной ночи"
          href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
        />, чтобы не использовать в аое <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />. Для этого вы можете воспользоваться макросом, который выставляется
        вместо <WH
          text="Черного пороха"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        />
      </li>
      <span>
        <pre><code class="text-base">#showtooltip
/cancelaura Непроглядная ночь
/cast Черный порох</code></pre></span
      >
      <li>
        <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />
      </li>
    </ul>
  </div>

  <H3 text="Приоритет кулдаунов (cooldowns):" />
  <ul
    class="list-inside list-decimal flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> наш основной бурст кд, используется под <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> (кроме исключений в <TR />, о них выше). Под <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> также используются все остальные бурст кд.
    </li>
    <li>
      <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> используется только вместе с <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />. Сейчас в симе оно используется не на первый <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />, а на второй, когда настакана <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />, но это приводит к тому, что там простои по 1.5 минуты между
      использованиями. Чтобы сделать лучше, вам обязательно нужно использовать <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> под <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> на 60 сек боя, чтобы 3 <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> было под следующую <WH
        text="Флагелляцию"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />
    </li>
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> используются под <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />. Не используется, если до <WH
        text="Флагелляции"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      /> осталось меньше 25 сек
    </li>
    <li>
      <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      /> - в большинстве случаев используется по откату (за исключением особых таймеров
      или небольших задержек), когда 5+ кп.
    </li>
    <li>
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> используется ради баффа <WH
        text="Умысла"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      /> в любое время, когда не активен <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Скорополоховый чай"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      /> используется под <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />, когда <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> осталось 4+ секунды.
    </li>
    <li>
      <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      /> - используются под <WH
        text="Флагелляцию"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />.
    </li>
    <li>
      <WH
        text="Торнадо из сюрикэнов"
        href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
      /> - в АоЕ можно использовать по откату. В одну цель использовать только вне
      бурстов.
    </li>
  </ul>
  <H3 text="Механика ">
    <WH
      text="Теневой техники"
      href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
    />
  </H3>
  <ul
    class="list-inside list-disc flex flex-col gap-[10px] p-[20px] border border-border rounded-md text-left"
  >
    <span class="mb-[10px]"
      >Каждая успешная автоатака увеличивает шанс срабатывания:</span
    >
    <li>
      1 и 2 атаки не могут активировать <WH
        text="Теневую технику"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />
    </li>
    <li>
      3 атака имеет 50% шанс срабатывания <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />
    </li>
    <li>
      4 атака гарантировано вызывает срабатывание <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />
    </li>
    <li>
      Всего может быть 14 зарядов <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />
    </li>
    <li>
      Заряды тратятся автоматически на последующие филлеры (генераторы очков
      серии), добавляя дополнительные очки серии, равные зарядам <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />
    </li>
    <li>
      <WH
        text="Небесная ярость"
        href="https://www.wowhead.com/ru/spell=462854/небесная-ярость"
      /> и <WH
        text="Жажда крови"
        href="https://www.wowhead.com/ru/spell=2825/жажда-крови"
      /> очень сильно увеличивают количество генерации зарядов <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      /> из-за быстрых автоатак (и дополнительных с баффа)
    </li>
    <span class="my-[10px]"
      >Под действием <WH
        text="Символов смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> и взятом таланте <WH
        text="Незаметность"
        href="https://www.wowhead.com/ru/spell=426594/незаметность"
      />:</span
    >
    <li>Вы получаете два заряда вместо одного</li>
    <li>Количество требуемых автоатак для срабатывания уменьшается на 1</li>
    <li>
      Заряды тратятся не только на филлеры, но и на финишеры (если они заполнят
      фулл кп). То есть, если у вас 7+ зарядов <WH
        text="Теневой техники"
        href="https://www.wowhead.com/ru/spell=426595/теневая-техника"
      />, то после использования любого финишера вы получите фулл кп (кроме <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      />, баг).
    </li>
    <li>
      Желательно иметь викауру для отслеживания количества зарядов, чтобы знать,
      что после финишера у вас будет фулл кп. Вы можете получить мою на <a
        href="https://boosty.to/mainx"
        class="text-hover hover:opacity-80">Boosty</a
      > (во всеми остальными WA) или взять бесплатные тут: <a
        href="https://wago.io/Mr-gSD7ru"
        class="text-hover hover:opacity-80">полоской</a
      > или <a
        href="https://wago.io/E15Io7NqM"
        class="text-hover hover:opacity-80">цифрами</a
      >
    </li>
  </ul>
</div>
