---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_four_5:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >Так как бис гир в рейде и ключах на 99% идентичен (различаются разве что
      аксессуары), здесь будет просто копия рейд бис гира, на случай если будут
      какие то изменения</span
    >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Голова:
      <WH
        text="Проклятый лик призрачного игрока"
        href="https://www.wowhead.com/ru/item=229289/проклятый-лик-призрачного-игрока?bonus=1808&ilvl=678"
      />
    </li>
    <li>
      Плечи: <WH
        text="Оплечье с лезвиями призрачного игрока"
        href="https://www.wowhead.com/ru/item=229287/оплечье-с-лезвиями-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      Грудь: <WH
        text="Жилет призрачного игрока"
        href="https://www.wowhead.com/ru/item=229292/жилет-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      Ноги: <WH
        text="Кюлоты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229288/кюлоты-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      Пояс:
      <WH
        text="Боевой ремень участника соревнований"
        href="https://www.wowhead.com/ru/item=228856/боевой-ремень-участника-соревнований?bonus=523&ilvl=678&spec=261"
      />
    </li>
    <li>
      Ступни: <WH
        text="Наголенники жука-поджигателя"
        href="https://www.wowhead.com/ru/item=232658/наголенники-жука-поджигателя?class=4&ilvl=678&spec=261"
      /> | <WH
        text="Незавершенные ускорители"
        href="https://www.wowhead.com/ru/item=228888/незавершенные-ускорители?bonus=4800:4786:1527:11996&ilvl=678&spec=261"
      /> (практически идентичны по урону)
    </li>
    <li>
      Кольцо 1: <WH
        text="Бриллиант 'Джастор'"
        href="https://www.wowhead.com/ru/item=231265/бриллиант-джастор?bonus=8781&ilvl=678&spec=261"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик?class=4&ilvl=678&spec=261"
      />
    </li>
    <li>
      МХ (Основное оружие): <WH
        text="Пиротехнический заводила"
        href="https://www.wowhead.com/ru/item=228897/пиротехнический-заводила?class=4&ilvl=678&spec=261"
      /> или ЛЮБОЙ 678 кинжал без скорости
    </li>
    <span class="text-sub py-3">Вариативные вещи:</span>
    <li>
      Кольцо 2: <WH
        text="Миниатюрная рулетка"
        href="https://www.wowhead.com/ru/item=228843/миниатюрная-рулетка?bonus=1527:11996:11964:8781&crafted-stats=40:49&ilvl=678&spec=261"
      /> (универсальность + искусность / крит) или <WH
        text="Ритуальное костяное кольцо"
        href="https://www.wowhead.com/ru/item=178870/ритуальное-костяное-кольцо?bonus=4786:9987:11996:8781&ilvl=678&spec=261"
      />. Так же неплохим вариантом является <WH
        text="Сияющий перстень некроманта"
        href="https://www.wowhead.com/ru/item=221200/сияющий-перстень-некроманта?bonus=4786:3170:11996:8781&ilvl=678&spec=261"
      />, но придется собирать больше универсальности на других вещах / чантах /
      камнях. В крайнем случае можно использовать крафтовое кольцо.
    </li>
    <li>
      Аксессуар 2: <WH
        text="Око Кезана"
        href="https://www.wowhead.com/ru/item=230198/око-кезана?ilvl=678&spec=261"
      /> - лучщий вариант на длинные бои. Для ключей подойдет, только если вы постоянно
      в бою и нету долгих перебежек / перелетов (как например в театре боли). <WH
        text="Рация банды Зи"
        href="https://www.wowhead.com/ru/item=230199/рация-банды-зи?bonus=4800:4786:1527:11996&ilvl=678&spec=261"
      /> | <WH
        text="Мегамагнит хлам-маэстро"
        href="https://www.wowhead.com/ru/item=230189/мегамагнит-хлам-маэстро?bonus=4800:4786:1527:11996&ilvl=678&spec=261"
      /> | <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1514:11996&ilvl=678&spec=261"
      /> - варианты для боев, где вы не используете <WH
        text="Око Кезана"
        href="https://www.wowhead.com/ru/item=230198/око-кезана?ilvl=678&spec=261"
      />. Подходят как для рейда, так и для ключей. В целом, сейчас второй
      аксессуар дает очень малый прирост дпса и вы можете играть практически с
      любым, потеряв всего 0.1-0.2%.
    </li>
    <li>
      Кисти рук: <WH
        text="Антикоррозийные перчатки"
        href="https://www.wowhead.com/ru/item=159305/антикоррозийные-перчатки?bonus=4786:11359:11996&ilvl=678&spec=261"
      /> | <WH
        text="Рукавицы шквального ветра"
        href="https://www.wowhead.com/ru/item=221036/рукавицы-шквального-ветра?bonus=4786:3170:11996&ilvl=678&spec=261"
      /> | <WH
        text="Самоочищающиеся повязки"
        href="https://www.wowhead.com/ru/item=168985/самоочищающиеся-повязки?bonus=4786:10067:11996&ilvl=678&spec=261"
      /> | <WH
        text="Липкие пальцы карателя"
        href="https://www.wowhead.com/ru/item=228863/липкие-пальцы-карателя?class=4&ilvl=678&spec=261"
      /> - подойдут любые
    </li>
    <span class="text-sub py-3">Вариации с крафтом:</span>
    <span
      >Для крафта лучше рассматривать всего 4 слота: шея (потому что нету
      хорошей шеи в дропе), плащ или запястья (потому что меньше всего потери за
      3 илвл разницы), кинжал (потому что урон в ох нас не волнует + это лучший
      первый крафт). По дпсу ВСЕ эти комбинации идентичны (естественно при
      условии 678 бис вещей в оставшихся 2 слотах). Ниже я напишу крафт, а также
      бис альтернативу, если в этом слоте нету крафта</span
    >
    <li>
      Плащ: <WH
        text="Освященный плащ"
        href="https://www.wowhead.com/ru/item=222817/освященный-плащ?bonus=10421:9633:8902:8794:10520:8960&ilvl=675&spec=261"
      /> (хороший слот, так как можно повесить любое украшение), альтернатива <WH
        text="Шаль призрачного игрока"
        href="https://www.wowhead.com/ru/item=229284/шаль-призрачного-игрока?bonus=1527:11996&ilvl=678&spec=261"
      /> (из катализатора)
    </li>
    <li>
      Шея: <WH
        text="Амулет мастерства земельников"
        href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:12043:12040:1485:8795:10520:8960:8781&crafted-stats=49:40&ilvl=675&spec=261"
      /> (универсальность + искусность / крит, вешается только линза), альтернатива
      <WH
        text="Мерцающее светлое ожерелье"
        href="https://www.wowhead.com/ru/item=221103/мерцающее-светлое-ожерелье?bonus=8781&ilvl=678&spec=261"
      /> или <WH
        text="Жетоны наемника из Нижней Шахты"
        href="https://www.wowhead.com/ru/item=232663/жетоны-наемника-из-нижней-шахты?bonus=1527:11996:11964:8781&ilvl=678&spec=261"
      /> [BoE, можно купить на аукционе]
    </li>
    <li>
      Запястья: <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485:1808:10520:8960&crafted-stats=40:49&crafting-quality=8&ilvl=675&spec=261"
      /> (также можно повесить любое украшение), альтернатива <WH
        text="Повышатели градуса"
        href="https://www.wowhead.com/ru/item=228885/повышатели-градуса?bonus=523&ilvl=678&spec=261"
      />
    </li>
    <li>
      Оружие 2: <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8794:10520:8960&ilvl=675&spec=261"
      /> в общем случае - это лучший крафт на долгое первое время. Затем, после получения
      2 678 кинжала можно подумать о других слабых слотах под крафт. Альтернатива
      <WH
        text="Пиротехнический заводила"
        href="https://www.wowhead.com/ru/item=228897/пиротехнический-заводила?class=4&ilvl=678&spec=261"
      /> или ЛЮБОЙ 678 кинжал без скорости
    </li>
  </ul>
</div>
