---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import Comment from "../Comment.astro";
---

<section
  id={subMenuItems[4].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[4].label} />
  <ul
    class="list-inside list-decimal flex flex-col items-start gap-[10px] text-clamp_text border border-border rounded-md p-[20px]"
  >
    <li>
      Голова (рейд): <WH
        text="Большая руна кровоточащей раны"
        href="https://www.wowhead.com/ru/item=239086/большая-руна-кровоточащей-раны"
      />
    </li>
    <li>
      Голова (ключи): <WH
        text="Большая руна ритуала Бездны"
        href="https://www.wowhead.com/ru/item=239095/большая-руна-ритуала-бездны"
      /> или <WH
        text="Большая руна сумеречного разрушения"
        href="https://www.wowhead.com/ru/item=238405/большая-руна-сумеречного-разрушения"
      />. Оба варианта рандомны и зависят от того в какой момент сработают, так
      что выбирайте что больше нравится. Из минусов, <WH
        text="Большая руна сумеречного разрушения"
        href="https://www.wowhead.com/ru/item=238405/большая-руна-сумеречного-разрушения"
      /> может что-то случайно спулить (очень редко), но если сработает в большие
      запулы, то даст однозначно больше оверолла чем <WH
        text="Большая руна ритуала Бездны"
        href="https://www.wowhead.com/ru/item=239095/большая-руна-ритуала-бездны"
      />. В симе <WH
        text="Большая руна сумеречного разрушения"
        href="https://www.wowhead.com/ru/item=238405/большая-руна-сумеречного-разрушения"
      /> лучше чем <WH
        text="Большая руна ритуала Бездны"
        href="https://www.wowhead.com/ru/item=239095/большая-руна-ритуала-бездны"
      /> для ключей на ~0.5%
    </li>
    <Comment
      ><WH
        text="Большая руна эха Бездны"
        href="https://www.wowhead.com/ru/item=238680/большая-руна-эха-бездны"
      /> всё ещё симится выше, чем на самом деле в игре. Пока неизвестно "баг это
      или фича", но срабатывает в игре он почти в 2 раза реже, поэтому просто используйте
      порчу выше.</Comment
    >
    <li>
      Шея: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2
    </li>
    <li>
      Плащ: <WH
        text="Чары для плаща – песнь крылатой грации"
        href="https://www.wowhead.com/ru/item=223731/чары-для-плаща-песнь-крылатой-грации?crafting-quality=6"
      />
    </li>
    <li>
      Грудь: <WH
        text="Чары для нагрудника – кристаллическое сияние"
        href="https://www.wowhead.com/ru/item=223692/чары-для-нагрудника-кристаллическое-сияние?crafting-quality=6"
      />
    </li>
    <li>
      Запястья: <WH
        text="Чары для наручей – песнь брони и избежания"
        href="https://www.wowhead.com/ru/item=223713/чары-для-наручей-песнь-брони-и-избежания?crafting-quality=6"
      />
    </li>
    <li>
      Ноги: <WH
        text="Усиленные штормом накладки для доспехов"
        href="https://www.wowhead.com/ru/item=219911/усиленные-штормом-накладки-для-доспехов?crafting-quality=6"
      />
    </li>
    <li>
      Ступни: <WH
        text="Чары для обуви – ход защитника"
        href="https://www.wowhead.com/ru/item=223656/чары-для-обуви-ход-защитника?crafting-quality=6"
      />
    </li>
    <li>
      Кольца: <WH
        text="Великолепная ювелирная оправа"
        href="https://www.wowhead.com/ru/item=213777/великолепная-ювелирная-оправа"
      /> х2 + <WH
        text="Чары для кольца – сияющая искусность"
        href="https://www.wowhead.com/ru/item=223677/чары-для-кольца-сияющая-искусность?crafting-quality=6"
      /> | <WH
        text="Чары для кольца – сияющая универсальность"
        href="https://www.wowhead.com/ru/item=223680/чары-для-кольца-сияющая-универсальность?crafting-quality=6"
      />
    </li>
    <li>
      Оружие (рейд): <WH
        text="Чары для оружия – власть недр"
        href="https://www.wowhead.com/ru/item=223784/чары-для-оружия-власть-недр?crafting-quality=6"
      /> + <WH
        text="Чары для оружия – власть недр"
        href="https://www.wowhead.com/ru/item=223784/чары-для-оружия-власть-недр?crafting-quality=6"
      /> или <WH
        text="Чары для оружия – власть сияющей силы"
        href="https://www.wowhead.com/ru/item=223781/чары-для-оружия-власть-сияющей-силы?crafting-quality=6"
      />
    </li>
    <li>
      Оружие (М+): <WH
        text="Чары для оружия – власть сияющей силы"
        href="https://www.wowhead.com/ru/item=223781/чары-для-оружия-власть-сияющей-силы?crafting-quality=6"
      /> x2
    </li>
    <li>
      Камни (особый): <WH
        text="Профанит апогея"
        href="https://www.wowhead.com/ru/item=213743/профанит-апогея?crafting-quality=6"
      />
    </li>
    <li>
      Камни (обычные): <WH
        text="Рубин искусности"
        href="https://www.wowhead.com/ru/item=213458/рубин-искусности?crafting-quality=6"
      /> + <WH
        text="Изумруд искусности"
        href="https://www.wowhead.com/ru/item=213482/изумруд-искусности?crafting-quality=6"
      /> + <WH
        text="Оникс универсальности"
        href="https://www.wowhead.com/ru/item=213497/оникс-универсальности?crafting-quality=6"
      /> + <WH
        text="Сапфир искусности"
        href="https://www.wowhead.com/ru/item=213473/сапфир-искусности?crafting-quality=6"
      />. Эти камни нужны для усиления особого камня. Остальные камни ставятся
      на недостающую характеристику. Вы можете воспользоваться рейдботсом,
      только не забудьте поставить чекбокс под профанитом "Only 4+ Colors"
    </li>
    <li>
      Флаконы: <WH
        text="Настой алхимического хаоса"
        href="https://www.wowhead.com/ru/item=212283/настой-алхимического-хаоса?crafting-quality=6"
      /> (рейд). <WH
        text="Настой охлажденной универсальности"
        href="https://www.wowhead.com/ru/item=212277/настой-охлажденной-универсальности?crafting-quality=6"
      /> или <WH
        text="Настой охлажденной искусности"
        href="https://www.wowhead.com/ru/item=212280/настой-охлажденной-искусности?crafting-quality=6"
      /> (ключи).
    </li>
    <li>
      Еда: любая еда на вторичные характеристики &gt; <WH
        text="Пир полуночного маскарада"
        href="https://www.wowhead.com/ru/item=222733/пир-полуночного-маскарада"
      /> |<WH
        text="Пир божественного дня"
        href="https://www.wowhead.com/ru/item=222732/пир-божественного-дня"
      />
    </li>
    <li>
      Зелья: <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      />
    </li>
    <li>
      Заточки / руны: <WH
        text="Точильный камень из когтестали"
        href="https://www.wowhead.com/ru/item=222504/точильный-камень-из-когтестали"
      /> x2
    </li>
    <li>
      Лечебное зелье: <WH
        text="Алгарийское лечебное зелье"
        href="https://www.wowhead.com/ru/item=211880/алгарийское-лечебное-зелье"
      />
    </li>
  </ul>
</section>
