---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_two_2:block w-full order-1 hidden">
  <div
    class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
  >
    <ul class="list-inside list-decimal gap-[20px] flex flex-col">
      <li>
        <WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=720&spec=259"
        /> + <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> | <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> - лучший универсальный первый крафт, особенно если вы играете так же в
        ликвидации (<WH
          text="Выкованный навеки пронзатель"
          href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=720&spec=259"
        /> + <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> лучший вариант). Однако, если вы играете только в скрытности и у вас есть
        возможность убить 2 боссов в эпохальной сложности, то лучше подождать и убить
        их без крафта. Если вам выпадет кинжал, то лучше сделать крафты в другие
        слоты (см. пункт 3), так как вторая рука даёт очень мало урона. А так вы
        забьёте лучшие слоты для крафтов. Если возможности убить боссов нету, то
        смело крафтите кинжал, с <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        /> если играете в ликвидации, <WH
          text="Стихийной фокусирующей линзой"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> во всех остальных случаях.
      </li>
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=720&spec=259"
        /> + <WH
          text="Извивающаяся окантовка доспеха"
          href="https://www.wowhead.com/ru/item=219506/извивающаяся-окантовка-доспеха"
        /> - если вы сделали кинжал с <WH
          text="Символ Новолуния Вознесение"
          href="https://www.wowhead.com/ru/item=226024/символ-новолуния-вознесение"
        />, либо <WH
          text="Стихийна фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> - если сделали кинжал с <WH
          text="Стихийной фокусирующей линзой"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        />
      </li>
      <li>
        <WH
          text="Поручи с руническим клеймом"
          href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:12043:12040:1485&crafted-stats=32:49&crafting-quality=8&ilvl=720&spec=259"
        /> и <WH
          text="Амулет мастерства земельников"
          href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:10396:9627:10222:12043:12040:8794:8781&crafted-stats=49:32&crafting-quality=8&ilvl=675&spec=259"
        /> с <WH
          text="Стихийная фокусирующая линза"
          href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
        /> - лучший вариант (если НЕ играете в ликвидации), но требует чтобы у вас был 723 кинжал в основной руке.
        В качестве первых крафтов подходит только тем, кто выбьет кинжал со 2го босса
        в эпохальной сложности. Этот вариант по дпсу аналогичен 2 линзам в кинжале
        / запястьях, но избавляет от необходимости надеяться на хорошую шею с хранилища
        (кинжал получить проще).
        <div
          class="flex justify-center items-center pb-[10px] max-w-lg mx-auto"
        >
          <iframe
            src="https://www.youtube.com/embed/pS_88jtRHhc"
            title="что крафтить?"
            class="w-full h-full aspect-video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </li>
    </ul>
  </div>
</div>
<WH
          text="Закатная подкладка"
          href="https://www.wowhead.com/ru/item=222873/закатная-подкладка"
        />