---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
import Emb from "../../assets/guide/subtlety/sim/emb.png";
---

<section
  id={subMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      Как и всегда, есть несколько (8) зарезервированных слотов, которые
      определены заранее. 4 вещи из комплекта (без головы или плечей), 2 для
      оружия, 2 для аксессуаров. Подбирать характеристики вам особо не придется,
      критического удара и скорости вам хватает с зарезервированных
      (обязательных) вещей + расходников. Остальные вещи всегда искусность +
      универсальность по возможности (либо с большим количеством одной из
      характеристик, об этом ниже).
    </p>
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[20px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
        />
      </li>
      <span class="py-[16px]">
        2 части (~10% урона): <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />, <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> и <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> с некоторой вероятностью призывают вашу тень-двойника, которая повторяет
        завершающий прием, дополнительно нанося 50% ед. урона от темной магии. Шансы
        следующие: первый финишер имеет 0% шанс на прок, каждый последующий +33%,
        на четвертом финишере гарантированно сработает комплект.
      </span>
      <span>
        4 части (~25% урона): Атаки ваших теней-двойников наносят на 10% больше
        урона. Каждая призванная тень продлевает серию приемов на 2.
        Тени-двойники это те, что появляются от 2 частей комплекта + те 2 клона,
        которые появляются от <WH
          text="Тайного приёма"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> (то есть он гарантированно даст вам +4 кп после использования).
      </span>
    </ul>
    <H3 text="Украшения" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col mt-[10px]">
        <span class="pb-[10px]">Рейд:</span>
        <li>
          <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> - самый универсальный вариант, подходит под все спеки, на всех боссов,
          под любые тринкеты (<WH
            text="Прах души угля"
            href="https://www.wowhead.com/ru/item=207167/прах-души-угля"
          /> | <WH
            text="Ветвь Сухокожего"
            href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
          />). Особенно хорош на освоении, так как крафт ботинки все еще не
          наносят урон в щиты на боссах (тиндрал / фиракк).
        </li>
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2 - по дпсу примерно аналогичен первому варианту (хуже на коротких
          боях, лучше на длинных, например Фиракк, так как долго бьёт с максимальным
          количество стаков). Тоже вполне универсальный вариант, так же подходит
          головорезу для рейда / ключей.
        </li>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 - лучший вариант по симу (уже при 45%+ аптайма). Очень нестабильный
          вариант, так что невозможно ориентироваться на сим. Важен не просто аптайм
          самого баффа, а аптайм этого баффа под бурсты, а он иногда оставляет желать
          лучшего, так как бурсты идут под фазы, где вас постоянно бьет. Отключается
          сразу после падения хп меньше 90%, но появляется не сразу как вас вылечат.
          Вариант подходит для логов людям на глубоком фарме, особенно если договоритесь
          с монахом на личный кокон под ваши бурсты на дпс фазах :)
        </li>
      </ul>
      <ul class="list-inside list-decimal gap-[10px] flex flex-col mt-[20px]">
        <span class="pb-[10px]">Ключи:</span>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 - лучший вариант. Почти всегда (с нормальными хилами) у вас будет
          аптайм 65-75%, что делает намного сильнее любых других вариантов.
        </li>
      </ul>
    </div>
    <Sim title="Сим украшений для одной цели">
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <span>Учтите, что:</span>
        <li>
          Шёлк может быть как лучше, так и намного хуже, зависит от многих
          факторов
        </li>
        <li>
          Чем короче бой, тем хуже шф, так как ему нужно настакаться (в данном
          случае сим стандартный, от 4 до 6 минут)
        </li>
        <li>Используется custom APL, который можно взять тут: <a href="https://gist.github.com/MainX342/5a5a170342ef17852506e424426385bb" class="text-hover hover:opacity-80">CUSTOM APL (ST ONLY)</a></li>
      </ul>
      <img
        src={Emb.src}
        alt="Сим украшений для одной цели"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>

    <H3 text="Приоритет крафтов" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col">
        <span
          >Вам придется определиться для чего вы крафтитесь, для рейда или
          ключей, для освоения или фарма, это определит первые 2 крафта (3 если
          будете делать кинжал). Вариантов слотов для крафта у скрытности очень
          много: голова, плащ, запястья, пояс, 2 кольца. Поэтому тут будет лишь
          моя рекомендация для универсального крафта "под всё". Крафты в бис
          гире вы можете посмотреть в соответствующем разделе ниже.</span
        >
        <li>
          <WH
            text="Изначальный раскаленный короткий клинок"
            href="https://www.wowhead.com/ru/item=190505/изначальный-раскаленный-короткий-клинок"
          /> (искусность + универсальность) - ТОЛЬКО если у вас нету никакого оружия
          и есть лишние искры. Вам все равно придется фармить х2 483 <WH
            text="Последний момент"
            href="https://www.wowhead.com/ru/item=207996/последний-момент?class=4&ilvl=483&spec=261"
          />, поэтому если у вас есть хоть какой-то кинжал для начала фарма, то
          лучше потратить искры на другие крафты.
        </li>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 (искусность + универсальность, голова / запястья / плащ / пояс).
          Выбор слота зависит от того инженер вы или нет. Если инженер, то голова
          у вас будет инженерной, тогда выбирайте 2 из 3 ваших слабых слота и крафтите
          туда. Все они +- одинаковы, да и хорошие вещи на замену падают с первых
          рейдовых боссов. Эти же крафты можно переделывать на <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> если у вас освоение рейда или вам по какой-то причине не нравится шёлк
          в рейде. Делать <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> на данном этапе я не рекомендую, это был лучший крафт для самого начала
          патча.
        </li>
        <li>
          <WH
            text="Проекторы периферического зрения"
            href="https://www.wowhead.com/ru/item=198324/проекторы-периферического-зрения"
          /> или <WH
            text="Нарукавники со слишком сложной конструкцией"
            href="https://www.wowhead.com/ru/item=198327/нарукавники-со-слишком-сложной-конструкцией"
          /> (искусность) + <WH
            text="Гаджет: тангенциальный корректор жизненной силы"
            href="https://www.wowhead.com/ru/item=201408/гаджет-тангенциальный-корректор-жизненной-силы"
          /> (не считается украшением). Слот зависит от того инженер вы или нет,
          только инженеры могут использовать голову. Вы можете сделать и оба крафта,
          если делали основной крафт не в запястья (второй после колец).
        </li>
        <li>
          <WH
            text="Печатка мудрости титанов"
            href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов"
          /> (искусность + универсальность) + <WH
            text="Мешочек алхимических приправ"
            href="https://www.wowhead.com/ru/item=200652/мешочек-алхимических-приправ"
          />
        </li>
        <li>
          <WH
            text="Кольцо с песочными часами"
            href="https://www.wowhead.com/ru/item=193000/кольцо-с-песочными-часами"
          /> (искусность + универсальность)
        </li>
        <li>
          <WH
            text="Проекторы периферического зрения"
            href="https://www.wowhead.com/ru/item=198324/проекторы-периферического-зрения"
          /> или <WH
            text="Нарукавники со слишком сложной конструкцией"
            href="https://www.wowhead.com/ru/item=198327/нарукавники-со-слишком-сложной-конструкцией"
          /> (универсальность) + <WH
            text="Гаджет: заземленные цепи"
            href="https://www.wowhead.com/ru/item=198304/гаджет-заземленные-цепи"
          /> (не считается украшением). Либо любой оставшийся слабый слот, характеристики
          искусность + универсальность.
        </li>
      </ul>
    </div>

    <H3 text="Лучшая экипировка (BiS list)" />
    <div
      class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
    >
      <input
        type="radio"
        id="gear_tab_one"
        name="gear_tabs"
        checked="checked"
        class="peer/gear_tab_one hidden p-[20px]"
      />
      <label
        for="gear_tab_one"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_one:text-sub peer-checked/gear_tab_one:neon-sub"
        >Рейд</label
      >
      <div class="peer-checked/gear_tab_one:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <li>
            Голова: <WH
              text="Зачарованный жизнью шлем"
              href="https://www.wowhead.com/item=193400/life-bound-cap?bonus=8932:8960:523&crafted-stats=40:49&ilvl=486&spec=261"
            /> или <WH
              text="Проекторы периферического зрения"
              href="https://www.wowhead.com/ru/item=198324/проекторы-периферического-зрения?bonus=8950:523&class=4&crafted-stats=32&ilvl=486&spec=261"
            />
          </li>
          <li>
            Шея: <WH
              text="Филигранная подвеска ворона"
              href="https://www.wowhead.com/ru/item=134499/филигранная-подвеска-ворона?bonus=8782&ilvl=489&spec=261"
            /> или <WH
              text="Ожерелье Уробороса"
              href="https://www.wowhead.com/ru/item=210214/ожерелье-уробороса?bonus=8782&ilvl=489&spec=261"
            /> (оно совсем немного хуже, ~200 дпс) или <WH
              text="Око вздымающегося пламени"
              href="https://www.wowhead.com/ru/item=207163/око-вздымающегося-пламени?bonus=8782&ilvl=489&spec=261"
            /> (тогда придется брать вторым кольцом <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=523&ilvl=489&spec=261"
            />)
          </li>
          <li>
            Плечи: <WH
              text="Режущий наплеч светлого тенехода"
              href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Грудь: <WH
              text="Кираса светлого тенехода"
              href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс с челюстью гончей"
              href="https://www.wowhead.com/ru/item=159341/пояс-с-челюстью-гончей?bonus=523&class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Ноги: <WH
              text="Шоссы светлого тенехода"
              href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Ступни: <WH
              text="Ботфорты осквернителя рощи"
              href="https://www.wowhead.com/ru/item=134429/ботфорты-осквернителя-рощи?class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Запястья:<WH
              text="Наручи первозданного змея"
              href="https://www.wowhead.com/ru/item=207128/наручи-первозданного-змея?bonus=523&class=4&ilvl=489&spec=261"
            /> или <WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8932:8960:8794:523&class=4&crafted-stats=32:40&ilvl=486&spec=261"
            /> (если играете с очками)
          </li>
          <li>
            Кисти рук: <WH
              text="Когтистые захваты светлого тенехода"
              href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо с песочными часами"
              href="https://www.wowhead.com/ru/item=193000/кольцо-с-песочными-часами?bonus=523&crafted-stats=49:40&ilvl=486&spec=261"
            /> или <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=523&ilvl=489&spec=261"
            /> (если играете с <WH
              text="Проекторы периферического зрения"
              href="https://www.wowhead.com/ru/item=198324/проекторы-периферического-зрения?bonus=8950:523&class=4&crafted-stats=32&ilvl=486&spec=261"
            /> или <WH
              text="Око вздымающегося пламени"
              href="https://www.wowhead.com/ru/item=207163/око-вздымающегося-пламени?bonus=8782&ilvl=489&spec=261"
            />)
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка мудрости титанов"
              href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов?bonus=8932:8960:523&crafted-stats=40:49&ilvl=486&spec=261"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Прах души угля"
              href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=489&spec=261"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Ускоряющие песочные часы"
              href="https://www.wowhead.com/ru/item=207566/ускоряющие-песочные-часы?class=4&ilvl=489&spec=261"
            /> | <WH
              text="Клеймо-печатка Катаклизма"
              href="https://www.wowhead.com/ru/item=207166/клеймо-печатка-катаклизма?class=4&ilvl=489&spec=261"
            /> | <WH
              text="Ветвь Сухокожего"
              href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?bonus=9015&class=4&ilvl=489&spec=261"
            /> | <WH
              text="Изумрудный значок дружбы Пипа"
              href="https://www.wowhead.com/ru/item=207168/изумрудный-значок-дружбы-пипа?class=4&ilvl=489&spec=261"
            />.
          </li>
          <span
            >Клеймо на данный момент я бы советовал только на Фиракке. Часы и
            Ветвь лучшие варианты для всех остальных боёв. Ветвь подходит для
            боёв, где можно "накрутить" на аое (адды на Кривокорне, копья на
            Игире, корни на Тиндрале), либо там где таймер боя позволяет хорошо
            отыграть 2 используемых аксессуара (например 2:30, 3:30, 4:30), если
            таймер не позволяет хорошо реализовать оба, то проще взять часы.
            Альтернативой часов может быть Пип (если у вас он 89, а часы 83
            например).</span
          >
          <li>
            Плащ: <WH
              text="Мантия ослепительного жертвоприношения"
              href="https://www.wowhead.com/ru/item=207161/мантия-ослепительного-жертвоприношения?class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Оружие: <WH
              text="Последний момент"
              href="https://www.wowhead.com/ru/item=207996/nick-of-time?ilvl=489"
            /> x2
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="gear_tab_two"
        name="gear_tabs"
        class="peer/gear_tab_two hidden p-[20px]"
      />
      <label
        for="gear_tab_two"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_two:text-hover peer-checked/gear_tab_two:neon-hover"
        >Ключи</label
      >
      <div class="peer-checked/gear_tab_two:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <span
            >2 шёлка у вас должно быть в голова + плащ, либо запястья + плащ,
            чтобы оставить и комбат рес и мешочек в кольце. Если вам по каким-то
            причинам не нужен рес или мешочек, то можете делать в любые слоты.</span
          >
          <li>
            Голова: <WH
              text="Проекторы периферического зрения"
              href="https://www.wowhead.com/ru/item=198324/проекторы-периферического-зрения?bonus=8950:523&class=4&crafted-stats=32&ilvl=486&spec=261"
            /> (если инженер) или <WH
              text="Зачарованный жизнью шлем"
              href="https://www.wowhead.com/item=193400/life-bound-cap?bonus=8932:8960:523&crafted-stats=40:49&ilvl=486&spec=261"
            /> (если нет)
          </li>
          <li>
            Шея: <WH
              text="Филигранная подвеска ворона"
              href="https://www.wowhead.com/ru/item=134499/филигранная-подвеска-ворона?bonus=8782&ilvl=489&spec=261"
            /> или <WH
              text="Око вздымающегося пламени"
              href="https://www.wowhead.com/ru/item=207163/око-вздымающегося-пламени?bonus=8782&ilvl=489&spec=261"
            />
          </li>
          <li>
            Плечи: <WH
              text="Режущий наплеч светлого тенехода"
              href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Грудь: <WH
              text="Кираса светлого тенехода"
              href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Пояс: <WH
              text="Пояс с челюстью гончей"
              href="https://www.wowhead.com/ru/item=159341/пояс-с-челюстью-гончей?bonus=523&class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Ноги: <WH
              text="Шоссы светлого тенехода"
              href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Ступни: <WH
              text="Ботфорты осквернителя рощи"
              href="https://www.wowhead.com/ru/item=134429/ботфорты-осквернителя-рощи?class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Запястья: <WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8932:8960:8794:523&class=4&crafted-stats=32:40&ilvl=486&spec=261"
            /> или <WH
              text="Нарукавники со слишком сложной конструкцией"
              href="https://www.wowhead.com/ru/item=198327/нарукавники-со-слишком-сложной-конструкцией?bonus=8780:8950&class=4&crafted-stats=32&ilvl=486&spec=261"
            /> (если крафтили голову с шёлком)
          </li>
          <li>
            Кисти рук: <WH
              text="Когтистые захваты светлого тенехода"
              href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Кольцо с песочными часами"
              href="https://www.wowhead.com/ru/item=193000/кольцо-с-песочными-часами?bonus=523&crafted-stats=49:40&ilvl=486&spec=261"
            /> или <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=523&ilvl=489&spec=261"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка мудрости титанов"
              href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов?bonus=8174:523&crafted-stats=40:49&ilvl=486&spec=261"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Прах души угля"
              href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=489&spec=261"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Ускоряющие песочные часы"
              href="https://www.wowhead.com/ru/item=207566/ускоряющие-песочные-часы?class=4&ilvl=489&spec=261"
            /> | <WH
              text="Клеймо-печатка Катаклизма"
              href="https://www.wowhead.com/ru/item=207166/клеймо-печатка-катаклизма?class=4&ilvl=489&spec=261"
            /> | <WH
              text="Ветвь Сухокожего"
              href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?bonus=9015&class=4&ilvl=489&spec=261"
            /> | <WH
              text="Изумрудный значок дружбы Пипа"
              href="https://www.wowhead.com/ru/item=207168/изумрудный-значок-дружбы-пипа?class=4&ilvl=489&spec=261"
            />.
          </li>
          <span
            >Два используемых аксессуара (<WH
              text="Прах души угля"
              href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=489&spec=261"
            /> + <WH
              text="Ветвь Сухокожего"
              href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?bonus=9015&class=4&ilvl=489&spec=261"
            />) используется ТОЛЬКО в IS билде. В DB билде всегда используется
            один из них (они почти идентичны по дпсу, но прах в разы проще) +
            пассивный. Выбор пассивного зависит от недели и ваших предпочтений.
            В высоких тиранических ключах Клеймо отлично себя показывает (даже
            если спадает, но вы можете бить зверьков или использовать <WH
              text="Потрепанная кукла"
              href="https://www.wowhead.com/ru/item=130214/потрепанная-кукла"
            />, чтобы не потерять стаки на перебежках. Требуется на последних
            секундах поставить ее и использовать веер, работает от чужой куклы
            тоже, но только 1 человек может ударить)</span
          >
          <li>
            Плащ: <WH
              text="Яркая пелерина из ткани стихий"
              href="https://www.wowhead.com/ru/item=193511/яркая-пелерина-из-ткани-стихий?bonus=8932:8960:8794&class=4&crafted-stats=32:40&ilvl=486&spec=261"
            /> или <WH
              text="Мантия ослепительного жертвоприношения"
              href="https://www.wowhead.com/ru/item=207161/мантия-ослепительного-жертвоприношения?class=4&ilvl=489&spec=261"
            />
          </li>
          <li>
            Оружие: <WH
              text="Последний момент"
              href="https://www.wowhead.com/ru/item=207996/nick-of-time?ilvl=489"
            /> x2
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
