---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_three_3:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >Так как почти любой слот вы можете заменить крафтом, я не буду писать
      вещи для базовых крафт слотов. Ниже я напишу приоритет фарма / того что
      брать в волте с ключей</span
    >
    <li>
      Если вы НЕ КРАФТИТЕ кинжал, то фармите любой кинжал с 10+ ключей или
      любого возможного для вас уровня. Но лучше просто скрафтите и пропустите
      этот пункт
    </li>
    <li>
      <WH
        text="Наплечные щитки ломаного ритма"
        href="https://www.wowhead.com/ru/item=185802/наплечные-щитки-ломаного-ритма?bonus=4786:10035:12361&hero=51&ilvl=723&spec=261"
      /> как основная замена плечам из комплекта (когда соберете полный без плечей).
    </li>
    <li>
      <WH
        text="Печатка высшего неруба"
        href="https://www.wowhead.com/ru/item=221141/печатка-высшего-неруба?bonus=8781&hero=51&ilvl=723&spec=261"
      /> + <WH
        text="Печать паноплии"
        href="https://www.wowhead.com/ru/item=185840/печать-паноплии?bonus=4786:10035:12361:8781&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Сияющий перстень некроманта"
        href="https://www.wowhead.com/ru/item=221200/сияющий-перстень-некроманта?bonus=4786:3215:12361:8781&ilvl=723&spec=261"
      />
    </li>
    <li>
      <WH
        text="Шнурованный ремень темной преданности"
        href="https://www.wowhead.com/ru/item=178823/шнурованный-ремень-темной-преданности?bonus=4786:10032:12361:523&ilvl=723&spec=261"
      /> или <WH
        text="Пояс теневого прихожанина"
        href="https://www.wowhead.com/ru/item=221134/пояс-теневого-прихожанина?bonus=4786:3215:12361:523&ilvl=723&spec=261"
      /> без сокета станут лучше ДИСКа только на 717+ илвле (на 714 - идентично и
      можно надевать ради выносливости)
    </li>
    <li>
      <WH
        text="Мамочкин мегамедальон"
        href="https://www.wowhead.com/ru/item=251880/мамочкин-мегамедальон?bonus=4786:1572:12361:8781&hero=51&ilvl=723&spec=261"
      /> или
      <WH
        text="Окровавленный сувенир"
        href="https://www.wowhead.com/ru/item=252009/окровавленный-сувенир?bonus=4786:1572:12361:8781&hero=51&ilvl=723&spec=261"
      /> - лучшие варианты, если вы не крафтите шею
    </li>
    <li>
      <WH
        text="Лилия вечного плетения"
        href="https://www.wowhead.com/ru/item=242494/лилия-вечного-плетения?bonus=4786:3215:12361&ilvl=723&spec=261"
      /> +
      <WH
        text="Усиливающий кристалл Ануб'иккаджа"
        href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3215:12361&class=4&ilvl=723&spec=259"
      /> | <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1559:12361&class=4&ilvl=723&spec=259"
      />. Если у вас уже ~30% критического удара, то <WH
        text="Усиливающий кристалл Ануб'иккаджа"
        href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3215:12361&class=4&ilvl=723&spec=259"
      /> - лучше.
    </li>
    <li>
      Всё остальное просто берите наивысшего уровня предметов, потому что
      характеристики можно подогнать
    </li>
  </ul>
</div>
