---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span>Комплект:</span>
    <li>
      <WH
        text="Проклятый лик призрачного игрока"
        href="https://www.wowhead.com/ru/item=229289/проклятый-лик-призрачного-игрока?bonus=1808&ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Оплечье с лезвиями призрачного игрока"
        href="https://www.wowhead.com/ru/item=229287/оплечье-с-лезвиями-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Жилет призрачного игрока"
        href="https://www.wowhead.com/ru/item=229292/жилет-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Кюлоты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229288/кюлоты-призрачного-игрока?ilvl=678"
      />
    </li>
    <li>
      <WH
        text="Перчатки призрачного игрока"
        href="https://www.wowhead.com/ru/item=229290/перчатки-призрачного-игрока?bonus=11959:12179"
      /> (в идеале не используются из-за скорости)
    </li>
    <span>Вещи из катализатора (оффсеты):</span>
    <li>
      <WH
        text="Кандалы призрачного игрока"
        href="https://www.wowhead.com/ru/item=229285/кандалы-призрачного-игрока?bonus=4786:1527:11996:523&ilvl=678&spec=261"
      />
    </li>
    <li>
      <WH
        text="Козырь призрачного игрока"
        href="https://www.wowhead.com/ru/item=229286/козырь-призрачного-игрока?bonus=4786:1527:11996:523&ilvl=678&spec=261"
      /> (хороший вариант, если у вас пояс со скоростью)
    </li>
    <li>
      <WH
        text="Ботфорты призрачного игрока"
        href="https://www.wowhead.com/ru/item=229291/ботфорты-призрачного-игрока?bonus=4786:1527:11996&ilvl=678&spec=261"
      />
    </li>
    <li>
      <WH
        text="Шаль призрачного игрока"
        href="https://www.wowhead.com/ru/item=229284/шаль-призрачного-игрока?bonus=4786:1527:11996&ilvl=678&spec=261"
      /> (отличный вариант, если вы не крафтите плащ)
    </li>
    <span class="pt-[16px]">
      2 части (~3% урона): Ваши заклинания и способности с некоторой
      вероятностью активируют <WH
        text="Череду побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      />, увеличивающую урон от
      <WH
        text="Потрошения"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />, <WH
        text="Тайного приема"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> и <WH
        text="Черного пороха"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> на 2%. Суммируется до 8 раз. <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />, <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> и <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> с вероятностью 15% прекращают действие <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      />.
    </span>
    <span class="pt-[16px]">
      4 части (~13% урона): Во время действия <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />" вы не можете потерять эффекты <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      />, при получении эффекта <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      /> получаете еще один, а также наносите на 2% больше урона от темной магии
      за каждый эффект <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      />
    </span>
    <span class="pt-[16px]">
      Комплект становится сильным только при получении 4 вещей. В некоторых
      ситуациях вам необходимо отыгрывать от сета, чтобы не потерять стаки перед
      бурстами. Например, если у вас умирает пак и на вас 8 стаков сета, не
      стоит бить <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />, чтобы не потерять стаки (просто ничего не жмите / подкопите энергию /
      обновите <WH
        text="Мясорубку"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      /> или <WH
        text="Рваную рану"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />). Тогда в следующий пак у вас будет намного больше урона. Аналогично в
      рейде, вы можете обновить принудительно <WH
        text="Рваную рану"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> перед бурстами (вместо <WH
        text="Потрошения"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />), чтобы сохранить стаки сета под танец теней.
    </span>
  </ul>
</div>
