---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import Tabs from "../Tabs.astro";
import H3 from "../H3.astro";
import SubOpenerStDS from "./Subtlety_opener_st_ds.astro";
import SubOpenerStT from "./Subtlety_opener_st_t.astro";
import SubOpenerAoeDS from "./Subtlety_opener_aoe_ds.astro";
import SubOpenerAoeT from "./Subtlety_opener_aoe_t.astro";
import SubOpenerApl from "./Subtlety_apl.astro";
---

<section
  id={subMenuItems[5].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-center"
>
  <H2 text={subMenuItems[5].label} />
  <H3 text="Условия использования финишеров | трата очков серии приемов (кп)" />
  <span class="font-medium text-clamp_text text-left w-full"
    >Все завершающие приемы используются на:</span
  >
  <ul
    class="text-clamp_text pt-[10px] list-inside list-square flex flex-col items-start gap-[5px] p-[20px] border border-border rounded-md text-left self-start"
  >
    <li>
      <WH
        text="Ловчий смерти (Deathstalker)"
        href="https://www.wowhead.com/ru/spell=457052/метка-ловчего-смерти"
      />: если активен бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      />, то только с 7-ми кп. Заряженные кп считаются обычными. То есть, если у
      вас взят талант <WH
        text="Принудительная индукция"
        href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
      />, то вы можете разряжаться с 4-х кп при активных заряженных кп (с 5-ти,
      если взят <WH
        text="Суперзарядка"
        href="https://www.wowhead.com/ru/spell=470347/суперзарядка"
      />, но не взят <WH
        text="Принудительная индукция"
        href="https://www.wowhead.com/ru/spell=470668/принудительная-индукция"
      />)
    </li>
    <li>
      <WH
        text="Ловчий смерти (Deathstalker)"
        href="https://www.wowhead.com/ru/spell=457052/метка-ловчего-смерти"
      />: если бафф <WH
        text="Непроглядная ночь"
        href="https://www.wowhead.com/ru/spell=457280/непроглядная-ночь"
      /> неактивен, то всегда с 5+ кп
    </li>
    <li>
      <WH
        text="Ловкач (Trickster)"
        href="https://www.wowhead.com/ru/spell=441146/незримый-клинок"
      />: всегда с 6+ кп. Вы можете разряжаться с 5-ти кп, но это будет -0.2%
      дпса. В аое можно разряжаться с 5+ кп
    </li>
    <li>Специально добивать 6-ой кп в ловчем или 7-ой кп в ловкаче не нужно</li>
  </ul>
  <H3 text="Начало боя (опенеры)" />
  <div
    class="flex flex-wrap max-w-[1024px] min-h-[565px] w-full text-clamp_text content-baseline"
  >
    <Tabs title="Рейд [DS]" id="opener_0" checked="checked" name="opener">
      <SubOpenerStDS />
    </Tabs>

    <Tabs title="Рейд [T]" id="opener_1" name="opener">
      <SubOpenerStT />
    </Tabs>

    <Tabs title="АоЕ [DS]" id="opener_2" name="opener">
      <SubOpenerAoeDS />
    </Tabs>

    <Tabs title="АоЕ [T]" id="opener_3" name="opener">
      <SubOpenerAoeT />
    </Tabs>
  </div>
  <SubOpenerApl />
</section>
