---
import WH from "../WH.astro";
import DS from "../Hero_trees/DS.astro";
import TR from "../Hero_trees/TR.astro";
import Comment from "../Comment.astro";
---

<div class="peer-checked/tab_one_1:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span>Комплект:</span>
    <li>
      <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=1808&ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Дымовой покров внезапного затмения"
        href="https://www.wowhead.com/ru/item=237662/дымовой-покров-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      <WH
        text="Штаны внезапного затмения"
        href="https://www.wowhead.com/ru/item=237663/штаны-внезапного-затмения?ilvl=723"
      />
    </li>
    <span>Из комплекта нужно заменить плечи, так как они со скоростью</span>
    <span>Вещи из катализатора (оффсеты):</span>
    <li>
      <WH
        text="Поручи внезапного затмения"
        href="https://www.wowhead.com/ru/item=237660/поручи-внезапного-затмения?bonus=1808&ilvl=723"
      /> - в большинстве случаев не подходит, так как в запястья крафт
    </li>
    <li>
      <WH
        text="Ремешок внезапного затмения"
        href="https://www.wowhead.com/ru/item=237661/ремешок-внезапного-затмения?ilvl=723"
      /> - не подходит, со скоростью
    </li>
    <li>
      <WH
        text="Сапоги с лезвиями внезапного затмения"
        href="https://www.wowhead.com/ru/item=237666/сапоги-с-лезвиями-внезапного-затмения?ilvl=723"
      /> - не подходят, в этом слоте редкие ботинки на усиление плаща
    </li>
    <li>
      <WH
        text="Накидка внезапного затмения"
        href="https://www.wowhead.com/ru/item=237659/накидка-внезапного-затмения?ilvl=723"
      /> - да, они его добавили, но как его получить из катилизатора (а главное зачем?)
      непонятно
    </li>
    <span class="py-[20px]">
      2 части (10.4% <TR />): <WH
        text="Незримый клинок"
        href="https://www.wowhead.com/ru/spell=441144/незримый-клинок"
      /> наносит на 35% больше урона и с вероятностью 35% поражает цель дважды.
    </span>
    <span class="pb-[20px]">
      2 части (7.6% <DS />): Пока действуют <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      />, эффективность наносящих урон эффектов и прибавок к урону <DS /> повышается
      на 40%.
    </span>
    <span class="pb-[20px]">
      4 части (28.4% <TR />): <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> теперь можно активировать еще раз в течение 5 сек., нанеся 150% обычного
      урона.
    </span>
    <span class="pb-[20px]">
      4 части (12.8% <DS />): <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> действуют на 3 сек дольше. При активации способность поглощает эффект действующей
      <WH
        text="Метки ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457129/метка-ловчего-смерти"
      />
    </span>
    <Comment>
      Довольно посредственный сет в плане изменения геймплея (хоть и даёт много
      урона), старый баг с <WH
        text="Ударом милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> просто сделали бонусом комплекта. Немного изменил ротацию, тем что сейчас
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> жмется в одну цель, чтобы не потерять заряды между <WH
        text="Ударами милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      />, а там же большим откатом кд. И как следствие изменился опенер.
      Комплект <DS /> абсолютно бесполезный, за всё время PTR близзард так и не додумались
      изменить 4 куска, а лишь гоняли проценты 2 кусков туда-сюда, что привело к
      полной неиграбельности этой героической ветки во всех контентах.
    </Comment>
  </ul>
</div>
