---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
import Emb from "../../assets/guide/subtlety/sim/emb.png";
---

<section
  id={subMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[20px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=528"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=528"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=528"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=528"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=528"
        />
      </li>
      <span class="py-[16px]">
        2 части (~10% урона): <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />, <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> и <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> с некоторой вероятностью призывают вашу тень-двойника, которая повторяет
        завершающий прием, дополнительно нанося 50% ед. урона от темной магии. Шансы
        следующие: первый финишер имеет 0% шанс на прок, каждый последующий +33%,
        на четвертом финишере гарантированно сработает комплект.
      </span>
      <span>
        4 части (~25% урона): Атаки ваших теней-двойников наносят на 10% больше
        урона. Каждая призванная тень продлевает серию приемов на 2.
        Тени-двойники это те, что появляются от 2 частей комплекта + те 2 клона,
        которые появляются от <WH
          text="Тайного приёма"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> (то есть он гарантированно даст вам +4 кп после использования).
      </span>
    </ul>
    <H3 text="Украшения" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col mt-[10px]">
        <span class="pb-[10px]">Рейд:</span>
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2 - универсальный вариант для освоения + бис вариант для головореза
          в ключи и рейд. По дпсу немного уступает 2-ому варианту, но при аптайме
          шёлка в ~50% они равны.
        </li>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 - лучший вариант по симу при 50%+ аптайма. Очень нестабильный вариант,
          так что невозможно ориентироваться на сим. Важен не просто аптайм самого
          баффа, а аптайм этого баффа под бурсты, а он иногда оставляет желать лучшего,
          так как бурсты идут под фазы, где вас постоянно бьет. Отключается сразу
          после падения хп меньше 90%, но появляется не сразу как вас вылечат. Вариант
          подходит для логов людям на глубоком фарме, особенно если договоритесь
          с монахом на личный кокон под ваши бурсты на дпс фазах :)
        </li>
      </ul>
      <ul class="list-inside list-decimal gap-[10px] flex flex-col mt-[20px]">
        <span class="pb-[10px]">Ключи:</span>
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 - лучший вариант. Почти всегда (с нормальными хилами) у вас будет
          аптайм 65-75%, что делает намного сильнее любых других вариантов.
        </li>
      </ul>
    </div>
    <Sim title="Сим украшений для одной цели">
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <span>Учтите, что:</span>
        <li>
          Шёлк может быть как лучше, так и намного хуже, зависит от многих
          факторов
        </li>
        <li>
          Чем короче бой, тем хуже шф, так как ему нужно настакаться (в данном
          случае сим стандартный, от 4 до 6 минут)
        </li>
        <li>
          Используется custom APL, который можно взять тут: <a
            href="https://gist.github.com/MainX342/5a5a170342ef17852506e424426385bb"
            class="text-hover hover:opacity-80">CUSTOM APL (ST ONLY)</a
          >
        </li>
      </ul>
      <img
        src={Emb.src}
        alt="Сим украшений для одной цели"
        class="mx-auto"
        loading="lazy"
        decoding="async"
      />
    </Sim>

    <H3 text="Крафты" />
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[20px] flex flex-col">
        <li>
          <WH
            text="Подкладка из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2 (искусность + универсальность, запястья + кольцо / ботинки). Кольцо
          совсем немного лучше по дпсу и идет сразу с сокетом, однако ботинки можно
          переделывать в <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> если на боссе низкий аптайм шёлка или вы планируете играть в головорезе.
          А кольцо сделать с алхимическим мешочком.
        </li>
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2 (искусность + универсальность, запястья + ботинки). Универсально
          для освоения в скрытности / головорезе. Лучше на боссах где низкий аптайм
          шёлка (ниже 50%).
        </li>
        <li>
          Больше крафты в бис гире не используются, все можно купить за слитки.
          Но вы можете скрафтить например инженерные очки для комбат реса в
          ключах.
        </li>
      </ul>
    </div>

    <H3 text="Лучшая экипировка (BiS list)" />
    <div
      class="flex flex-wrap max-w-[1024px] min-h-[565px] text-secondary text-left"
    >
      <input
        type="radio"
        id="gear_tab_one"
        name="gear_tabs"
        checked="checked"
        class="peer/gear_tab_one hidden p-[20px]"
      />
      <label
        for="gear_tab_one"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_one:text-sub peer-checked/gear_tab_one:neon-sub"
        >Рейд</label
      >
      <div class="peer-checked/gear_tab_one:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <span
            >Так как BiS гир можно составить несколькими способами, я укажу
            сначала фиксированные слоты, а ниже комбинацию голова + шея + пояс,
            которыми идентичные по дпсу</span
          >
          <li>
            Плечи: <WH
              text="Наплечные лезвия призрака теней"
              href="https://www.wowhead.com/ru/item=217210/наплечные-лезвия-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Грудь: <WH
              text="Панцирь призрака теней"
              href="https://www.wowhead.com/ru/item=217206/панцирь-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Ноги: <WH
              text="Трико призрака теней"
              href="https://www.wowhead.com/ru/item=217209/трико-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Боевые перчатки призрака теней"
              href="https://www.wowhead.com/ru/item=217207/боевые-перчатки-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Плащ: <WH
              text="Голос тихой звезды"
              href="https://www.wowhead.com/ru/item=204465/голос-тихой-звезды?class=4&ilvl=535&spec=261"
            />
          </li>
          <li>
            Запястья: <WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8932:8960:523&class=4&crafted-stats=40:49&ilvl=525&spec=261"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать избранного Денны"
              href="https://www.wowhead.com/ru/item=195480/печать-избранного-денны?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка мудрости титанов"
              href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов?bonus=8932:8960:523&crafted-stats=40:49&ilvl=525&spec=261"
            />. Если вы скрафтили ботинки с шелком, тогда <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Окровавленное обручальное кольцо"
              href="https://www.wowhead.com/ru/item=193671/окровавленное-обручальное-кольцо?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Ступни: <WH
              text="Гальванические краги"
              href="https://www.wowhead.com/ru/item=202008/гальванические-краги?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Башмаки скованного пламенем охотника"
              href="https://www.wowhead.com/ru/item=202574/башмаки-скованного-пламенем-охотника?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Ботфорты стремительности"
              href="https://www.wowhead.com/ru/item=193817/ботфорты-стремительности?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Зачарованные жизнью сапоги"
              href="https://www.wowhead.com/ru/item=193398/зачарованные-жизнью-сапоги?bonus=8840:8836:8902:10359:10249:1485:8932:8960&class=4&crafted-stats=49:40&crafting-quality=8&ilvl=525&spec=261"
            /> (если не крафтили кольцо)
          </li>
          <li>
            Аксессуар 1: <WH
              text="Прах души угля"
              href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=528&spec=261"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Злопамятный вихрь"
              href="https://www.wowhead.com/ru/item=194309/злопамятный-вихрь?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Клеймо-печатка Катаклизма"
              href="https://www.wowhead.com/ru/item=207166/клеймо-печатка-катаклизма?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Одержимый светоч горя"
              href="https://www.wowhead.com/ru/item=194308/одержимый-светоч-горя?class=4&ilvl=528&spec=261"
            />.
          </li>
          <span
            ><WH
              text="Одержимый светоч горя"
              href="https://www.wowhead.com/ru/item=194308/одержимый-светоч-горя?class=4&ilvl=528&spec=261"
            /> является лучшим универсальным выбором для всех спеков и в рейды и
            в ключи, можно использовать его и вместо праха на старте.</span
          >
          <li>
            Оружие 1: <WH
              text="Коготь Расколотого Пламени"
              href="https://www.wowhead.com/ru/item=202564/коготь-расколотого-пламени?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Жестокий резчик снов"
              href="https://www.wowhead.com/ru/item=207783/жестокий-резчик-снов?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Расчленитель из огнекованной стали"
              href="https://www.wowhead.com/ru/item=202557/расчленитель-из-огнекованной-стали?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Прочный осколок Терроса"
              href="https://www.wowhead.com/ru/item=195503/прочный-осколок-терроса?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Последний момент"
              href="https://www.wowhead.com/ru/item=207996/последний-момент?bonus=9526&class=4&ilvl=515&spec=261"
            /> (с м0, 515 илвл)
          </li>
          <li>
            Голова + Шея + Пояс: <WH
              text="Жуткая погребальная маска"
              href="https://www.wowhead.com/ru/item=202602/жуткая-погребальная-маска?bonus=523&ilvl=528&spec=261"
            /> + <WH
              text="Комендантский медальон наваждения"
              href="https://www.wowhead.com/ru/item=193647/комендантский-медальон-наваждения?bonus=6652:8783:8784:7936:7937:6808:4786:1643:8782&ilvl=528&spec=261"
            /> + <WH
              text="Пояс мстительного мечеклюва"
              href="https://www.wowhead.com/ru/item=208432/пояс-мстительного-мечеклюва?bonus=523&ilvl=528&spec=261"
            />.<br />
            - <WH
              text="Личина пожирающего пламени"
              href="https://www.wowhead.com/ru/item=208420/личина-пожирающего-пламени?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Корона ревущих бурь"
              href="https://www.wowhead.com/ru/item=193751/корона-ревущих-бурь?bonus=6652:8783:8784:7936:7937:6808:4786:1643:523&ilvl=528&spec=261"
            /> + <WH
              text="Четвертый ошейник Магморакса"
              href="https://www.wowhead.com/ru/item=204397/четвертый-ошейник-магморакса?bonus=8782&ilvl=528&spec=261"
            /> + <WH
              text="Боевой пояс из сросшегося сланца"
              href="https://www.wowhead.com/ru/item=195501/боевой-пояс-из-сросшегося-сланца?bonus=523&ilvl=528&spec=261"
            />.<br />
            - <WH
              text="Жуткая погребальная маска"
              href="https://www.wowhead.com/ru/item=202602/жуткая-погребальная-маска?bonus=523&ilvl=528&spec=261"
            /> + <WH
              text="Ожерелье Уробороса"
              href="https://www.wowhead.com/ru/item=210214/ожерелье-уробороса?bonus=8782&ilvl=528&spec=261"
            /> + <WH
              text="Пояс мстительного мечеклюва"
              href="https://www.wowhead.com/ru/item=208432/пояс-мстительного-мечеклюва?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Боевой пояс из сросшегося сланца"
              href="https://www.wowhead.com/ru/item=195501/боевой-пояс-из-сросшегося-сланца?bonus=523&ilvl=528&spec=261"
            />.
          </li>
        </ul>
      </div>

      <input
        type="radio"
        id="gear_tab_two"
        name="gear_tabs"
        class="peer/gear_tab_two hidden p-[20px]"
      />
      <label
        for="gear_tab_two"
        class="p-[20px] w-[100%] sm:w-[50%] select-none border border-1 border-border flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/gear_tab_two:text-hover peer-checked/gear_tab_two:neon-hover"
        >Ключи</label
      >
      <div class="peer-checked/gear_tab_two:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md mt-[10px]"
        >
          <li>
            Плечи: <WH
              text="Наплечные лезвия призрака теней"
              href="https://www.wowhead.com/ru/item=217210/наплечные-лезвия-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Грудь: <WH
              text="Панцирь призрака теней"
              href="https://www.wowhead.com/ru/item=217206/панцирь-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Ноги: <WH
              text="Трико призрака теней"
              href="https://www.wowhead.com/ru/item=217209/трико-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Боевые перчатки призрака теней"
              href="https://www.wowhead.com/ru/item=217207/боевые-перчатки-призрака-теней?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>Плащ: любой без скорости</li>
          <li>
            Запястья: <WH
              text="Зачарованные жизнью путы"
              href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8932:8960:523&class=4&crafted-stats=40:49&ilvl=525&spec=261"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать избранного Денны"
              href="https://www.wowhead.com/ru/item=195480/печать-избранного-денны?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка мудрости титанов"
              href="https://www.wowhead.com/ru/item=192999/печатка-мудрости-титанов?bonus=8932:8960:523&crafted-stats=40:49&ilvl=525&spec=261"
            />. Если вы скрафтили ботинки с шелком, тогда <WH
              text="Перстень последнего старейшины"
              href="https://www.wowhead.com/ru/item=207162/перстень-последнего-старейшины?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Окровавленное обручальное кольцо"
              href="https://www.wowhead.com/ru/item=193671/окровавленное-обручальное-кольцо?bonus=523&ilvl=528&spec=261"
            />
          </li>
          <li>
            Ступни: <WH
              text="Гальванические краги"
              href="https://www.wowhead.com/ru/item=202008/гальванические-краги?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Башмаки скованного пламенем охотника"
              href="https://www.wowhead.com/ru/item=202574/башмаки-скованного-пламенем-охотника?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Ботфорты стремительности"
              href="https://www.wowhead.com/ru/item=193817/ботфорты-стремительности?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Зачарованные жизнью сапоги"
              href="https://www.wowhead.com/ru/item=193398/зачарованные-жизнью-сапоги?bonus=8840:8836:8902:10359:10249:1485:8932:8960&class=4&crafted-stats=49:40&crafting-quality=8&ilvl=525&spec=261"
            /> (если не крафтили кольцо)
          </li>
          <li>
            Аксессуар 1: <WH
              text="Прах души угля"
              href="https://www.wowhead.com/ru/item=207167/прах-души-угля?ilvl=528&spec=261"
            /> | <WH
            text="Одержимый светоч горя"
            href="https://www.wowhead.com/ru/item=194308/одержимый-светоч-горя?class=4&ilvl=528&spec=261"
          />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Благословение Пожирательницы Бурь"
              href="https://www.wowhead.com/ru/item=194302/благословение-пожирательницы-бурь?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Коготь Расколотого Пламени"
              href="https://www.wowhead.com/ru/item=202564/коготь-расколотого-пламени?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Жестокий резчик снов"
              href="https://www.wowhead.com/ru/item=207783/жестокий-резчик-снов?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Расчленитель из огнекованной стали"
              href="https://www.wowhead.com/ru/item=202557/расчленитель-из-огнекованной-стали?class=4&ilvl=528&spec=261"
            /> | <WH
              text="Прочный осколок Терроса"
              href="https://www.wowhead.com/ru/item=195503/прочный-осколок-терроса?class=4&ilvl=528&spec=261"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Последний момент"
              href="https://www.wowhead.com/ru/item=207996/последний-момент?bonus=9526&class=4&ilvl=515&spec=261"
            /> (с м0, 515 илвл)
          </li>
          <li>
            Голова + Шея + Пояс: <WH
              text="Жуткая погребальная маска"
              href="https://www.wowhead.com/ru/item=202602/жуткая-погребальная-маска?bonus=523&ilvl=528&spec=261"
            /> + <WH
              text="Комендантский медальон наваждения"
              href="https://www.wowhead.com/ru/item=193647/комендантский-медальон-наваждения?bonus=6652:8783:8784:7936:7937:6808:4786:1643:8782&ilvl=528&spec=261"
            /> + <WH
              text="Пояс мстительного мечеклюва"
              href="https://www.wowhead.com/ru/item=208432/пояс-мстительного-мечеклюва?bonus=523&ilvl=528&spec=261"
            />.<br />
            - <WH
              text="Личина пожирающего пламени"
              href="https://www.wowhead.com/ru/item=208420/личина-пожирающего-пламени?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Корона ревущих бурь"
              href="https://www.wowhead.com/ru/item=193751/корона-ревущих-бурь?bonus=6652:8783:8784:7936:7937:6808:4786:1643:523&ilvl=528&spec=261"
            /> + <WH
              text="Четвертый ошейник Магморакса"
              href="https://www.wowhead.com/ru/item=204397/четвертый-ошейник-магморакса?bonus=8782&ilvl=528&spec=261"
            /> + <WH
              text="Боевой пояс из сросшегося сланца"
              href="https://www.wowhead.com/ru/item=195501/боевой-пояс-из-сросшегося-сланца?bonus=523&ilvl=528&spec=261"
            />.<br />
            - <WH
              text="Жуткая погребальная маска"
              href="https://www.wowhead.com/ru/item=202602/жуткая-погребальная-маска?bonus=523&ilvl=528&spec=261"
            /> + <WH
              text="Ожерелье Уробороса"
              href="https://www.wowhead.com/ru/item=210214/ожерелье-уробороса?bonus=8782&ilvl=528&spec=261"
            /> + <WH
              text="Пояс мстительного мечеклюва"
              href="https://www.wowhead.com/ru/item=208432/пояс-мстительного-мечеклюва?bonus=523&ilvl=528&spec=261"
            /> или <WH
              text="Боевой пояс из сросшегося сланца"
              href="https://www.wowhead.com/ru/item=195501/боевой-пояс-из-сросшегося-сланца?bonus=523&ilvl=528&spec=261"
            />.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
