---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="p-4 border border-border rounded-md">
  <label
    for="buffDS"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="buffDS"
      name="buffDS"
      class="peer hidden checkbox-2"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-yellow-400 peer-checked:border-gray-700"
    ></span>
    <span class="text-left">
      Есть бафф <WH
        text="Мясорубки"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      />
    </span>
  </label>

  <label
    for="commentsDSM"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="commentsDSM"
      name="commentsDSM"
      class="peer hidden checkbox-3"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-hover peer-checked:border-gray-700"
    ></span>
    <span class="text-left"> Показать комментарии </span></label
  >

  <ul
    class="peer-checked:hidden list-inside list-decimal flex flex-col items-start p-[20px] text-left gap-[10px]"
  >
    <Comment class="hidden visible-comment"
      ><WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> используется вместо любого <WH
        text="Черного порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> вне <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> если нужно обновить <WH
        text="Мясорубку"
        href="https://www.wowhead.com/ru/spell=315496/мясорубка"
      /></Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <Comment class="hidden visible-comment"
      >Чтобы повесить <WH
        text="Выявление слабости"
        href="https://www.wowhead.com/ru/spell=316220/выявление-слабости"
      /> и <WH
        text="Метку ловчего смерти"
        href="https://www.wowhead.com/ru/spell=457160/метка-ловчего-смерти"
      /> на цель</Comment
    >
    <li>
      <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />
    </li>
    <li class="hidden-item-2">
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li class="hidden-item-2">
      <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> + <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> + <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> + <WH
        text="Скорополоховый чай"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      /> + <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      /> + <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      /> + <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик?class=4&spec=261"
      />
    </li>
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      />
    </li>
    <li>
      <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> +
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <Comment class="hidden visible-comment"
      >В ключах не стоит держать<WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> под второй <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> в каждом бурсте, иначе вы сдадите намного меньше <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> суммарно за ключ</Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      />
    </li>
    <li>
      <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> + <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      /> пока не кончится
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> + <WH
        text="Скорополоховый чай"
        href="https://www.wowhead.com/ru/spell=381623/скорополоховый-чай"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> | <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (в зависимости от баффа <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      />)
    </li>
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> (когда предыдущих осталось меньше 3 сек)
    </li>
    <Comment class="hidden visible-comment"
      >Пандемик тайм на
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> составляет 10 (базовое время действия) * 30% ("pandemic time") = 3 сек.
      То есть, если вы нажмете новые <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> когда предыдущих осталось меньше 3 секунд, оставшееся время прибавятся к
      новым 10 сек (13 сек максимум)</Comment
    >
    <li>
      <WH
        text="Черный порох"
        href="https://www.wowhead.com/ru/spell=319175/черный-порох"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> | <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (в зависимости от баффа <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      />)
    </li>
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> | <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (в зависимости от баффа <WH
        text="Устранение свидетелей"
        href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
      />) пока не закончится <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>

    <li>
      <WH
        text="Рваные раны"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      /> на все толстые цели, которые проживут хотя бы 14+ секунд
    </li>
  </ul>
</div>
