---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import H3 from "../H3.astro";
import Sim from "../Sim.astro";
---

<section
  id={subMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      Как и всегда, есть несколько (11) зарезервированных слотов, которые
      определены заранее. 4 вещи из комплекта (без головы или плечей), 2 для
      оружия, 2 для аксессуаров, 3 крафта. Поэтому подбирать характеристики вы
      сможете лишь 6 оставшимися вещами. Эти 5 вещей могут быть заменены
      крафтами, однако проблема заключается в том, что крафтовые вещи сейчас
      имеют на 3 уровня предметов ниже чем вещи из рейда / хранилища. Поэтому в
      BiS экипировке всего 3 крафта.
    </p>
    <H3 text="Комплект" />
    <ul
      class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
        />
      </li>
      <span class="py-[16px]">
        2 части (~10% урона): <WH
          text="Потрошение"
          href="https://www.wowhead.com/ru/spell=196819/потрошение"
        />, <WH
          text="Рваная рана"
          href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
        /> и <WH
          text="Черный порох"
          href="https://www.wowhead.com/ru/spell=319175/черный-порох"
        /> с некоторой вероятностью призывают вашу тень-двойника, которая
        повторяет завершающий прием, дополнительно нанося 50% ед. урона от
        темной магии. Шансы следующие: первый финишер имеет 0% шанс на прок,
        каждый последующий +33%, четвертый финишер гарантированно прокнет
        комплект.
      </span>
      <span>
        4 части (~25% урона): Атаки ваших теней-двойников наносят на 10% больше
        урона. Каждая призванная тень продлевает серию приемов на 2.
        Тени-двойники это те, что появляются от 2 частей комплекта + те 2 клона,
        которые появляются от <WH
          text="Тайного приёма"
          href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
        /> (то есть он гарантированно даст вам +4 кп после использования).
      </span>
    </ul>
    <p>
      Одну вещь можно сделать через катализатор уже на первой неделе 10.2
      (второй заряд будет на 2-ой рейдовой неделе), вторую за убийство
      последнего босса в героическом режиме (2000 рио или 1600 арены). Останется
      получить всего 2 вещи с рейда.
    </p>
    <H3 text="Крафт" />
    <p>
      Первую искру вы получите сразу с релизом 10.2, затем по 1 искре каждые 2
      недели. Так как по началу очень мало искр, к крафту нужно подходить
      ответственно и обдумать все варианты и возможные специализации / контент,
      которым вы хотите заниматься. Ниже будут написаны варианты крафтов для
      всех специализаций, чтобы было проще определиться. <span
        class="text-red-700"
        >Под каждой специализацией будет написан оптимальный крафт именно для
        нее, а в самом низу для комбинации специализаций.</span
      >
    </p>
    <h4 class="text-center text-outlaw py-[16px]">Головорез</h4>
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <p>
        Рейд:
        <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        /> или <WH
          text="Наплечные щитки колонии спор"
          href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
        /> + <WH
          text="Запястья / пояс с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        />
      </p>

      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <span
          >Ключи: есть много вариантов и все они довольно близки по урону
          (меньше 1%)</span
        >
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2
        </li>
        <li>
          <WH
            text="Исторгающие слизь сапоги"
            href="https://www.wowhead.com/ru/item=193451/исторгающие-слизь-сапоги?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> | <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          <WH
            text="Аркан стихий"
            href="https://www.wowhead.com/ru/item=193001/аркан-стихий?bonus=8782&crafted-stats=32:40&ilvl=486&spec=260"
          /> + <WH
            text="Исторгающие слизь сапоги"
            href="https://www.wowhead.com/ru/item=193451/исторгающие-слизь-сапоги?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
          /> | <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          />
        </li>
        <li>
          <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          />
        </li>
      </ul>
    </div>
    <p class="pt-[16px]">
      Как видно, для головореза, первыми 2-мя крафтами оптимально сделать <WH
        text="Обмотки с ядовитыми шипами"
        href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
      /> или <WH
        text="Наплечные щитки колонии спор"
        href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
      /> + <WH
        text="Запястья / пояс с пропитанной ядом броневой пластиной"
        href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
      />.
    </p>

    <h4 class="text-center text-assa py-[16px]">Ликвидация</h4>
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <p>
        Рейд: <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        /> или <WH
          text="Наплечные щитки колонии спор"
          href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
        /> + <WH
          text="Запястья / пояс с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        />
      </p>
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <span
          >Ключи: есть много вариантов и все они довольно близки по урону
          (меньше 1%)</span
        >
        <li>
          <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2
        </li>
        <li>
          <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> или <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          <WH
            text="Исторгающие слизь сапоги"
            href="https://www.wowhead.com/ru/item=193451/исторгающие-слизь-сапоги?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> или <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> или <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
      </ul>
    </div>
    <p class="pt-[16px]">
      Первыми 2-мя крафтами оптимально сделать <WH
        text="Обмотки с ядовитыми шипами"
        href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
      /> или <WH
        text="Наплечные щитки колонии спор"
        href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
      /> + <WH
        text="Запястья / пояс с пропитанной ядом броневой пластиной"
        href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
      />.
    </p>

    <h4 class="text-center text-sub py-[16px]">Скрытность</h4>
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
    >
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <li>
          Рейд: <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> или <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> (-0.2%)
        </li>
        <li>
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2 (-0.3%)
        </li>
        <li>
          <WH
            text="Исторгающие слизь сапоги"
            href="https://www.wowhead.com/ru/item=193451/исторгающие-слизь-сапоги?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
          /> | <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с пропитанной ядом броневой пластиной"
            href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
          /> (-0.7%) |
          <WH
            text="Закаленная в пламени Тьмы броневая пластина"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          /> x2 (-0.8%)
        </li>
      </ul>
      <ul class="list-inside list-decimal gap-[10px] flex flex-col">
        <span>Ключи:</span>
        <li>
          <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          /> x2
        </li>
        <li>
          <WH
            text="Аркан стихий"
            href="https://www.wowhead.com/ru/item=193001/аркан-стихий?bonus=8782&crafted-stats=32:40&ilvl=486&spec=260"
          /> + <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          <WH
            text="Исторгающие слизь сапоги"
            href="https://www.wowhead.com/ru/item=193451/исторгающие-слизь-сапоги?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=260"
          /> | <WH
            text="Обмотки с ядовитыми шипами"
            href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
          /> +
          <WH
            text="Запястья / пояс с подкладкой из синего шелка"
            href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
          />
        </li>
        <li>
          Любой вариант крафтов с одной <WH
            text="Закаленной в пламени Тьмы броневой пластиной"
            href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
          />
        </li>
        <li>
          Вариант с <WH
            text="Наплечные щитки колонии спор"
            href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
          /> довольно слабый для ключей
        </li>
      </ul>
    </div>
    <p class="pt-[16px]">
      Определиться с первыми двумя крафтами в скрытности довольно сложно, так
      как крафты сильно различаются в рейде и ключах, тут вам придется
      определиться с контентом который для вас важнее или отталкиваться от
      других специализаций (тогда смотрите раздел ниже).
    </p>
    <h4 class="text-center text-rogue py-[16px]">Итог по крафту</h4>
    <div
      class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md mb-[24px]"
    >
      <p>
        Это лишь рекомендации, поэтому подумайте дважды, что вам важнее перед
        крафтом. Какой контент и какая специализация. Разница в крафтах всех
        специализаций меньше 1% в большинстве случаев.
      </p>
      <p>
        <span class="text-rogue">Для всех:</span> Если ли собираетесь делать
        упор на рейд, то оптимальным вариантом будет
        <WH
          text="Наплечные щитки колонии спор"
          href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
        /> + <WH
          text="Запястья с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        />. Это лучший набор для рейда во всех специализациях. Для ключей это
        вполне подходит для ликвидации и головореза (да и на старте все равно
        высокие ключи не играются, а потом у вас будут еще искры). Плюсом так же
        будет то, что <WH
          text="Запястья с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        /> не зависит от уровня предметов, поэтому вы можете сделать только
        плечи 486, а запястья оставить 447 (из старой искры, это на ~3% хуже чем
        486) и затем их сделать 476 (из героического зачарованного гребня за 20
        известность), а сэкономленные мифические гребни потратить на усиление
        обычных вещей, что даст больший прирост на старте, нежели крафт с
        476-486 для запястий.
      </p>
      <p>
        <span class="text-outlaw">Для головорез - ликвидация:</span>
         Помимо варианта выше, вы можете сделать проверенные временем <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        /> + <WH
          text="Запястья с пропитанной ядом броневой пластиной"
          href="https://www.wowhead.com/ru/item=193555/пропитанная-ядом-броневая-пластина"
        />. Это отличный вариант и для рейда и для ключей. Однако в рейде у
        скрытности этот набор довольно слаб (~2к урона, 0.9%). Небольшим минусом
        будет то, что они отнимают выносливость (~6к здоровья, некритично, но на
        освоение может и сыграть роль)
      </p>
      <p>
        <span class="text-assa">Для ликвидация - скрытность:</span>
         Вариант для всех является единственным хорошим вариантом для
        пересечения этих двух специализаций в рейде. В ключах лучший вариант для
        обоих специализаций - это две <WH
          text="Подкладки из синего шелка"
          href="https://www.wowhead.com/ru/item=193946/подкладка-из-синего-шелка"
        /> (только высокого уровня крафт, 447 не подойдут, так как количество
        искусности зависит от урона предмета)
      </p>
      <p>
        <span class="text-sub">Для скрытность - головорез:</span>
         Если вас по какой-то причине не устраивает вариант для всех, то
        неплохим вариантом для этих двух специализаций будут две <WH
          text="Закаленные в пламени Тьмы броневые пластины"
          href="https://www.wowhead.com/ru/item=204710/закаленная-в-пламени-тьмы-броневая-пластина"
        />. Это набор подойдет и для рейда (хуже на 0.8% для пирата и 0.4% для
        скрытности), и для ключей (в них лучше чем вариант для всех).
      </p>
    </div>
    <H3 text="Лучшая экипировка (BiS list)" />
    <ul
      class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
    >
      <li>
        Голова: <WH
          text="Маска светлого тенехода"
          href="https://www.wowhead.com/ru/item=207236/маска-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        Шея: <WH
          text="Филигранная подвеска ворона"
          href="https://www.wowhead.com/ru/item=134499/филигранная-подвеска-ворона?bonus=8782&ilvl=489&spec=261"
        />
      </li>
      <li>
        Плечи: <WH
          text="Наплечные щитки колонии спор"
          href="https://www.wowhead.com/ru/item=204706/наплечные-щитки-колонии-спор?bonus=8960:8840:8836:8902&class=4&ilvl=486&spec=261"
        /> или <WH
          text="Режущий наплеч светлого тенехода"
          href="https://www.wowhead.com/ru/item=207234/режущий-наплеч-светлого-тенехода?ilvl=489"
        /> (если играете с <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=260"
        />)
      </li>
      <li>
        Грудь: <WH
          text="Кираса светлого тенехода"
          href="https://www.wowhead.com/ru/item=207239/кираса-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        Пояс: <WH
          text="Пояс с челюстью гончей"
          href="https://www.wowhead.com/ru/item=159341/пояс-с-челюстью-гончей?bonus=523&class=4&ilvl=489&spec=261"
        />
      </li>
      <li>
        Ноги: <WH
          text="Шоссы светлого тенехода"
          href="https://www.wowhead.com/ru/item=207235/шоссы-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        Ступни: Если используете крафт плечи - <WH
          text="Ботфорты осквернителя рощи"
          href="https://www.wowhead.com/ru/item=134429/ботфорты-осквернителя-рощи?bonus=6652:8811:8812&class=4&ilvl=489&spec=261"
        />. Если сетовые плечи - <WH
          text="Обмотки с ядовитыми шипами"
          href="https://www.wowhead.com/ru/item=193452/обмотки-с-ядовитыми-шипами?class=4&ilvl=486&spec=259"
        />
      </li>
      <li>
        Запястья: Рейд - <WH
          text="Зачарованные жизнью путы"
          href="https://www.wowhead.com/ru/item=193419/зачарованные-жизнью-путы?bonus=8836:8840:8902:9405:8797:8960:8794:9498:9600:9500&class=4&crafted-stats=40:32&ilvl=486&spec=261"
        />
      </li>
      <li>
        Кисти рук: <WH
          text="Когтистые захваты светлого тенехода"
          href="https://www.wowhead.com/ru/item=207237/когтистые-захваты-светлого-тенехода?ilvl=489"
        />
      </li>
      <li>
        Кольцо 1: <WH
          text="Кольцо с песочными часами"
          href="https://www.wowhead.com/ru/item=193000/кольцо-с-песочными-часами?bonus=523&crafted-stats=49:40&ilvl=486&spec=261"
        />
      </li>
      <li>
        Кольцо 2: <WH
          text="Перстень последнего старейшины"
          href="https://www.wowhead.com/ru/item=207162/signet-of-the-last-elder?bonus=1808&ilvl=489"
        />
      </li>
      <li>
        Аксессуары: <WH
          text="Ветвь Сухокожего"
          href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
        /> - лучший аксессуар в рейде, замена которого дает слишком большой
        минус урона. Но вот в ключах его спокойно можно заменить на <WH
          text="Перевязь изогнутых клинков"
          href="https://www.wowhead.com/ru/item=207165/bandolier-of-twisted-blades?bonus=6652:8783:8784:9599:9600:10244:10245&class=4&ilvl=489&spec=260"
        />, особенно учитывая сложность реализации в некоторых случаях. <WH
          text="Клеймо-печатка Катаклизма"
          href="https://www.wowhead.com/ptr-2/item=207166/cataclysmic-signet-brand?ilvl=489"
        /> подходит только для долгих боев (5 минут и больше). В ключах он
        сильный, но только если не спадают стаки (не выходите из боя больше чем
        на 15 сек). В противном случае он проигрывает другим пассивным
        аксессуарам. Со временем длина боя в рейде будет уменьшаться и тогда
        лучше использовать другие аксессуары, такие как <WH
          text="Ускоряющие песочные часы"
          href="https://www.wowhead.com/ru/item=207566/ускоряющие-песочные-часы?class=4&ilvl=489&spec=260"
        /> или <WH
          text="Талисман Ми'даса"
          href="https://www.wowhead.com/ru/item=158319/ускоряющие-песочные-часы?class=4&ilvl=489&spec=260"
        />, которые являются и в ключах отличным выбором.
      </li>
      <li>
        Плащ: <WH
          text="Мантия ослепительного жертвоприношения"
          href="https://www.wowhead.com/ru/item=207161/мантия-ослепительного-жертвоприношения?bonus=6652:8783:8784:9599:9600:10244:10245&class=4&ilvl=489&spec=261"
        />, также подойдет любой без скорости.
      </li>
      <li>
        Оружие (МХ): <WH
          text="Последний момент"
          href="https://www.wowhead.com/ru/item=207996/nick-of-time?ilvl=489"
        />
      </li>
      <li>
        Оружие (ОХ): <WH
          text="Последний момент"
          href="https://www.wowhead.com/ru/item=207996/nick-of-time?ilvl=489"
        />
      </li>
    </ul>
  </div>
</section>
