---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    /> (1 или 2 в зависимости от прока <WH
      text="Мастер боя"
      href="https://www.wowhead.com/ru/spell=193537/мастер-боя"
    />)
  </li>
  <li>
    <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    />
  </li>
  <li>
    <WH
      text="Теневые клинки"
      href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
    />
  </li>

  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> + <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    /> + <WH
      text="Ветвь Сухокожего"
      href="https://www.wowhead.com/ru/item=109999/ветвь-сухокожего?class=4&ilvl=489&spec=259"
    />, вам нужно собрать 2 сферы сразу и последнюю через 7-8 сек
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> (это делается в <WH
      text="Танце теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />, чтобы заснэпшотить <WH
      text="Рваную рану"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> от <WH
      text="Завершение: рваная рана"
      href="https://www.wowhead.com/ru/spell=385951/завершение-рваная-рана"
    /> и <WH
      text="Ночного ловца"
      href="https://www.wowhead.com/ru/spell=14062/ночной-ловец"
    />)
  </li>
  <li>
    <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
    /> + <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    /> (макрос)
  </li>
  <li>
    <WH
      text="Удар в спину"
      href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    />
  </li>

  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Удар в спину"
      href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
    /> / <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    /> до тех пор пока перезарядка <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    /> не станет меньше 10 сек
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </li>
  <li>---</li>
</ul>

<p class="pt-[16px] text-left">
  Опенер может немного меняться в зависимости от проков комплекта, но порядок
  важных кулдаунов не меняется.
</p>
