---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> + <WH
      text="Охлажденное зелье"
      href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
    />
  </li>
  <li>
    <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Исчезновение"
      href="https://www.wowhead.com/ru/spell=1856/исчезновение"
    /> + <WH
      text="Шквал сюрикэнов"
      href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
    /> (из-за баффа <WH
      text="Устранение свидетелей"
      href="https://www.wowhead.com/ru/spell=457178/устранение-свидетелей"
    />)
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    />
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </li>
  <li>
    <WH
      text="Вероломный передатчик"
      href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
    /> (активация)
  </li>
  <li>
    <WH
      text="Клинок мрака"
      href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
    /> (если взят, иначе <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />)
  </li>
  <li>
    <WH
      text="Теневые клинки"
      href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
    />
  </li>
  <li>
    <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    /> до 5+ кп | <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    /> в зависимости от проков до окончания <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </li>
  <li>
    <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    /> (когда предыдущих осталось меньше 3 сек)
  </li>
  <li>
    <WH
      text="Клинок мрака"
      href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
    /> (если взят, иначе <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />)
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
    /> + <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />
  </li>
</ul>

<p class="pt-[16px] text-left">
  Опенер (финишеры / филлеры) может немного меняться в зависимости от проков
  техники, но порядок важных кулдаунов не меняется. Вы отыгрываете 2 <WH
    text="Танца теней"
    href="https://www.wowhead.com/ru/spell=185313/танец-теней"
  />, в каждом из которых используется <WH
    text="Тайный прием"
    href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
  />. Аналогично происходит и дальше, в каждый <WH
    text="Танец теней"
    href="https://www.wowhead.com/ru/spell=185313/танец-теней"
  /> используется <WH
    text="Тайный прием"
    href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
  />. Это происходит каждые ~30 сек, затем под бурсты 2 танца, потом снова по 1
  каждые 30 сек.
</p>
