---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
---

<section
  id={subMenuItems[3].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[3].label} />
  <div class="flex flex-col gap-[16px] text-clamp_text">
    <p>
      В первом сезоне, на удивление, у скрытности довольно мало
      "зафиксированных" вещей. Почти все вещи (даже редкие) можно заменить
      аналогами с потерей очень незначительного урона (или вообще без потерь).
      По итогу, обязательны лишь 4 вещи из комплекта, 2 крафта, редкое кольцо и
      аксессуар. Все остальные вещи в разных комбинациях можно сделать "бис
      гиром", что увеличивает вариативность. Для своего персонажа всегда
      пользуйтесь <a
        href="https://www.raidbots.com/simbot/topgear"
        class="text-hover hover:opacity-80">Raidbots - Top Gear</a
      >.
    </p>
    <div class="flex flex-wrap max-w-[1024px] text-secondary text-left">
      <input
        type="radio"
        id="tab_one_1"
        name="mytabs_equip"
        checked="checked"
        class="peer/tab_one_1 hidden p-[20px]"
      />
      <label
        for="tab_one_1"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border sm:border-r-0 flex items-center justify-center bg-gray font-bold cursor-pointer hover:neon-gray peer-checked/tab_one_1:text-assa peer-checked/tab_one_1:neon-assa"
        >Комплект</label
      >
      <div class="peer-checked/tab_one_1:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Пустота фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212038/пустота-фантома-кареши?bonus=1808&ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <span class="pt-[16px]">
            2 части (~2.6% урона): <WH
              text="Символы смерти"
              href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
            /> увеличивают урон от вашего следующего <WH
              text="Тайный прием"
              href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
            /> на 20%.
          </span>
          <span class="pt-[16px]">
            4 части (~7.3% урона): <WH
              text="Тайный прием"
              href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
            /> увеличивает урон от остальных ваших завершающих приемов на 16% на
            7 sec.
          </span>
          <span class="pt-[16px]">
            Комплект полностью пассивный и не требует никакого отслеживания,
            однако немного меняет приоритет <WH
              text="Тайного приема"
              href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
            />
          </span>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_two_2"
        name="mytabs_equip"
        class="peer/tab_two_2 hidden p-[20px]"
      />
      <label
        for="tab_two_2"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border border-t-0 sm:border-t-[1px] lg:border-r-0 flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_two_2:text-assa peer-checked/tab_two_2:neon-assa"
        >Украшения</label
      >
      <div class="peer-checked/tab_two_2:block w-full order-1 hidden">
        <div
          class="list-inside list-disc p-[20px] text-left flex flex-col gap-[16px] border border-border rounded-md"
        >
          <ul class="list-inside list-decimal gap-[20px] flex flex-col">
            <span class="pb-[10px] text-red-600"
              >На момент написания гайда (до релиза игры) многие украшения не
              работают ни в игре, ни в симе. Поэтому здесь не будет топа, пока
              не будут добавлены все украшения в сим. Я лишь напишу
              предполагаемый топ крафтов и причину.</span
            >
            <li>
              <WH
                text="Выкованный навеки пронзатель"
                href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:8795:11302:8960&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:8795:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              />. Выглядит как самый лучший первый крафт. Во первых, даггер
              симится лучше всех украшений (у ликвидации даже 2, у остальных
              специализаций по одному) + это самый сильный ап (по сравнению с
              героическими вещами) и экономия гребней на оружии. Во вторых, мы
              можем сделать наручи низкого уровня, чтобы сэкономить эпохальные
              гребни и потратить их на улучшение других вещей (как было с
              токсичной пластиной). Обязательно нужно крафтить Симбиоз или
              Вознесение, так как они являются нерубским украшением и усиляются
              пластиной. Желательно делать крит + универсальность, чтобы подошло
              на все специализации.
            </li>
            <li>
              <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=11303:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> или <WH
                text="Поручи с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11304:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              /> + <WH
                text="Боевой пояс с руническим клеймом"
                href="https://www.wowhead.com/ru/item=219331/боевой-пояс-с-руническим-клеймом?bonus=11304:8960:523&class=4&crafted-stats=36:49&ilvl=636&spec=259"
              />. Это скорее вариант для ключей, где высокий аптайм и возможно
              для фарма в рейде. Так же придется делать 2 крафта максимального
              уровня, что потребует много эпохальных гребней. Симятся хуже 1-го
              варианта даже при 100% аптайме.
            </li>
          </ul>
        </div>
      </div>

      <input
        type="radio"
        id="tab_three_3"
        name="mytabs_equip"
        class="peer/tab_three_3 hidden p-[20px]"
      />
      <label
        for="tab_three_3"
        class="p-[20px] w-[100%] sm:w-[calc(100%/3)] 2xl:w-[20%] select-none border border-1 border-border lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_three_3:text-assa peer-checked/tab_three_3:neon-assa text-center"
        >Что фармить?</label
      >
      <div class="peer-checked/tab_three_3:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            <WH
              text="Шепчущая маска"
              href="https://www.wowhead.com/ru/item=221163/шепчущая-маска?bonus=523&class=4&ilvl=639&spec=261"
            /> [Ара-Кара], лучший вариант на замену вещи из комплекта
          </li>
          <li>
            <WH
              text="Связка ключей Аварийное отключение"
              href="https://www.wowhead.com/ru/item=221077/связка-ключей-аварийное-отключение?bonus=8781&ilvl=639&spec=259"
            /> [Каменный Свод] | <WH
              text="Подвеска следоплета"
              href="https://www.wowhead.com/ru/item=178707/подвеска-следоплета?bonus=4786:9948:10299:8781&ilvl=639&spec=261"
            /> [Туманы Тирна Скитта]
          </li>
          <li>
            <WH
              text="Пояс поглотителя живицы"
              href="https://www.wowhead.com/ru/item=178699/пояс-поглотителя-живицы?bonus=4786:9948:10299:523&class=4&ilvl=639&spec=259"
            /> [Туманы Тирна Скитта], отличный пояс, пока не получите любой 639 для
            катализатора (или с рейда)
          </li>
          <li>
            <WH
              text="Эхо шагов шептателя"
              href="https://www.wowhead.com/ru/item=221169/эхо-шагов-шептателя?bonus=4786:3131:10299&class=4&ilvl=639&spec=261"
            /> [Город Нитей], отличная замена рейдовым ступням
          </li>
          <li>
            <WH
              text="Накидка покрова кузни"
              href="https://www.wowhead.com/ru/item=221088/накидка-покрова-кузни?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Каменный Свод] | <WH
              text="Залатанная троггами пелерина"
              href="https://www.wowhead.com/ru/item=133363/залатанная-троггами-пелерина?bonus=4786:11342:10299&class=4&ilvl=639&spec=261"
            /> [Грим Батол]
          </li>
          <li>
            <WH
              text="Печатка высшего неруба"
              href="https://www.wowhead.com/ru/item=221141/печатка-высшего-неруба"
            /> [Сияющий Рассвет] (лучшее кольцо) +
            <WH
              text="Перстень Умбрисса"
              href="https://www.wowhead.com/ru/item=133286/перстень-умбрисса?bonus=4786:11342:10299:8781&ilvl=639&spec=259"
            /> [Грим Батол] | <WH
              text="Печать городской стражи"
              href="https://www.wowhead.com/ru/item=162542/печать-городской-стражи?bonus=4786:10047:10299:8781&ilvl=639&spec=259"
            /> [Осада Боралуса], просто хорошие кольца, пока не получите рейдовые
          </li>
          <li>
            <WH
              text="Милость Скардина"
              href="https://www.wowhead.com/ru/item=133282/милость-скардина?bonus=4786:11342:10299&class=4&ilvl=639&spec=259"
            /> [Грим Батол], неплохой прожимной аксессуар для старта, но лучше пофармить
            вылазки (delves) ради аксессуара ниже
          </li>
          <li>
            <WH
              text="Несовершенная сыворотка вознесения"
              href="https://www.wowhead.com/ru/item=225654/несовершенная-сыворотка-вознесения?bonus=10274:10266:3155"
            /> [Вылазки]
          </li>
          <li>
            <WH
              text="Кокон выводка Ара-Кары"
              href="https://www.wowhead.com/ru/item=219314/кокон-выводка-ара-кары?ilvl=639&spec=259"
            /> [Ара-Кара] (лучший аксессуар) |
            <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=259"
            /> [Сияющий Рассвет] | <WH
              text="Подзорная труба зоркого глаза"
              href="https://www.wowhead.com/ru/item=159623/подзорная-труба-зоркого-глаза?bonus=4786:10047:10299&class=4&ilvl=639&spec=259"
            /> [Осада Боралуса], лучшие варианты для 2-го аксессуара
          </li>
          <li>Любой кинжал</li>
        </ul>
      </div>

      <input
        type="radio"
        id="tab_four_4"
        name="mytabs_equip"
        class="peer/tab_four_4 hidden p-[20px]"
      />
      <label
        for="tab_four_4"
        class="p-[20px] w-[100%] sm:w-[50%] 2xl:w-[20%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_4:text-hover peer-checked/tab_four_4:neon-hover"
        >BiS</label
      >
      <div class="peer-checked/tab_four_4:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Шепчущая маска"
              href="https://www.wowhead.com/ru/item=221163/шепчущая-маска?bonus=523&class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Шея: <WH
              text="Милость шелкового советника"
              href="https://www.wowhead.com/ru/item=225575/милость-шелкового-советника?bonus=8781&ilvl=639&spec=261"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Натянутые внутренности пожирателя"
              href="https://www.wowhead.com/ru/item=212425/натянутые-внутренности-пожирателя?bonus=523&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Ноги: <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Ступни: <WH
              text="Башмаки мимолетного кровопролития"
              href="https://www.wowhead.com/ru/item=225591/башмаки-мимолетного-кровопролития?class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&class=4&crafted-stats=40:49&ilvl=636&spec=261"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка высшего неруба"
              href="https://www.wowhead.com/ru/item=221141/печатка-высшего-неруба?bonus=8781&ilvl=639&spec=261"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Вероломный передатчик"
              href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Контракт жнеца Бездны"
              href="https://www.wowhead.com/ru/item=212456/контракт-жнеца-бездны?class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Плащ: <WH
              text="Королевская эмблема Неруб'ара."
              href="https://www.wowhead.com/ru/item=212446/королевская-эмблема-нерубара?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Кукри кровавого поцелуя"
              href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?bonus=10256:11086:6652:11095:1514:10255&class=4&ilvl=639&spec=261"
            /> или <WH
              text="Скальпель Трупошва"
              href="https://www.wowhead.com/ru/item=178743/скальпель-трупошва?bonus=4786:9948:10299&class=4&ilvl=639&spec=261"
            />
          </li>MainxMainx
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:49&ilvl=636&spec=261"
            />
          </li>
        </ul>
      </div>
      <input
        type="radio"
        id="tab_four_5"
        name="mytabs_equip"
        class="peer/tab_four_5 hidden p-[20px]"
      />
      <label
        for="tab_four_5"
        class="p-[20px] w-[100%] sm:w-[50%] 2xl:w-[20%] select-none border border-1 border-border border-t-0 lg:border-t-[1px] flex items-center justify-center font-bold cursor-pointer hover:neon-gray peer-checked/tab_four_5:text-hover peer-checked/tab_four_5:neon-hover text-center"
        >BiS (ключи)</label
      >
      <div class="peer-checked/tab_four_5:block w-full order-1 hidden">
        <ul
          class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
        >
          <li>
            Голова:
            <WH
              text="Шепчущая маска"
              href="https://www.wowhead.com/ru/item=221163/шепчущая-маска?bonus=523&class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Шея: <WH
              text="Милость шелкового советника"
              href="https://www.wowhead.com/ru/item=225575/милость-шелкового-советника?bonus=8781&ilvl=639&spec=261"
            />
          </li>
          <li>
            Плечи: <WH
              text="Наплечники фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212036/наплечники-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Грудь: <WH
              text="Обмотки нексуса фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212041/обмотки-нексуса-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Пояс: <WH
              text="Натянутые внутренности пожирателя"
              href="https://www.wowhead.com/ru/item=212425/натянутые-внутренности-пожирателя?bonus=523&class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Ноги: <WH
              text="Поножи фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212037/поножи-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Ступни: <WH
              text="Башмаки мимолетного кровопролития"
              href="https://www.wowhead.com/ru/item=225591/башмаки-мимолетного-кровопролития?class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Запястья: <WH
              text="Поручи с руническим клеймом"
              href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=11109:8960:523&class=4&crafted-stats=40:49&ilvl=636&spec=261"
            />
          </li>
          <li>
            Кисти рук: <WH
              text="Захваты фантома К'ареши"
              href="https://www.wowhead.com/ru/item=212039/захваты-фантома-кареши?ilvl=639"
            />
          </li>
          <li>
            Кольцо 1: <WH
              text="Печать отравленного соглашения"
              href="https://www.wowhead.com/ru/item=225578/печать-отравленного-соглашения?bonus=8781&ilvl=639&spec=259"
            />
          </li>
          <li>
            Кольцо 2: <WH
              text="Печатка высшего неруба"
              href="https://www.wowhead.com/ru/item=221141/печатка-высшего-неруба?bonus=8781&ilvl=639&spec=261"
            />
          </li>
          <li>
            Аксессуар 1: <WH
              text="Вероломный передатчик"
              href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
            />
          </li>
          <li>
            Аксессуар 2: <WH
              text="Переменчивое яйцо Ови'накса"
              href="https://www.wowhead.com/ru/item=220305/переменчивое-яйцо-овинакса?bonus=4800:4786:1540:10299&ilvl=639&spec=261"
            /> или <WH
              text="Усиливающий кристалл Ануб'иккаджа"
              href="https://www.wowhead.com/ru/item=219312/усиливающий-кристалл-анубиккаджа?bonus=4786:3131:10299&class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Плащ: <WH
              text="Королевская эмблема Неруб'ара."
              href="https://www.wowhead.com/ru/item=212446/королевская-эмблема-нерубара?class=4&ilvl=639&spec=259"
            />
          </li>
          <li>
            Оружие 1: <WH
              text="Кукри кровавого поцелуя"
              href="https://www.wowhead.com/ru/item=212395/кукри-кровавого-поцелуя?bonus=10256:11086:6652:11095:1514:10255&class=4&ilvl=639&spec=261"
            /> или <WH
              text="Скальпель Трупошва"
              href="https://www.wowhead.com/ru/item=178743/скальпель-трупошва?bonus=4786:9948:10299&class=4&ilvl=639&spec=261"
            />
          </li>
          <li>
            Оружие 2: <WH
              text="Выкованный навеки пронзатель"
              href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:11144:10222:1485:11300:8960&class=4&crafted-stats=40:49&ilvl=636&spec=261"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
