---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="p-4 border border-border rounded-md">
  <label
    for="commentsDS"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="commentsDS"
      name="commentsDS"
      class="peer hidden checkbox-3"
    />
    <span
      class="w-4 h-4 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-hover peer-checked:border-gray-700"
    ></span>
    <span class="text-left"> Показать комментарии </span></label
  >

  <ul
    class="peer-checked:hidden list-inside list-decimal flex flex-col items-start p-[20px] text-left gap-[10px]"
  >
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> за 25+ секунд до пулла босса
    </li>
    <Comment class="visible-comment"
      >В любое время, например как только пришли к боссу / после реса), чтобы
      получить 2 заряженных кп от таланта <WH
        text="Суперзарядка"
        href="https://www.wowhead.com/ru/spell=470347/суперзарядка"
      />, которые не спадают при пуллен</Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Клинок мрака"
        href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
      />
    </li>
    <Comment class="visible-comment"
      >Для стака <WH
        text="Пляски смерти"
        href="https://www.wowhead.com/ru/spell=382528/пляска-смерти"
      /></Comment
    >
    <li>
      <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      /> + <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      /> + <WH
        text="Карточный домик"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик?class=4&spec=261"
      /><span>
        + <WH
          text="Символы смерти"
          href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
        /></span
      >
    </li>
    <Comment class="visible-comment"
      >Жмутся после <WH
        text="Клинка мрака"
        href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
      />, т.к. бафф <WH
        text="Умысел"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      /> и так даст 7кп и чтобы не потратить стак <WH
        text="Мастера гнили"
        href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
      /> на <WH
        text="Клинок мрака"
        href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
      /></Comment
    >
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <Comment class="visible-comment"
      >Сейчас, в симе, в первом <WH
        text="Тайном приеме"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> не используется <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      />, но вы можете играть как раньше. Однако, вам нужно использовать второе <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> почти по откату (~на 60 секунде, под 4 <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />), возможно вам придется пару секунд придержать <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> для этого. 3 <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> уже будет в следующих бурстах, как и в симе, тем самым вы получите +1 использование
      за бой</Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> до 5+ кп | <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> в зависимости от проков до окончания <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Клинок мрака"
        href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
      />
    </li>
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> (когда предыдущих осталось меньше 3 сек)
    </li>
    <Comment class="visible-comment"
      >Пандемик тайм на
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> составляет 10 (базовое время действия) * 30% ("pandemic time") = 3 сек.
      То есть, если вы нажмете новые <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> когда предыдущих осталось меньше 3 секунд, оставшееся время прибавятся к
      новым 10 сек (13 сек максимум)</Comment
    >
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> + <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> до 5+ кп | <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> в зависимости от проков до окончания <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      Если после окончания второго <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> у вас 0 кп, то <WH
        text="Исчезновение"
        href="https://www.wowhead.com/ru/spell=1856/исчезновение"
      /> + <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />. Если фулл кп, то просто немного подождите, пока не откатится <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <Comment class="visible-comment"
      >Это нужно, чтобы не потерять стаки сета <WH
        text="Череды побед!"
        href="https://www.wowhead.com/ru/spell=1218143/череда-побед"
      />. Вся суть быстрого третьего <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> в том, чтобы успеть дать третий <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> в окно <WH
        text="Флагелляции"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />. На манекенах у вас это не получится, требуется БЛ и бафф шамана.</Comment
    >
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> (когда предыдущих осталось меньше 3 сек)
    </li>
    <Comment class="visible-comment"
      >Пандемик тайм на
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> составляет 10 (базовое время действия) * 30% ("pandemic time") = 3 сек.
      То есть, если вы нажмете новые <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> когда предыдущих осталось меньше 3 секунд, оставшееся время прибавятся к
      новым 10 сек (13 сек максимум)</Comment
    >
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li>
      <WH
        text="Клинок мрака"
        href="https://www.wowhead.com/ru/spell=200758/клинок-мрака"
      />
    </li>
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> до 5+ кп | <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> в зависимости от проков до окончания <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />
    </li>
  </ul>
</div>
