---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import Tabs from "./Subtlety_tabs.astro";
---

<section
  id={subMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>У скрытности на данный момент 2 основных варианта билдов:</p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. Rotten билд (больше для ключей) <WH
          text="Мастер гнили"
          href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
        /> | Finality билд (для рейда) <WH
          text="Завершение"
          href="https://www.wowhead.com/ru/spell=382525/завершение"
        />. Просто меняется 1 талант, так что нету смысла выделять их как
        отдельные билды. Подходят как для рейда, так и для ключей. Основной
        выбор на данный момент.
      </li>
      <li>
        2. DB (Dark Brew) <WH
          text="Темный отвар"
          href="https://www.wowhead.com/ru/spell=382504/темный-отвар"
        />. На данный момент, в 11.2, очень слаб из-за сета, оставлен тут на
        случай усиления сета / талантов.
      </li>
    </ul>
    <p class="text-blue-500">
      T - Trickster - Ловкач<br />
      DS - Deathstalker - Ловчий смерти
    </p>
    <Tabs />
  </div>
</section>
