---
import H2 from "../H2.astro";
import WH from "../WH.astro";
import { subMenuItems } from "../../constants/content";
import Tabs from "./Subtlety_tabs.astro";
---

<section
  id={subMenuItems[1].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center pb-[80px] text-clamp_heading text-secondary text-left"
>
  <H2 text={subMenuItems[1].label} />
  <div class="text-clamp_text flex flex-col gap-[16px]">
    <p>У скрытности на данный момент 2 основных варианта билдов:</p>
    <ul class="flex flex-col gap-[16px]">
      <li>
        1. IS (Invigorating Shadowdust) билд <WH
          text="Живительная темная пыльца"
          href="https://www.wowhead.com/ru/spell=382523/живительная-темная-пыльца"
        />
      </li>
      <li>
        2. DB (Dark Brew) <WH
          text="Темный отвар"
          href="https://www.wowhead.com/ru/spell=382504/темный-отвар"
        />
      </li>
    </ul>
    <p class="text-blue-500">
      T - Trickster - Ловкач<br />
      DS - Deathstalker - Ловчий смерти
    </p>
    <p>
      На данный момент Ловкач (Trickster) сильнее в рейде и особенно в ключах. У
      него самый лучший паттерн урона для ключей (вы играете на 99% в одну цель,
      но при этом наносите урон всем, аналогично головорезу). Однако у Ловчего
      смерти возможно есть потенциал когда сделают (или я сделаю) под него APL
      (Action Priority List, то как сим нажимает кнопки). Потому что сейчас он
      больше написан под трикстера из-за уменьшенного отката на тайный прием.
      Если появится конкурентный билд с ловчим для рейда, я его добавлю.
    </p>
    <p>
      Билд через <WH
        text="Живительная темная пыльца"
        href="https://www.wowhead.com/ru/spell=382523/живительная-темная-пыльца"
      /> единственный вариант для рейда (он сильнее DB билда на ~5.5%). Билд через
      <WH
        text="Темный отвар"
        href="https://www.wowhead.com/ru/spell=382504/темный-отвар"
      /> больше подходит для ключей, особенно с ростом искусности.
    </p>
    <Tabs />
  </div>
</section>
