---
import WH from "../WH.astro";
import Comment from "../Comment.astro";
---

<div class="p-4 border border-border rounded-md">
  <label
    for="spell"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      type="checkbox"
      id="spell"
      name="spell"
      class="peer hidden checkbox"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-sub peer-checked:border-gray-700"
    ></span>
    <span class="text-left">
      Играю с <WH
        text="Мастер гнили"
        href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
      /> (а не с <WH
        text="Завершением (1/2)"
        href="https://www.wowhead.com/ru/spell=382525/завершение"
      />)
    </span>
  </label>

  <label
    for="commentsT"
    class="flex items-center gap-2 cursor-pointer px-[20px] pt-[10px] select-none"
  >
    <input
      checked
      type="checkbox"
      id="commentsT"
      name="commentsT"
      class="peer hidden checkbox-3"
    />
    <span
      class="w-4 h-4 shrink-0 border border-gray-500 rounded-md flex items-center justify-center peer-checked:bg-hover peer-checked:border-gray-700"
    ></span>
    <span class="text-left"> Показать комментарии*</span></label
  >

  <ul
    class="peer-checked:hidden list-inside list-decimal flex flex-col items-start p-[20px] text-left gap-[10px]"
  >
    <li>
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> за 25+ секунд до пулла босса
    </li>
    <Comment class="hidden visible-comment"
      >В любое время, например как только пришли к боссу / после реса), чтобы
      получить 2 заряженных кп от таланта <WH
        text="Суперзарядка"
        href="https://www.wowhead.com/ru/spell=470347/суперзарядка"
      />, которые не спадают при пулле</Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      />
    </li>
    <li>
      <WH
        text="Рваная рана"
        href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
      />
    </li>
    <li>
      <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /><span class="hidden-item">
        + <WH
          text="Символы смерти"
          href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
        /></span
      >
    </li>
    <li>
      <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />
    </li>
    <Comment class="hidden visible-comment"
      >Для стака <WH
        text="Пляски смерти"
        href="https://www.wowhead.com/ru/spell=382528/пляска-смерти"
      /></Comment
    >
    <li>
      <WH
        text="Теневые клинки"
        href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
      /> + <WH
        text="Охлажденное зелье"
        href="https://www.wowhead.com/ru/item=212265/охлажденное-зелье?crafting-quality=6"
      /> + Аксессуар<span class="hidden visible-item">
        + <WH
          text="Символы смерти"
          href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
        /></span
      >
    </li>
    <Comment class="hidden visible-comment"
      >Жмутся после <WH
        text="Удара в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      />, т.к. бафф <WH
        text="Умысел"
        href="https://www.wowhead.com/ru/spell=343173/умысел"
      /> и так даст 7кп</Comment
    >
    <Comment class="hidden visible-comment-spell"
      ><WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> используются после <WH
        text="Удара в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      /> чтобы не потратить стак <WH
        text="Мастера гнили"
        href="https://www.wowhead.com/ru/spell=382015/мастер-гнили"
      /> на <WH
        text="Удар в спину"
        href="https://www.wowhead.com/ru/spell=53/удар-в-спину"
      /></Comment
    >
    <li>
      <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      />
    </li>
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      />
    </li>
    <li>
      <WH
        text="Удар милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> x2*
    </li>
    <Comment class="hidden visible-comment"
      >2 подряд получится только если сработала теневая техника, если она не
      сработала, то нужно использовать <WH
        text="Шквал сюрикэнов"
        href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
      /> (если у вас остались стаки от <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      />) на между <WH
        text="Ударами милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      />. Если стаков от <WH
        text="Дезориентирующих ударов"
        href="https://www.wowhead.com/ru/spell=441274/дезориентирующие-удары"
      /> нету - тогда можно использовать <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> между <WH
        text="Ударами милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /></Comment
    >
    <li>
      <WH
        text="Удар Тьмы"
        href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
      /> до 5+ кп | <WH
        text="Потрошение"
        href="https://www.wowhead.com/ru/spell=196819/потрошение"
      /> + <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      />* (когда предыдущих осталось меньше 3 сек)
    </li>
    <Comment class="hidden visible-comment"
      >Пандемик тайм на
      <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> составляет 10 (базовое время действия) * 30% ("pandemic time") = 3 сек.
      То есть, если вы нажмете новые <WH
        text="Символы смерти"
        href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
      /> когда предыдущих осталось меньше 3 секунд, оставшееся время прибавятся к
      новым 10 сек (13 сек максимум)</Comment
    >
    <li>
      <WH
        text="Хладнокровие"
        href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
      /> + <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> + <WH
        text="Танец теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />*
    </li>
    <Comment class="hidden visible-comment"
      >Благодаря таланту <WH
        text="Первый танец"
        href="https://www.wowhead.com/ru/spell=382505/первый-танец"
      /> в первом <WH
        text="Танце теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> мы сдаем 2 <WH
        text="Тайных приема"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />. Но обязательно нужно нажать второй <WH
        text="Танце теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> сразу после окончания первого, чтобы урон от клонов тоже был усилен</Comment
    >
    <li>...</li>
    <Comment
      >Расписывать дальше не имеет смысла, так как всё повторяется. Основная
      суть - вы сдаете 3 <WH
        text="Танца теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> подряд. В каждом из них по 1 <WH
        text="Тайному приему"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      /> (исключение только на оперене, что в первом <WH
        text="Танце теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      /> мы сдаем фактически 2 <WH
        text="Тайных приема"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />, а вот втором не сдаем, хотя клоны прилетают уже во втором <WH
        text="Танце теней"
        href="https://www.wowhead.com/ru/spell=185313/танец-теней"
      />). 4 танец вы сдаете почти сразу после первых трёх, чтобы вы точно в нем
      смогли сдать <WH
        text="Тайный прием"
        href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
      />. <WH
        text="Удары милосердия"
        href="https://www.wowhead.com/ru/spell=441776/удар-милосердия"
      /> сдаются по откату (перестаем сдавать если до <WH
        text="Флагелляция"
        href="https://www.wowhead.com/ru/spell=384631/флагелляция"
      /> осталось меньше 20 сек)</Comment
    >
  </ul>
</div>
