---
import WH from "../WH.astro";
---

<div class="peer-checked/tab_three_3:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <li>
      <WH
        text="Антикоррозийные перчатки"
        href="https://www.wowhead.com/ru/item=159305/антикоррозийные-перчатки?bonus=4786:11359:11996&ilvl=678&spec=261"
      /> [ЗОЛОТАЯ ЖИЛА!!!] | <WH
        text="Рукавицы шквального ветра"
        href="https://www.wowhead.com/ru/item=221036/рукавицы-шквального-ветра?bonus=4786:3170:11996&ilvl=678&spec=261"
      /> [Гнездовье] | <WH
        text="Самоочищающиеся повязки"
        href="https://www.wowhead.com/ru/item=168985/самоочищающиеся-повязки?bonus=4786:10067:11996&ilvl=678&spec=261"
      /> [Операция "Мехагон"] - лучший вариант на замену вещи из комплекта
    </li>
    <li>
      <WH
        text="Мерцающее светлое ожерелье"
        href="https://www.wowhead.com/ru/item=221103/мерцающее-светлое-ожерелье?bonus=8781&ilvl=678&spec=261"
      /> [Расселина Темного Пламени] единственный нормальный вариант с ключей. Так
      же, есть отличный вариант до получение этой шеи с хранилища (или до получение
      BoE шеи с рейда) - это пвп шея <WH
        text="Амулет призового гладиатора"
        href="https://www.wowhead.com/ru/item=229779/амулет-призового-гладиатора?bonus=12030:12020:11980:10255:10834:11984:1546:8781&ilvl=658&spec=261"
      /> (вы можете пофармить сундуки с эир дропа в вар моде, пофармить хонор и купить
      итемы на пвп сокеты на аукционе). Эта шея равна ~672 шеи с ключей
    </li>
    <li>
      <WH
        text="Ремень погибшей мечты"
        href="https://www.wowhead.com/ru/item=178805/ремень-погибшей-мечты?bonus=4786:9987:11996:523&ilvl=678&spec=261"
      /> [Театр Боли] | <WH
        text="Спорран безумного короля"
        href="https://www.wowhead.com/ru/item=168986/спорран-безумного-короля?bonus=4786:10067:11996:523&ilvl=678&spec=261"
      /> [Операция "Мехагон"] | <WH
        text="Пояс беспринципного геолога"
        href="https://www.wowhead.com/ru/item=159725/пояс-беспринципного-геолога?bonus=4786:11359:11996:523&ilvl=678&spec=261"
      /> [ЗОЛОТАЯ ЖИЛА!!!] - лучшие варианты с ключей
    </li>
    <li>
      <WH
        text="Суперпробиватель"
        href="https://www.wowhead.com/ru/item=168962/суперпробиватель?bonus=4786:10067:11996&ilvl=678&spec=261"
      /> [Операция "Мехагон"] | <WH
        text="Теневой нож колосса"
        href="https://www.wowhead.com/ru/item=221044/теневой-нож-колосса?bonus=4786:3170:11996&ilvl=678&spec=261"
      /> [Гнездовье] - вариант для второй руки (в мх - крафт)
    </li>
    <li>
      <WH
        text="Импровизированный сефориевый стимулятор"
        href="https://www.wowhead.com/ru/item=232541/импровизированный-сефориевый-стимулятор?bonus=4786:1514:11996&ilvl=678&spec=261"
      /> [Операция: шлюз] - лучший вариант с ключей, на уровне лучших рейдовых аксессуаров
    </li>
    <li>
      <WH
        text="Ритуальное костяное кольцо"
        href="https://www.wowhead.com/ru/item=178870/ритуальное-костяное-кольцо?bonus=4786:9987:11996:8781&ilvl=678&spec=261"
      /> [Театр Боли] | <WH
        text="Сияющий перстень некроманта"
        href="https://www.wowhead.com/ru/item=221200/сияющий-перстень-некроманта?bonus=4786:3170:11996:8781&ilvl=678&spec=261"
      /> [Приорат Священного Пламени] - одно из этих колец используется вместе с
      <WH
        text="Перстень Цирци (658)"
        href="https://www.wowhead.com/ru/item=228411/перстень-цирци?bonus=8782&spec=261"
      /> + <WH
        text="Рунный цитрин песни ветра"
        href="https://www.wowhead.com/ru/item=228640/рунный-цитрин-песни-ветра?ilvl=658"
      /> | <WH
        text="Рунный цитрин призывателя бурь"
        href="https://www.wowhead.com/ru/item=228638/рунный-цитрин-призывателя-бурь?ilvl=658"
      /> | <WH
        text="Рунный цитрин обитателя глубин"
        href="https://www.wowhead.com/ru/item=228639/рунный-цитрин-обитателя-глубин?ilvl=658"
      /> (можно заменить кольцо Цирци, если максимально улучшите оба этих кольца)
    </li>
    <li>
      [Вылазки] - <WH
        text="Бижутерия гоб-кутюр"
        href="https://www.wowhead.com/ru/item=235428/бижутерия-гоб-кутюр?bonus=9842:11990:8781&ilvl=665&spec=261"
      /> | <WH
        text="Усилитель механо-сердечника"
        href="https://www.wowhead.com/ru/item=232485/усилитель-механо-сердечника?bonus=1537:11990&ilvl=665&spec=261"
      /> | <WH
        text="Турбо-дренаж 5000"
        href="https://www.wowhead.com/ru/item=232883/турбо-дренаж-5000?bonus=1537:11990&ilvl=665&spec=261"
      /> | <WH
        text="Линза из комнаты смеха"
        href="https://www.wowhead.com/ru/item=234217/линза-из-комнаты-смеха?bonus=1537:11990&ilvl=665&spec=261"
      /> | <WH
        text="Подозрительный энергетический напиток"
        href="https://www.wowhead.com/ru/item=235363/подозрительный-энергетический-напиток?bonus=1537:11990&ilvl=665&spec=261"
      /> - все вещи неплохие, отлично подойдут для старта
    </li>
    <li>
      <WH
        text="Жетон свирепости призового гладиатора"
        href="https://www.wowhead.com/ru/item=229780/жетон-свирепости-призового-гладиатора?bonus=1546:11984&ilvl=658&spec=261"
      /> - лучший вариант аксессуара, если у вас нету <WH
        text="Вероломного передатчика"
        href="https://www.wowhead.com/ru/item=221023/вероломный-передатчик?bonus=1540:10870&ilvl=639&spec=259"
      /> (39) или <WH
        text="Карточного домика"
        href="https://www.wowhead.com/ru/item=230027/карточный-домик?class=4&ilvl=658&spec=261"
      />. Если вы не пвпшер, то фармить так-же как шею, на сундуках с припасами
      с включенным режимом войны. Сундуки падают с кд ~20 минут. Тринкет этот
      нужно играть как 1.5 минутный, а не 1 минутный.
    </li>
  </ul>
</div>
