---
import Comment from "../Comment.astro";
import WH from "../WH.astro";
---

<div class="peer-checked/tab_four_4:block w-full order-1 hidden">
  <ul
    class="list-inside list-decimal font-medium p-[20px] text-left flex flex-col gap-[10px] border border-border rounded-md"
  >
    <span class="text-hover"
      >В этом сезоне бис можно собрать несколькими комбинациями, поэтому сначала
      я напишу 100% слоты, а затем варианты для других слотов. Ровнять
      характеристики (~30% крита) вам придется вариативными вещами (кольцо, шея,
      пояс, кинжал)</span
    >
    <span class="text-sub py-3">"Обязательные" вещи:</span>
    <li>
      Голова: <WH
        text="Капюшон внезапного затмения"
        href="https://www.wowhead.com/ru/item=237664/капюшон-внезапного-затмения?bonus=523&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Плечи: <WH
        text="Наплечные пластины смертельных уз"
        href="https://www.wowhead.com/ru/item=237552/наплечные-пластины-смертельных-уз?class=4&hero=51&ilvl=723&spec=261"
      /> или <WH
        text="Наплечные щитки ломаного ритма"
        href="https://www.wowhead.com/ru/item=185802/наплечные-щитки-ломаного-ритма?bonus=4786:10035:12361&ilvl=723&spec=261"
      />
    </li>
    <li>
      Грудь: <WH
        text="Тактический жилет внезапного затмения"
        href="https://www.wowhead.com/ru/item=237667/тактический-жилет-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Кисти: <WH
        text="Смертельные захваты внезапного затмения"
        href="https://www.wowhead.com/ru/item=237665/смертельные-захваты-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Ноги: <WH
        text="Штаны внезапного затмения"
        href="https://www.wowhead.com/ru/item=237663/штаны-внезапного-затмения?ilvl=723"
      />
    </li>
    <li>
      Плащ: <WH
        text="Повязки реши"
        href="https://www.wowhead.com/ru/item=235499/повязки-реши?bonus=12399:9893:12256&class=4&hero=52&ilvl=730&spec=259"
      />
    </li>
    <li>
      Запястья: <WH
        text="Поручи с руническим клеймом"
        href="https://www.wowhead.com/ru/item=219334/поручи-с-руническим-клеймом?bonus=10421:9633:8902:10520:8960:8795:523&hero=51&ilvl=720&spec=261"
      />
    </li>
    <li>
      Ступни: <WH
        text="Укрепленные сандалии захватчика"
        href="https://www.wowhead.com/ru/item=243306/укрепленные-сандалии-захватчика?bonus=13504&class=4&hero=52&ilvl=723&spec=259"
      />
    </li>
    <li>
      Кольцо 1: <WH
        text="Печатка высшего неруба"
        href="https://www.wowhead.com/ru/item=221141/печатка-высшего-неруба?bonus=8781&hero=51&ilvl=723&spec=261"
      />
    </li>
    <li>
      Аксессуар 1: <WH
        text="Незыблемая призма Пустоты"
        href="https://www.wowhead.com/ru/item=242396/незыблемая-призма-пустоты?hero=51&ilvl=723&spec=261"
      />
    </li>
    <li>
      Аксессуар 2:<WH
        text="Астральный усик"
        href="https://www.wowhead.com/ru/item=242395/астральный-усик?class=4&hero=51&ilvl=723&spec=261"
      /> или <WH
        text="Ритуальный горн Араза"
        href="https://www.wowhead.com/ru/item=242402/ритуальный-горн-араза?bonus=40:10356:12361:1533:10255&hero=51&ilvl=723&spec=261"
      />
    </li>
    <Comment
      ><WH
        text="Ритуальный горн Араза"
        href="https://www.wowhead.com/ru/item=242402/ритуальный-горн-араза?bonus=40:10356:12361:1533:10255&hero=51&ilvl=723&spec=261"
      /> + <WH
        text="Незыблемая призма Пустоты"
        href="https://www.wowhead.com/ru/item=242396/незыблемая-призма-пустоты?hero=51&ilvl=723&spec=261"
      /> - лучший вариант, но немного сложнее в исполнении. Сначала жмется <WH
        text="Ритуальный горн Араза"
        href="https://www.wowhead.com/ru/item=242402/ритуальный-горн-араза?bonus=40:10356:12361:1533:10255&hero=51&ilvl=723&spec=261"
      />, затем <WH
        text="Незыблемая призма Пустоты"
        href="https://www.wowhead.com/ru/item=242396/незыблемая-призма-пустоты?hero=51&ilvl=723&spec=261"
      /> под вторые бурсты. Затем под 3 бурст (на 3 минуте) жмется снова <WH
        text="Ритуальный горн Араза"
        href="https://www.wowhead.com/ru/item=242402/ритуальный-горн-араза?bonus=40:10356:12361:1533:10255&hero=51&ilvl=723&spec=261"
      /> и под 4 бурст - <WH
        text="Незыблемая призма Пустоты"
        href="https://www.wowhead.com/ru/item=242396/незыблемая-призма-пустоты?hero=51&ilvl=723&spec=261"
      /></Comment
    >
    <li>
      МХ: <WH
        text="Изумительный резчик генов"
        href="https://www.wowhead.com/ru/item=237729/изумительный-резчик-генов?class=4&hero=51&ilvl=723&spec=261"
      /> |<WH
        text="Мстительный шип Пустоты"
        href="https://www.wowhead.com/ru/item=237740/мстительный-шип-пустоты?bonus=4800:4786:1533:12361&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Украшенный клинок Парсона"
        href="https://www.wowhead.com/ru/item=221138/украшенный-клинок-парсона?bonus=4786:3215:12361&hero=51&ilvl=723&spec=261"
      />
    </li>

    <span class="text-sub py-3">Вариативные вещи:</span>
    <li>
      Кольцо 2: <WH
        text="Энтропия"
        href="https://www.wowhead.com/ru/item=238036/энтропия?bonus=1533:12361:12239:1745:8781&hero=51&ilvl=723&spec=261"
      /> - лучший вариант для второго кольца, подойдет любая комбинация без скорости
      (но лучше с универсальностью). Скорее всего будет стоить очень дорого, поэтому
      как альтернативы: <WH
        text="Печать паноплии"
        href="https://www.wowhead.com/ru/item=185840/печать-паноплии?bonus=4786:10035:12361:8781&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Сияющий перстень некроманта"
        href="https://www.wowhead.com/ru/item=221200/сияющий-перстень-некроманта?bonus=4786:3215:12361:8781&ilvl=723&spec=261"
      /> | <WH
        text="Логическая схема Альфа"
        href="https://www.wowhead.com/ru/item=237567/логическая-схема-альфа?bonus=4799:4786:1514:12353:8781&hero=51&ilvl=704&spec=261"
      />.
    </li>
    <li>
      Пояс: <WH
        text="Жуткий пояс жнеца"
        href="https://www.wowhead.com/ru/item=237557/жуткий-пояс-жнеца?bonus=4800:4786:1533:12361:523&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Атомный фазовый пояс"
        href="https://www.wowhead.com/ru/item=237533/атомный-фазовый-пояс?bonus=4800:4786:1533:12361:523&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Шнурованный ремень из трофейной шкуры ползуна"
        href="https://www.wowhead.com/ru/item=238027/шнурованный-ремень-из-трофейной-шкуры-ползуна?bonus=4800:4786:1533:12361:523&crafted-stats=49:40&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Шнурованный ремень темной преданности"
        href="https://www.wowhead.com/ru/item=178823/шнурованный-ремень-темной-преданности?bonus=4786:10032:12361&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Пояс теневого прихожанина"
        href="https://www.wowhead.com/ru/item=221134/пояс-теневого-прихожанина?bonus=4786:3215:12361&hero=51&ilvl=723&spec=261"
      /> - подойдёт любой
    </li>
    <span class="text-sub py-3">Вариации с крафтом:</span>
    <span
      >Для крафта рассматривается только 2 слота, помимо запястий: шея и кинжал.
      По дпсу ВСЕ эти комбинации идентичны (естественно при условии 723 бис вещи
      в оставшемся слоте). Ниже я напишу крафт, а также бис альтернативу, если в
      этом слоте нету крафта</span
    >
    <li>
      Вариант 1: <WH
        text="Амулет мастерства земельников"
        href="https://www.wowhead.com/ru/item=215136/амулет-мастерства-земельников?bonus=10421:9633:8902:10396:9627:10222:12043:12040:8794:8781&crafted-stats=49:32&crafting-quality=8&ilvl=675&spec=259"
      /> (универсальность + искусность / крит, вешается только <WH
        text="Стихийная фокусирующая линза"
        href="https://www.wowhead.com/ru/item=213770/стихийная-фокусирующая-линза"
      />) + <WH
        text="Изумительный резчик генов"
        href="https://www.wowhead.com/ru/item=237729/изумительный-резчик-генов?class=4&hero=51&ilvl=723&spec=261"
      /> |<WH
        text="Мстительный шип Пустоты"
        href="https://www.wowhead.com/ru/item=237740/мстительный-шип-пустоты?bonus=4800:4786:1533:12361&hero=51&ilvl=723&spec=261"
      /> | <WH
        text="Украшенный клинок Парсона"
        href="https://www.wowhead.com/ru/item=221138/украшенный-клинок-парсона?bonus=4786:3215:12361&hero=51&ilvl=723&spec=261"
      />
    </li>
    <li>
      Вариант 2: <WH
        text="Выкованный навеки пронзатель"
        href="https://www.wowhead.com/ru/item=222438/выкованный-навеки-пронзатель?bonus=10421:9633:8902:8791&ilvl=720&spec=259"
      /> (ОХ) + <WH
        text="Мамочкин мегамедальон"
        href="https://www.wowhead.com/ru/item=251880/мамочкин-мегамедальон?bonus=4786:1572:12361:8781&hero=51&ilvl=723&spec=261"
      /> |
      <WH
        text="Окровавленный сувенир"
        href="https://www.wowhead.com/ru/item=252009/окровавленный-сувенир?bonus=4786:1572:12361:8781&hero=51&ilvl=723&spec=261"
      />
    </li>
  </ul>
</div>
