---
import WH from "../WH.astro";
---

<ul
  class="list-inside list-decimal flex flex-col items-start p-[20px] border border-border rounded-md text-left gap-[10px]"
>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    />
  </li>
  <li>
    <WH
      text="Мясорубка"
      href="https://www.wowhead.com/ru/spell=315496/мясорубка"
    /> если неактивна или не сильно много целей (см. раздел финишеров ниже)
  </li>
  <li>
    <WH
      text="Удар Тьмы"
      href="https://www.wowhead.com/ru/spell=185438/удар-тьмы"
    /> до 5+ кп
  </li>
  <li>
    <WH
      text="Флагелляция"
      href="https://www.wowhead.com/ru/spell=384631/флагелляция"
    />
  </li>
  <li>
    <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    />
  </li>
  <li>
    <WH
      text="Торнадо из сюрикэнов"
      href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
    />
  </li>
  <li>
    <WH
      text="Символы смерти"
      href="https://www.wowhead.com/ru/spell=212283/символы-смерти"
    /> + <WH
      text="Теневые клинки"
      href="https://www.wowhead.com/ru/spell=121471/теневые-клинки"
    /> + <WH
      text="Танец теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> (через секунду после использования <WH
      text="Торнадо из сюрикэнов"
      href="https://www.wowhead.com/ru/spell=277925/торнадо-из-сюрикэнов"
    />, до того как вылетел первый шквал)
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <li>
    <WH
      text="Хладнокровие"
      href="https://www.wowhead.com/ru/spell=382245/хладнокровие"
    /> + <WH
      text="Тайный прием"
      href="https://www.wowhead.com/ru/spell=280719/тайный-прием"
    />
  </li>
  <li>
    <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />
  </li>
  <span class="my-[10px]"
    >Дальнейшая ротация DB билда сводится к развешиванию <WH
      text="Рваная рана"
      href="https://www.wowhead.com/ru/spell=1943/рваная-рана"
    /> после <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /> на все цели, что проживут хотя бы 12 секунд.</span
  >
  <span
    >Пока действует <WH
      text="Безупречная техника"
      href="https://www.wowhead.com/ru/spell=441326/безупречная-техника"
    /> вы всегда бьете <WH
      text="Потрошение"
      href="https://www.wowhead.com/ru/spell=196819/потрошение"
    />, а не <WH
      text="Черный порох"
      href="https://www.wowhead.com/ru/spell=319175/черный-порох"
    /></span
  >
  <span>
    <WH
      text="Шквал сюрикэнов"
      href="https://www.wowhead.com/ru/spell=197835/шквал-сюрикэнов"
    /> используется только вне <WH
      text="Танца теней"
      href="https://www.wowhead.com/ru/spell=185313/танец-теней"
    /></span
  >
</ul>
