---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<details class="group w-full">
  <summary
    class="flex justify-between items-center font-medium bg-black px-[16px] py-[10px] cursor-pointer select-none border border-border list-none"
  >
    <span class="text-start">{title}</span>
    <span class="transition group-open:rotate-180">
      <svg
        fill="none"
        height="24"
        shape-rendering="geometricPrecision"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        width="24"
        ><path d="M6 9l6 6 6-6"></path>
      </svg>
    </span></summary
  >
  <div
    class="border border-t-0 border-border flex flex-col gap-[16px] p-[5px] xl:p-[10px]"
  >
    <slot />
  </div>
</details>
