---
type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<span class={`mx-2 italic text-base leading-relaxed text-gray-400 w-full hidden ${className}`}>
  <slot />
</span>
