<footer
  class="flex justify-center items-center self-end font-bold w-full relative bottom-0 left-0 z-40 bg-header h-[40px]"
>
  <ul class="px-4">
    <li>
      <p class="text-white text-[20px] font-bold">© MainX</p>
    </li>
  </ul>
</footer>
