---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<h2 class="font-philosopher text-white font-bold text-center select-none">{text}</h2>
<div class="border-0 border-b-2 w-[200px] mb-[25px]"></div>
