---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<h3
  class="text-white text-center font-philosopher font-bold text-[24px] underline decoration-dotted decoration-1 my-[10px] w-full"
>
  {text}
  <slot />
</h3>
