---
import H2 from "./H2.astro";
import { outlawMenuItems } from "../constants/content";
import Accordion from "./Accordion.astro";
---

<section
  id={outlawMenuItems[7].to}
  class="w-full h-full flex flex-col gap-[16px] justify-center items-center text-clamp_heading text-secondary text-left"
>
  <H2 text={outlawMenuItems[7].label} />
  <ul
    class="list-none flex flex-col xl:items-center gap-[10px] w-full text-clamp_text"
  >
    <li class="w-full">
      <Accordion title="1. Фокус по маусоверу">
        <p class="p-[5px]">
          Я считаю этот макрос обязательным, особенно для ключей. Он позволяет
          быстро взять в фокус при наведении курсора, не требуется никаких
          переключений и TAB.
        </p>
        <pre><code class="text-base">/focus [@mouseover, exists][]</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion
        title="2. Хладнокровие + Тайный приём / Устранение / Отравление"
      >
        <pre><code class="text-base">#showtooltip
/cast [known:382245] Хладнокровие
/cast [spec:1] Отравление
/cast [spec:2] Устранение
/cast [spec:3, known:280719] Тайный прием
/cast [noknown:280719] Продолжительная отповедь</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="3. Рваная рана по маусоверу / фокусу">
        <p class="p-[5px]">
          Рваная рана используется в курсор мыши, если там враг. Если под
          курсором союзник | вы | никого нету, то используется в текущую цель. С
          CTRL используется по фокусу. Аналогичные макросы я использую на
          Гарроту. Благодаря этим макросам вам меньше придется переключаться с
          помощью TAB
        </p>
        <pre><code class="text-base">#showtooltip
/cast [nomod,@mouseover, harm][mod:ctrl,@focus][] Рваная рана</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="4. АоЕ способности на одну кнопку">
        <pre><code class="text-base">#showtooltip
/cast
[spec:1,nomod] Веер клинков; [spec:1,mod:shift] Кровавый вихрь;
[spec:2,nomod] Шквал клинков; [spec:2,mod:shift,known:271877] Натиск клинка
[spec:3,nomod] Шквал сюрикэнов; [spec:3,mod:shift] Черный порох</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="5. Лечебный набор">
        <pre><code class="text-base">#showtooltip
/cast [nomod] Алый фиал
/cast [mod:shift] Камень здоровья
/cast [mod:ctrl] Лечебное зелье сновидца
/cast [mod:alt] Скорополоховый чай
</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="6. Пинок / ошеломление в цель / по фокусу">
        <p class="p-[5px]">
          Обязательный макрос на пинок по фокусу. Никогда не используйте обычный
          макрос на пинок по фокусу (если есть), так вы не сможете сбить
          заклинание цели при наличии фокуса. Вы должны иметь и обычный пинок в
          цель и пинок по фокусу. В данном макросе используется пинок в фокус
          при нажатии CTRL, при ALT - ошеломление в фокус. Естественно,
          модификаторы вы можете поменять под себя. Аналогичные макросы я
          использую для Удара по почкам и Ослепления (в цель и в фокус)
        </p>
        <pre><code class="text-base">#showtooltip
/cast [nomod][mod:ctrl, @focus, exists, harm] Пинок; [mod: alt, @focus, exists, harm] Ошеломление</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="7. Маленькие хитрости">
        <p class="p-[5px]">
          Без модификатора: если под курсором союзник - кидает в него, иначе
          кидает в вашу цель. С SHIFT / CTRL - первый / второй танк в вашем
          рейде (ники вписать руками вместо НИК1 и НИК2). С ALT - на первую
          позицию в группе (сверху вниз), это всегда лидер группы (в м+ обычно
          это танк). Можно заменить этот макрос викаурой: <a
            href="https://wago.io/n9Sg1NLb5"
            class="text-hover hover:opacity-80">Smart Misdirect Updated</a
          >. Она очень удобно для ключей, но не всегда подходит для рейда, так
          как вы сами не сможете выбирать танка, на которого требуется повесить
          хитрости, а это может быть важно, если за время боя вам приходится
          кидать не только на основного танка. Поэтому я пользуюсь макросом.
        </p>
        <pre><code class="text-base">#showtooltip
/cast [nomod, @mouseover, help][mod:shift, @НИК1][mod:ctrl, @НИК2][mod:alt,@party1][] Маленькие хитрости</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="8. Незаметность / отмена Танца теней">
        <p class="p-[5px]">
          Отменяет танец теней (т.к. в нем нельзя зайти в незаметность) и
          использует незаметность (повторные нажатия не выводят из незаметности,
          можно спамить). Многие используют макрос на незаметность в паре с
          Исчезновением (вида: /cast [combat] Исчезновение /cast [nocombat]
          Незаметность). Хоть это и "освобождает" одну кнопку, но в реальности
          много моментов, когда бой вешается сам по себе (например из-за
          сломанного сета / способностей мобов и прочего) и вы сольете
          исчезновение там, где можно было подождать 1 сек и нажать обычную
          незаметность. При этом вас нельзя спамить такой макрос (например если
          вы хотите рестелснуться на аффиксе с духами), поэтому я не рекомендую
          использовать их вместе.
        </p>
        <pre><code class="text-base">#showtooltip
/cancelaura [nocombat] Танец теней
/cast !Незаметность</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="9. Бурст макрос (скрытность)">
        <p class="p-[5px]">
          Довольно большой макрос на все варианты бурстов саба, создан для того,
          чтобы не терять миллсекунды при начале опенера (иногда из-за реакции,
          пинга, окна очереди и прочего теряется целое гкд в танце).
        </p>
        <pre
          class="text-start border-y-0"><code class="text-base">/cqs
/cast Танец теней
/cast Символы смерти
/cast Теневые клинки
/cast [mod:shift,noknown:382505] Удар тьмы;[mod:shift,known:382505] Удар в спину
/cast [mod:ctrl] Потрошение
/cast [mod:alt] Рваная рана
</code></pre>
        <p class="p-[5px]">
          Пояснения: /cqs - отменяет очередь окна заклинаний, чтобы ничего
          лишнего не нажалось. При нажатии без модификатора нажимается: Танец +
          Символы + Клинки. При нажатии с SHIFT: Танец + Символы + Клинки + Удар
          в спину (если взят талант Первый танец), либо Удар тьмы (если не взят
          талант Первый танец). При нажатии с CTRL: Танец + Символы + Клинки +
          Потрошение (оптимальный заход в танец, если у вас много кп + не нужно
          обновлять Рваную рану). При нажатии с ALT: Танец + Символы + Клинки +
          Рваная рана (для захода в танец, когда нужно повесить рваную рану под
          баффаом Завершения)
        </p>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="10. Макрос на окно очереди заклинаний">
        <p class="p-[5px]">
          Подробнее про то, что это такое и как работает можно прочитать у
          коллег шаманов: <a
            href="https://stormkeeper.ru/info/sqw.html"
            class="text-hover hover:opacity-80">stormkeeper.ru</a
          >
        </p>
        <pre><code class="text-base">/dump GetCVar("SpellQueueWindow")
/console SpellQueueWindow 150</code></pre>
      </Accordion>
    </li>
    <li class="w-full">
      <Accordion title="11. Макросы для головореза">
        <p class="p-[5px]">
          Первый макрос убирает "лишние" нажатия при спаме, что позволит точно
          использовать Промеж глаз, а не другую способность. Второй макрос -
          казуальный вариант для филлеров, где Призрачный удар жмется вместе с
          любой абилкой по откату. Это не идеальный макрос и будет приводить к
          простоям энергии, если вы не будете отслеживать. Так что используйте
          по своему усмотрению.
        </p>
        <pre><code class="text-base">
#showtooltip
/cqs
/cast [known:423703, stance] Промеж глаз; [known:423703, nostance] Устранение; [noknown:423703] Устранение
        </code></pre>
        <pre><code class="text-base">
#showtooltip
/cast [known:196937] Призрачный удар
/cast [known:381845, stance] Внезапный удар; [known:381845, nostance] Коварный удар; [noknown:381845] Коварный удар
        </code></pre>
      </Accordion>
    </li>
  </ul>
  <p class="text-clamp_text text-center">
    Конечно у меня намного больше макросов, если вы хотите ознакомиться с ними
    (а также с биндами), то это можно сделать тут <a
      href="https://docs.google.com/document/d/1mr5smVgBfBziMB3S1E1MUwhsONZlp7eOyR3gWryKPCc/edit#heading=h.agfm9eksug9f"
      class="text-hover hover:opacity-80">Макросы и бинды</a
    >
  </p>
</section>
