@tailwind base;
@tailwind components;
@tailwind utilities;

.iconsmall del {
  background-image: none !important;
  width: 18px !important;
  height: 18px !important;
  background-position: center !important;
}

.iconsmall ins {
  left: 4px !important;
  top: 3px !important;
  outline: 1px solid black;
}

pre {
  position: relative;
  max-width: 100%;
  padding: 10px 40px 10px 10px;
  overflow: visible;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(64 64 64);
  text-align: left;
}

pre copy-code-button {
  position: absolute;
  top: 4px;
  right: 4px;
}

.q1,
.q2,
.q3,
.q4 {
  color: #e5cc80 !important;
}

label:has(.checkbox:checked) ~ ul .hidden-item {
  display: none;
}

label:has(.checkbox:checked) ~ ul .visible-item {
  display: inline;
}

label:has(.checkbox-2:checked) ~ ul .hidden-item-2 {
  display: none;
}

label:has(.checkbox-2:checked) ~ ul .visible-item-2 {
  display: inline;
}

label:has(.checkbox-3:checked) ~ ul .visible-comment {
  display: inline;
}

label:has(.checkbox:checked) + label:has(.checkbox-3:checked) ~ ul .visible-comment-spell {
  display: inline;
}
