---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Палата теней",
  description = "Палата теней",
  image = "",
} = Astro.props as Props;
---

<!doctype html>
<html class="h-[100%]" lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const whTooltips = {
        iconSize: "small",
        colorLinks: true,
        iconizeLinks: true,
        renameLinks: false,
      };
    </script>
    <script src="https://wow.zamimg.com/js/tooltips.js" is:inline></script>
    <script>
      import "../components/CodeButtons/copy-code-button";
      import "../components/CodeButtons/create-copy-buttons";
    </script>
    <link rel="stylesheet" href="/styles/input.css" />
  </head>
  <body
    class="font-montserrat bg-neutral-900 min-h-[100%] grid grid-rows-[auto_1fr_auto]"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
